<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableSliderMargin</key>
	<string>rowForStyle</string>
	<key>concurrentTernaryFormat</key>
	<string>requestOrState</string>
	<key>isolateScopeIndex</key>
	<string>grainProcessRotation</string>
	<key>particleAroundOperation</key>
	<string>heapStrategyTint</string>
	<key>titlePhaseBorder</key>
	<string>contractionMediatorTransparency</string>
</dict>
</plist>
