<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentBehaviorAppearance</key>
	<string>significantStorageRate</string>
	<key>cycleModeLocation</key>
	<string>drawerModeType</string>
	<key>exponentIncludeLayer</key>
	<string>layoutOperationEdge</string>
	<key>gridviewAlongActivity</key>
	<string>sustainableGramSkewx</string>
	<key>hierarchicalThreadOffset</key>
	<string>sensorByJob</string>
	<key>immutableCaptionOffset</key>
	<string>sessionInterpreterCenter</string>
	<key>roleVersusLayer</key>
	<string>storageAmongMode</string>
	<key>scaffoldByVisitor</key>
	<string>tappableNormDensity</string>
	<key>sharedLocalizationForce</key>
	<string>layerVarFrequency</string>
	<key>spotContainInterpreter</key>
	<string>missedChannelsEdge</string>
</dict>
</plist>
