<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowLikeLevel</key>
	<string>metadataOrForm</string>
	<key>histogramAtCycle</key>
	<string>multiplicationForVariable</string>
	<key>marginProcessColor</key>
	<string>errorSystemOrientation</string>
	<key>mediumRadiusPressure</key>
	<string>directlyNodeColor</string>
	<key>responseAgainstVisitor</key>
	<string>utilBesideComposite</string>
	<key>switchInterpreterBorder</key>
	<string>checklistIncludeComposite</string>
</dict>
</plist>
