<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directProviderEdge</key>
	<string>euclideanModelShape</string>
	<key>imageAndChain</key>
	<string>uniformMobileLeft</string>
	<key>independentViewState</key>
	<string>blocThroughFlyweight</string>
	<key>nextIntensityOrigin</key>
	<string>persistentSizeSkewx</string>
	<key>pinchableRouteLocation</key>
	<string>injectionPatternRight</string>
	<key>previewWithInterpreter</key>
	<string>serviceForVariable</string>
	<key>publicAspectratioTheme</key>
	<string>storeOperationTag</string>
	<key>themeStageBrightness</key>
	<string>draggableWidgetBehavior</string>
</dict>
</plist>
