<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDescriptorBorder</key>
	<string>navigatorFromBridge</string>
	<key>containerAwayShape</key>
	<string>newestBufferDuration</string>
	<key>effectActionAcceleration</key>
	<string>serviceDuringMode</string>
	<key>lazyCheckboxSpacing</key>
	<string>drawerAroundVariable</string>
	<key>scaleBridgeCoord</key>
	<string>eventInValue</string>
	<key>streamTaskInteraction</key>
	<string>screenAroundPrototype</string>
	<key>subsequentNotifierPosition</key>
	<string>basicCompositionInteraction</string>
	<key>widgetShapeBottom</key>
	<string>localScaleCount</string>
</dict>
</plist>
