<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAboutBuffer</key>
	<string>permanentTextDistance</string>
	<key>paddingPlatformStyle</key>
	<string>agileLabelMomentum</string>
	<key>sceneChainType</key>
	<string>agileBufferRotation</string>
	<key>specifyExponentAcceleration</key>
	<string>requiredPromiseAppearance</string>
	<key>stackBridgePressure</key>
	<string>layerModeTail</string>
	<key>storageCommandSize</key>
	<string>bitrateBeyondPhase</string>
</dict>
</plist>
