<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineCycleKind</key>
	<string>positionForTier</string>
	<key>declarativeLocalizationMargin</key>
	<string>activeAlignmentOffset</string>
	<key>logarithmContainMediator</key>
	<string>constraintVisitorState</string>
	<key>multiListenerPadding</key>
	<string>listviewModeDuration</string>
	<key>presenterContextBrightness</key>
	<string>mobileAgainstTier</string>
	<key>prevGemDelay</key>
	<string>decorationAndMethod</string>
	<key>retainedResourceDirection</key>
	<string>customGemTension</string>
	<key>routeContainInterpreter</key>
	<string>arithmeticParamOrigin</string>
</dict>
</plist>
