<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTextStyle</key>
	<string>multiBuilderOrientation</string>
	<key>containerAmongPhase</key>
	<string>buttonTaskState</string>
	<key>painterFlyweightTail</key>
	<string>observerFrameworkResponse</string>
	<key>signatureThroughAction</key>
	<string>commonWidgetDirection</string>
	<key>spotFrameworkVisibility</key>
	<string>overlayFormDirection</string>
	<key>storageMethodIndex</key>
	<string>keyCubitSkewx</string>
	<key>textfieldLayerShade</key>
	<string>oldCardInterval</string>
</dict>
</plist>
