<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredRectDirection</key>
	<string>rowNearPlatform</string>
	<key>layerPrototypeTension</key>
	<string>asyncBlocKind</string>
	<key>scaleUntilInterpreter</key>
	<string>providerCompositePressure</string>
	<key>storeWorkBehavior</key>
	<string>invisibleCycleForce</string>
	<key>sustainableDurationDepth</key>
	<string>interactorNumberStatus</string>
	<key>ternaryPerMemento</key>
	<string>prismaticListenerTheme</string>
	<key>widgetOutsideMethod</key>
	<string>geometricTabbarMomentum</string>
</dict>
</plist>
