<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedGramFormat</key>
	<string>delegateAroundLayer</string>
	<key>backwardSessionForce</key>
	<string>curveLikeParameter</string>
	<key>denseRouterSpacing</key>
	<string>temporaryBehaviorSpeed</string>
	<key>exponentChainResponse</key>
	<string>vectorVisitorSpacing</string>
	<key>grayscaleStyleSaturation</key>
	<string>gesturedetectorFrameworkShape</string>
	<key>momentumNearForm</key>
	<string>smartTextOrientation</string>
	<key>multiBuilderVisible</key>
	<string>timerScopeOrigin</string>
	<key>ternaryModeFeedback</key>
	<string>scaffoldLevelBrightness</string>
	<key>unactivatedOperationShape</key>
	<string>matrixFunctionRotation</string>
</dict>
</plist>
