<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxStrategyDirection</key>
	<string>kernelContainType</string>
	<key>constraintWithoutSingleton</key>
	<string>resizableGiftTag</string>
	<key>metadataStateRotation</key>
	<string>uniquePositionedIndex</string>
</dict>
</plist>
