<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledBlocTint</key>
	<string>multiSliderStatus</string>
	<key>newestSizeShade</key>
	<string>arithmeticAtTemple</string>
	<key>originalInterfaceTop</key>
	<string>draggableDescriptorTension</string>
	<key>statefulAwayActivity</key>
	<string>cardStrategyBottom</string>
	<key>streamPhaseOrientation</key>
	<string>requiredProjectDuration</string>
	<key>zoneNearFramework</key>
	<string>baselineDuringProxy</string>
</dict>
</plist>
