<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaInterpreterDirection</key>
	<string>interpolationViaLevel</string>
	<key>blocAroundValue</key>
	<string>alphaInsideStrategy</string>
	<key>bulletViaStructure</key>
	<string>streamUntilJob</string>
	<key>giftModeTheme</key>
	<string>cosineWithWork</string>
	<key>reductionAmongObserver</key>
	<string>futureAtShape</string>
	<key>titleTaskAcceleration</key>
	<string>tabviewParameterCoord</string>
	<key>viewSingletonSize</key>
	<string>permissiveConstraintState</string>
	<key>webFutureInset</key>
	<string>marginPhasePadding</string>
</dict>
</plist>
