<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithoutFunction</key>
	<string>cellAsPattern</string>
	<key>dialogsDuringWork</key>
	<string>reducerCompositeTag</string>
	<key>largeOptionOpacity</key>
	<string>hierarchicalFutureSkewy</string>
	<key>relationalAlignmentScale</key>
	<string>clipperAdapterTheme</string>
	<key>skirtAgainstCommand</key>
	<string>storageOfMemento</string>
	<key>symbolAwayParam</key>
	<string>ephemeralProviderOpacity</string>
</dict>
</plist>
