<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorInsideFlyweight</key>
	<string>robustTitleOrigin</string>
	<key>isolateSingletonIndex</key>
	<string>segueAwayContext</string>
	<key>modalInCycle</key>
	<string>resultThanPhase</string>
	<key>navigatorPrototypeContrast</key>
	<string>statelessScrollVelocity</string>
	<key>oldSpriteInteraction</key>
	<string>flexWithBridge</string>
	<key>respectiveSceneForce</key>
	<string>substantialSampleShade</string>
	<key>tickerFrameworkDepth</key>
	<string>cursorDuringComposite</string>
	<key>transitionBufferTransparency</key>
	<string>disabledDescriptorType</string>
</dict>
</plist>
