<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSliderValidation</key>
	<string>streamAtComposite</string>
	<key>behaviorPlatformSkewy</key>
	<string>binaryVariableBound</string>
	<key>indicatorFacadeInset</key>
	<string>presenterUntilValue</string>
	<key>notificationOfCycle</key>
	<string>basicResultOrigin</string>
	<key>overlayContainFlyweight</key>
	<string>dialogsAwayFunction</string>
	<key>slashFrameworkFormat</key>
	<string>agileObserverLocation</string>
	<key>tensorReferenceDistance</key>
	<string>commonSegueTransparency</string>
</dict>
</plist>
