<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMaterialDistance</key>
	<string>sequentialBoxType</string>
	<key>cubitBeyondProcess</key>
	<string>completerForObserver</string>
	<key>denseInterfacePadding</key>
	<string>presenterAmongShape</string>
	<key>inkwellWithSingleton</key>
	<string>factoryTempleShade</string>
	<key>taskPerAdapter</key>
	<string>iconIncludeType</string>
</dict>
</plist>
