<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleDialogsSize</key>
	<string>stateOperationSkewy</string>
	<key>agileVectorOrientation</key>
	<string>immediateTechniqueAlignment</string>
	<key>concurrentTableInset</key>
	<string>spriteDecoratorDirection</string>
	<key>graphUntilCycle</key>
	<string>curveMementoTheme</string>
	<key>mobileWithoutComposite</key>
	<string>durationPhaseType</string>
	<key>scaffoldStructureAlignment</key>
	<string>sequentialFeaturePadding</string>
	<key>significantNotificationAcceleration</key>
	<string>statelessDescriptorDensity</string>
	<key>textureWorkAppearance</key>
	<string>asyncBesideWork</string>
</dict>
</plist>
