<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheDespiteParameter</key>
	<string>factoryPlatformLocation</string>
	<key>canvasTierFeedback</key>
	<string>tappableConstraintShade</string>
	<key>radioAroundPrototype</key>
	<string>uniformResolverPressure</string>
	<key>sessionIncludeStyle</key>
	<string>semanticsJobStatus</string>
	<key>uniformHeroLocation</key>
	<string>tweenOutsideLayer</string>
</dict>
</plist>
