<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileSliderOrientation</key>
	<string>relationalPopupBehavior</string>
	<key>awaitOutsideStage</key>
	<string>activityThroughLayer</string>
	<key>baselineAndStructure</key>
	<string>delicateStoryboardBehavior</string>
	<key>cupertinoContainScope</key>
	<string>animationBeyondAction</string>
	<key>dimensionIncludeBuffer</key>
	<string>apertureThroughStructure</string>
	<key>errorAsPattern</key>
	<string>subtleTransformerFormat</string>
</dict>
</plist>
