<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationProxySkewy</key>
	<string>easyChartPosition</string>
	<key>curveOfActivity</key>
	<string>resilientPresenterTransparency</string>
	<key>euclideanApertureValidation</key>
	<string>commonRadiusFrequency</string>
	<key>eventObserverCoord</key>
	<string>granularResolverVelocity</string>
	<key>finalDecorationKind</key>
	<string>relationalStateOffset</string>
	<key>gramDespiteSystem</key>
	<string>cupertinoReducerVisible</string>
	<key>observerDuringAction</key>
	<string>sinkThroughInterpreter</string>
	<key>secondResponseRate</key>
	<string>pinchableSingletonTail</string>
	<key>sharedLayoutMode</key>
	<string>otherManagerDepth</string>
	<key>staticModalDensity</key>
	<string>metadataActivityPressure</string>
</dict>
</plist>
