<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDespiteScope</key>
	<string>navigatorBesideMediator</string>
	<key>gesturedetectorLikeBridge</key>
	<string>controllerKindVelocity</string>
	<key>masterPatternMargin</key>
	<string>taskFromCommand</string>
	<key>opaqueQueryVelocity</key>
	<string>keySizedboxCount</string>
	<key>paddingActionVisibility</key>
	<string>currentLayerLeft</string>
	<key>parallelOffsetBottom</key>
	<string>kernelInterpreterFeedback</string>
	<key>positionPerFramework</key>
	<string>masterInterpreterType</string>
</dict>
</plist>
