<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialControllerScale</key>
	<string>visibleMethodState</string>
	<key>resolverAndWork</key>
	<string>multiInterfaceTension</string>
	<key>responseByVariable</key>
	<string>subscriptionDuringVisitor</string>
	<key>tweenVersusComposite</key>
	<string>routerAmongScope</string>
</dict>
</plist>
