<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridThanTask</key>
	<string>containerWorkAcceleration</string>
	<key>smartDependencyVisibility</key>
	<string>baseLayerBottom</string>
	<key>statefulCubitTail</key>
	<string>materialTempleName</string>
	<key>touchDuringVar</key>
	<string>asyncOperationForce</string>
	<key>viewBySystem</key>
	<string>cellMethodOrientation</string>
</dict>
</plist>
