<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularRadiusType</key>
	<string>textJobSkewx</string>
	<key>resilientIntensitySpeed</key>
	<string>relationalPaddingTheme</string>
	<key>resolverInterpreterDelay</key>
	<string>directlyBoxshadowRate</string>
	<key>swiftFormVisibility</key>
	<string>uniqueCardRotation</string>
	<key>tickerLevelTension</key>
	<string>consultativeSlashFrequency</string>
	<key>tweenNearScope</key>
	<string>usedSineStatus</string>
</dict>
</plist>
