<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorInPlatform</key>
	<string>streamMediatorMargin</string>
	<key>delicateNavigatorState</key>
	<string>activatedChannelFeedback</string>
	<key>elasticQueueShade</key>
	<string>iconContextFlags</string>
	<key>layerAdapterInterval</key>
	<string>concreteCursorAcceleration</string>
	<key>nibAlongLayer</key>
	<string>streamByLayer</string>
	<key>primaryGiftTension</key>
	<string>pageviewVariableShade</string>
	<key>semanticsThroughParam</key>
	<string>disparateArithmeticSpeed</string>
	<key>stepBeyondLevel</key>
	<string>activityAndOperation</string>
</dict>
</plist>
