<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideFlyweight</key>
	<string>titleAndFlyweight</string>
	<key>labelAroundMediator</key>
	<string>modelAroundState</string>
	<key>sophisticatedChecklistPadding</key>
	<string>hierarchicalAlertDelay</string>
</dict>
</plist>
