<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAtTier</key>
	<string>interfaceMementoMode</string>
	<key>curveShapeTheme</key>
	<string>activatedOptimizerVisibility</string>
	<key>grainLayerTint</key>
	<string>granularCallbackSize</string>
	<key>interactiveLayerFeedback</key>
	<string>referenceLikeParameter</string>
	<key>permissiveStampFormat</key>
	<string>sizedboxOfBuffer</string>
	<key>radioPerWork</key>
	<string>euclideanCapacitiesSaturation</string>
	<key>relationalCellOrigin</key>
	<string>builderParameterStyle</string>
	<key>routeExceptAdapter</key>
	<string>certificateOfLayer</string>
	<key>sceneVersusComposite</key>
	<string>delegateTypeValidation</string>
	<key>tabviewBesideBridge</key>
	<string>secondButtonDistance</string>
</dict>
</plist>
