<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterInsideDecorator</key>
	<string>flexWithoutState</string>
	<key>durationAlongMethod</key>
	<string>clipperWorkTension</string>
	<key>functionalRowTail</key>
	<string>significantTouchCount</string>
</dict>
</plist>
