<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetUntilPhase</key>
	<string>presenterFrameworkAppearance</string>
	<key>certificateByStyle</key>
	<string>indicatorAwayKind</string>
	<key>functionalSingletonDistance</key>
	<string>controllerOperationTail</string>
	<key>numericalTweenBottom</key>
	<string>alphaViaFacade</string>
	<key>permissiveTextDistance</key>
	<string>basicApertureShape</string>
	<key>relationalControllerRight</key>
	<string>customPositionTail</string>
	<key>resourceNearKind</key>
	<string>actionCycleFeedback</string>
	<key>transitionStateBound</key>
	<string>descriptionVisitorRate</string>
</dict>
</plist>
