<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBuilderCount</key>
	<string>repositoryVisitorTheme</string>
	<key>contractionUntilNumber</key>
	<string>temporaryButtonMode</string>
	<key>crucialGateCount</key>
	<string>menuStageSpeed</string>
	<key>positionFunctionMargin</key>
	<string>providerPhaseResponse</string>
	<key>skirtWithoutVisitor</key>
	<string>reactiveScrollStatus</string>
</dict>
</plist>
