<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorValueCoord</key>
	<string>intensityFromContext</string>
	<key>baselineFormDistance</key>
	<string>effectPatternPadding</string>
	<key>concretePopupDuration</key>
	<string>materialCommandInset</string>
	<key>entityNumberAcceleration</key>
	<string>documentMementoTail</string>
	<key>layoutSingletonHead</key>
	<string>sineOutsideFacade</string>
	<key>optionStyleCenter</key>
	<string>advancedDurationCenter</string>
	<key>queueThanLayer</key>
	<string>memberFlyweightInteraction</string>
	<key>routeEnvironmentTag</key>
	<string>repositoryStyleCenter</string>
</dict>
</plist>
