<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelDespiteForm</key>
	<string>publicFactoryDistance</string>
	<key>concreteMatrixTension</key>
	<string>ignoredExceptionSpacing</string>
	<key>dynamicAnimationShade</key>
	<string>spriteTypeColor</string>
	<key>logSinceDecorator</key>
	<string>inkwellShapeSaturation</string>
</dict>
</plist>
