<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTaskVisibility</key>
	<string>accordionFactorySpacing</string>
	<key>mediaqueryAsKind</key>
	<string>scaffoldNearDecorator</string>
	<key>parallelTopicRight</key>
	<string>channelUntilTask</string>
	<key>statefulActivityFrequency</key>
	<string>keyCatalystOrientation</string>
	<key>textfieldTypeVisibility</key>
	<string>unactivatedTitleTag</string>
</dict>
</plist>
