<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanThemeOffset</key>
	<string>explicitTextfieldRight</string>
	<key>frameMediatorInset</key>
	<string>invisibleAnimationTransparency</string>
	<key>labelSingletonTag</key>
	<string>taskChainBehavior</string>
	<key>nativePointHead</key>
	<string>taskInterpreterMomentum</string>
	<key>normalFragmentTag</key>
	<string>hardGestureStyle</string>
	<key>otherViewPressure</key>
	<string>swiftContainAdapter</string>
	<key>skirtSinceType</key>
	<string>binaryLikeComposite</string>
	<key>spriteThanParam</key>
	<string>nextStorageEdge</string>
	<key>taskCompositeVisible</key>
	<string>scaleFlyweightLeft</string>
</dict>
</plist>
