<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonModeTheme</key>
	<string>asynchronousSliderPressure</string>
	<key>eagerHeapContrast</key>
	<string>previewAtForm</string>
	<key>gridviewTypeSize</key>
	<string>activatedProviderForce</string>
	<key>hyperbolicIsolateVelocity</key>
	<string>secondIndicatorCount</string>
	<key>immutablePromiseDirection</key>
	<string>errorStyleBound</string>
	<key>utilPerShape</key>
	<string>queryFormSpeed</string>
</dict>
</plist>
