<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>specifierAroundProcess</key>
	<string>uniformDurationRight</string>
	<key>storageShapeResponse</key>
	<string>commandAndWork</string>
	<key>tickerUntilFramework</key>
	<string>cubitContainMemento</string>
</dict>
</plist>
