<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCommandFeedback</key>
	<string>delicateRectOrientation</string>
	<key>alignmentAgainstStage</key>
	<string>streamPhaseValidation</string>
	<key>appbarOutsideChain</key>
	<string>seamlessTransitionInteraction</string>
	<key>constMomentumPosition</key>
	<string>chartAgainstMethod</string>
	<key>geometricLayerLocation</key>
	<string>unactivatedQueueLeft</string>
	<key>multiplicationAboutFunction</key>
	<string>statelessAmongStage</string>
	<key>storeShapeInset</key>
	<string>commandPerNumber</string>
	<key>sustainableAlertName</key>
	<string>columnOrLayer</string>
	<key>transitionAroundAdapter</key>
	<string>popupLevelSpeed</string>
</dict>
</plist>
