<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityLikeDecorator</key>
	<string>directlyTextSaturation</string>
	<key>materialSystemSize</key>
	<string>aspectVarAcceleration</string>
	<key>menuInterpreterResponse</key>
	<string>cupertinoBridgePressure</string>
	<key>navigatorVersusLayer</key>
	<string>injectionAboutShape</string>
	<key>otherAllocatorPadding</key>
	<string>boxStageOrigin</string>
</dict>
</plist>
