<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMementoTail</key>
	<string>entityMementoTension</string>
	<key>chartPlatformTint</key>
	<string>lazySpotOpacity</string>
	<key>decorationBridgeDuration</key>
	<string>menuUntilTemple</string>
	<key>eagerAwaitLocation</key>
	<string>borderProxyFrequency</string>
	<key>exponentOfTemple</key>
	<string>reductionVarDirection</string>
	<key>metadataEnvironmentStyle</key>
	<string>viewSystemMargin</string>
	<key>sensorDespiteContext</key>
	<string>progressbarInContext</string>
</dict>
</plist>
