<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxBufferContrast</key>
	<string>vectorWithParameter</string>
	<key>durationTypeFrequency</key>
	<string>primaryWidgetMargin</string>
	<key>intensityFromForm</key>
	<string>containerAndFacade</string>
	<key>positionedAgainstLayer</key>
	<string>persistentInjectionTransparency</string>
	<key>sensorFunctionLeft</key>
	<string>assetSinceTemple</string>
	<key>streamAroundNumber</key>
	<string>equalizationIncludePhase</string>
</dict>
</plist>
