<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityParameterInteraction</key>
	<string>fusedMapOrigin</string>
	<key>methodMementoInset</key>
	<string>specifyCurvePadding</string>
	<key>previewTierTheme</key>
	<string>documentStrategySpeed</string>
	<key>repositoryLikePattern</key>
	<string>accessibleMusicTag</string>
	<key>sceneTierMode</key>
	<string>assetAroundKind</string>
	<key>secondTimerSpeed</key>
	<string>reactiveAlphaBorder</string>
	<key>singleModelAppearance</key>
	<string>observerParamFormat</string>
	<key>switchStyleFormat</key>
	<string>opaqueNavigatorScale</string>
	<key>symmetricWidgetForce</key>
	<string>deferredRemainderResponse</string>
</dict>
</plist>
