<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineOrBuffer</key>
	<string>entropyThanScope</string>
	<key>decorationAboutSingleton</key>
	<string>gramStrategyTension</string>
	<key>inheritedOffsetLocation</key>
	<string>skirtThanLayer</string>
	<key>rapidHeroFeedback</key>
	<string>crudeSwitchRight</string>
</dict>
</plist>
