<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessiblePlaybackDirection</key>
	<string>storyboardDespitePrototype</string>
	<key>entityWithoutFramework</key>
	<string>scaffoldChainSpacing</string>
	<key>futureValueDuration</key>
	<string>builderParameterName</string>
	<key>independentNavigationTag</key>
	<string>ephemeralEffectCount</string>
	<key>momentumProxyPadding</key>
	<string>coordinatorUntilBuffer</string>
	<key>primaryTickerBound</key>
	<string>usedWorkflowShade</string>
	<key>smallTextureBrightness</key>
	<string>unactivatedCustompaintPadding</string>
	<key>storyboardPhaseState</key>
	<string>managerByPattern</string>
</dict>
</plist>
