<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDuringSystem</key>
	<string>histogramByScope</string>
	<key>commonCompleterOrientation</key>
	<string>offsetOrLevel</string>
	<key>declarativeCaptionMargin</key>
	<string>singleCaptionDirection</string>
	<key>gemIncludeVariable</key>
	<string>statelessTimerContrast</string>
	<key>intuitivePopupValidation</key>
	<string>giftTierState</string>
	<key>mediumCompleterVisible</key>
	<string>delegateWithAdapter</string>
	<key>nextPopupDepth</key>
	<string>sineWithoutLayer</string>
	<key>notificationIncludeMemento</key>
	<string>uniqueCustompaintInset</string>
	<key>standaloneAnimationTail</key>
	<string>screenObserverHue</string>
	<key>topicIncludeSingleton</key>
	<string>delegateVarPosition</string>
</dict>
</plist>
