<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureWithEnvironment</key>
	<string>baseMementoType</string>
	<key>loopBridgeCount</key>
	<string>publicAccessoryVelocity</string>
	<key>musicIncludeStage</key>
	<string>consumerThanForm</string>
	<key>sceneAwayChain</key>
	<string>concreteConvolutionTag</string>
</dict>
</plist>
