<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedMomentumPressure</key>
	<string>viewOfBridge</string>
	<key>axisFunctionCenter</key>
	<string>synchronousTransitionInteraction</string>
	<key>basePerScope</key>
	<string>sizeExceptPrototype</string>
	<key>dependencyPerStyle</key>
	<string>constMemberPressure</string>
	<key>elasticBlocRotation</key>
	<string>constPromiseDistance</string>
	<key>menuPrototypeHead</key>
	<string>viewAroundStructure</string>
	<key>offsetValueDistance</key>
	<string>groupJobMargin</string>
	<key>segmentContainContext</key>
	<string>effectVarPressure</string>
	<key>storageOfAction</key>
	<string>modelInsideStage</string>
	<key>usedRowSize</key>
	<string>standaloneUtilHead</string>
</dict>
</plist>
