<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistInJob</key>
	<string>notificationCommandAppearance</string>
	<key>featureLikeMode</key>
	<string>lossFromNumber</string>
	<key>positionJobFlags</key>
	<string>concurrentCapsuleTension</string>
	<key>rapidProgressbarState</key>
	<string>tappableBufferInteraction</string>
</dict>
</plist>
