<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAtFlyweight</key>
	<string>titleForMode</string>
	<key>collectionOutsideCycle</key>
	<string>eventPerTask</string>
	<key>comprehensiveMasterInset</key>
	<string>segmentValueRate</string>
	<key>priorityAtActivity</key>
	<string>remainderDespiteOperation</string>
	<key>sortedPromiseTransparency</key>
	<string>popupBeyondFlyweight</string>
	<key>uniformArithmeticSkewy</key>
	<string>observerDespiteFramework</string>
</dict>
</plist>
