<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concretePositionedSkewy</key>
	<string>autoBaseTheme</string>
	<key>expandedFromAdapter</key>
	<string>sampleWithVariable</string>
	<key>inheritedAnimationTransparency</key>
	<string>hashInAction</string>
	<key>typicalRouteRight</key>
	<string>eagerAppbarMomentum</string>
</dict>
</plist>
