<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameOutsideType</key>
	<string>functionalIconLeft</string>
	<key>nodeForPattern</key>
	<string>chapterFlyweightOpacity</string>
	<key>switchStateTop</key>
	<string>exceptionVisitorDensity</string>
	<key>timerAboutKind</key>
	<string>segueBesideLayer</string>
</dict>
</plist>
