<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSinkColor</key>
	<string>otherEquipmentDensity</string>
	<key>disabledWidgetTag</key>
	<string>optimizerInsideStage</string>
	<key>gramShapeTail</key>
	<string>mobileMediatorDensity</string>
	<key>oldDecorationLeft</key>
	<string>accordionInteractorName</string>
	<key>precisionSincePattern</key>
	<string>bulletAmongPattern</string>
	<key>reducerWithoutParam</key>
	<string>enabledBufferCount</string>
	<key>routeOfParam</key>
	<string>actionForStructure</string>
	<key>synchronousLayoutEdge</key>
	<string>dependencyActionVelocity</string>
	<key>webTransformerOffset</key>
	<string>crudeCanvasInteraction</string>
</dict>
</plist>
