<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCompositeDepth</key>
	<string>routeAlongObserver</string>
	<key>curveVisitorCoord</key>
	<string>respectiveSpriteMomentum</string>
	<key>factoryAwaySingleton</key>
	<string>consultativePopupMargin</string>
	<key>futureLikeProcess</key>
	<string>particleNearFramework</string>
	<key>navigationForLevel</key>
	<string>localBuilderShade</string>
	<key>oldMetadataMode</key>
	<string>playbackFlyweightForce</string>
	<key>transformerAboutComposite</key>
	<string>widgetFromCommand</string>
	<key>variantAgainstComposite</key>
	<string>synchronousStreamTransparency</string>
	<key>variantContextHue</key>
	<string>chapterAmongStyle</string>
</dict>
</plist>
