<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPainterShape</key>
	<string>animatedcontainerThanNumber</string>
	<key>eventParamSpeed</key>
	<string>marginPhaseDirection</string>
	<key>isolateCompositeEdge</key>
	<string>cubitKindOrigin</string>
	<key>similarSubscriptionOpacity</key>
	<string>animationStagePosition</string>
</dict>
</plist>
