<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTextVisibility</key>
	<string>segueBeyondTemple</string>
	<key>borderAroundJob</key>
	<string>dialogsPatternBottom</string>
	<key>consumerStageMode</key>
	<string>pivotalChannelDepth</string>
	<key>documentLayerForce</key>
	<string>bulletForChain</string>
	<key>draggableInjectionBrightness</key>
	<string>euclideanTitleEdge</string>
	<key>immutableScaleBound</key>
	<string>modelForEnvironment</string>
	<key>notifierAgainstMediator</key>
	<string>listviewAboutPlatform</string>
	<key>webRectLocation</key>
	<string>textfieldShapeCoord</string>
</dict>
</plist>
