<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedErrorInset</key>
	<string>navigationInterpreterPadding</string>
	<key>lossOrObserver</key>
	<string>controllerOfStage</string>
	<key>managerThroughSystem</key>
	<string>timerChainCenter</string>
	<key>otherDurationDistance</key>
	<string>timerDespiteMethod</string>
	<key>roleContextHue</key>
	<string>parallelConstraintKind</string>
</dict>
</plist>
