<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackInForm</key>
	<string>heapVisitorTop</string>
	<key>chartAwayDecorator</key>
	<string>subscriptionForSystem</string>
	<key>checkboxOutsideTemple</key>
	<string>requiredAsyncInteraction</string>
	<key>equipmentByPrototype</key>
	<string>interactorTaskValidation</string>
	<key>ignoredGraphicTint</key>
	<string>movementTierTransparency</string>
	<key>mobileScopeRate</key>
	<string>toolStateHue</string>
	<key>popupActivityDuration</key>
	<string>keyCapacitiesInteraction</string>
	<key>primaryViewSpacing</key>
	<string>collectionParamTag</string>
	<key>secondServiceRate</key>
	<string>playbackThanSingleton</string>
	<key>temporaryIndicatorBehavior</key>
	<string>entropyInsideSingleton</string>
</dict>
</plist>
