<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInsideNumber</key>
	<string>cycleLayerFeedback</string>
	<key>cubeFunctionTension</key>
	<string>statelessChartDensity</string>
	<key>curveAlongPlatform</key>
	<string>precisionBesideLevel</string>
	<key>extensionDecoratorType</key>
	<string>overlayBufferAcceleration</string>
	<key>hashOfAdapter</key>
	<string>toolTempleCenter</string>
	<key>memberStyleOpacity</key>
	<string>protocolVisitorMomentum</string>
	<key>resolverFormIndex</key>
	<string>awaitBesideLevel</string>
	<key>sampleAboutFacade</key>
	<string>cubeVersusTask</string>
	<key>statefulAdapterState</key>
	<string>optionSinceBuffer</string>
</dict>
</plist>
