<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationAwayMemento</key>
	<string>diversifiedEffectVisibility</string>
	<key>featureActivityTheme</key>
	<string>storageTempleTension</string>
	<key>localizationMementoOrientation</key>
	<string>sequentialPetForce</string>
	<key>previewAwayStage</key>
	<string>resizableMapDuration</string>
	<key>segueTempleBottom</key>
	<string>gramExceptKind</string>
	<key>statefulEffectInterval</key>
	<string>consumerThroughShape</string>
	<key>tangentViaTask</key>
	<string>kernelTypeStatus</string>
</dict>
</plist>
