<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCoordinatorSaturation</key>
	<string>captionThanLevel</string>
	<key>descriptionTaskAcceleration</key>
	<string>positionedPrototypeContrast</string>
	<key>euclideanOverlayVisibility</key>
	<string>arithmeticAdapterState</string>
	<key>fixedVectorSpeed</key>
	<string>titleLayerOrientation</string>
	<key>gesturePrototypeRotation</key>
	<string>mapInBridge</string>
	<key>hardCompleterDirection</key>
	<string>responsiveConstraintDuration</string>
	<key>resizableVectorPosition</key>
	<string>layoutScopeSkewx</string>
	<key>retainedProjectionVisible</key>
	<string>captionOperationAcceleration</string>
	<key>storeAsKind</key>
	<string>layoutFrameworkAcceleration</string>
	<key>storyboardOfFlyweight</key>
	<string>giftBesideActivity</string>
</dict>
</plist>
