<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveControllerCenter</key>
	<string>notifierDuringCommand</string>
	<key>difficultUsageForce</key>
	<string>invisibleInteractorCoord</string>
	<key>globalSliderMomentum</key>
	<string>getxLevelName</string>
	<key>navigationAndJob</key>
	<string>logCompositeRate</string>
	<key>positionAmongAdapter</key>
	<string>adaptiveSingletonTop</string>
	<key>responsiveRichtextDensity</key>
	<string>progressbarParameterHue</string>
	<key>sortedManagerType</key>
	<string>routeUntilVisitor</string>
	<key>streamByChain</key>
	<string>pinchableRouteOpacity</string>
</dict>
</plist>
