<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedQueryForce</key>
	<string>subpixelSinceFunction</string>
	<key>asyncFromJob</key>
	<string>skirtViaMethod</string>
	<key>captionThroughParameter</key>
	<string>mainSignIndex</string>
	<key>directDescriptionScale</key>
	<string>chartStyleFormat</string>
	<key>groupAlongShape</key>
	<string>mediocreButtonAcceleration</string>
	<key>metadataEnvironmentTag</key>
	<string>customScrollDistance</string>
	<key>prevBlocHead</key>
	<string>cubitObserverSize</string>
	<key>relationalSessionBorder</key>
	<string>scaffoldFormLocation</string>
	<key>symmetricDocumentKind</key>
	<string>commonDurationTension</string>
	<key>widgetStyleSkewx</key>
	<string>retainedDurationHead</string>
</dict>
</plist>
