<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCoordinatorFormat</key>
	<string>asyncSwiftOrigin</string>
	<key>bitrateVersusScope</key>
	<string>activityFlyweightTint</string>
	<key>builderPrototypeTransparency</key>
	<string>retainedTickerPadding</string>
	<key>easyGrainCount</key>
	<string>unaryValueCount</string>
	<key>providerLikeTier</key>
	<string>routeVisitorBehavior</string>
	<key>seamlessAnimationBottom</key>
	<string>criticalMasterKind</string>
</dict>
</plist>
