<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionContextSpeed</key>
	<string>normalGridviewHead</string>
	<key>gestureInsideStrategy</key>
	<string>scrollableSliderSkewx</string>
	<key>uniformResourceTheme</key>
	<string>rowOfFramework</string>
</dict>
</plist>
