<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultStoreOrientation</key>
	<string>descriptionDuringSingleton</string>
	<key>durationMethodScale</key>
	<string>substantialButtonSize</string>
	<key>persistentScrollDepth</key>
	<string>catalystSingletonTail</string>
	<key>progressbarAroundPrototype</key>
	<string>optimizerInsideMemento</string>
	<key>promiseJobSize</key>
	<string>accordionProviderState</string>
	<key>sizedboxScopeStyle</key>
	<string>controllerWithTask</string>
	<key>toolShapeSkewx</key>
	<string>containerProcessRotation</string>
	<key>viewVarVisible</key>
	<string>tappableSliderMargin</string>
</dict>
</plist>
