<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateProxyBehavior</key>
	<string>ternaryForTemple</string>
	<key>effectSystemMode</key>
	<string>spriteFunctionInteraction</string>
	<key>elasticMissionOrigin</key>
	<string>binaryWorkDelay</string>
	<key>listviewPerBuffer</key>
	<string>subscriptionValueMode</string>
	<key>materialFacadeBottom</key>
	<string>mediocreRectBehavior</string>
	<key>normActionAlignment</key>
	<string>multiTitlePressure</string>
	<key>opaqueCallbackResponse</key>
	<string>builderOrSystem</string>
	<key>storageBeyondVisitor</key>
	<string>presenterVariableVisible</string>
	<key>typicalDimensionBorder</key>
	<string>descriptionOrJob</string>
	<key>zoneVarPressure</key>
	<string>disabledConstraintInset</string>
</dict>
</plist>
