<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitBesideSingleton</key>
	<string>mediaLayerFlags</string>
	<key>discardedBufferSkewy</key>
	<string>petContainObserver</string>
	<key>ephemeralLabelFormat</key>
	<string>remainderNearSingleton</string>
	<key>explicitNodeVisible</key>
	<string>builderActionLeft</string>
	<key>materialRouteDuration</key>
	<string>customCurveRight</string>
	<key>parallelHashCenter</key>
	<string>cupertinoTabbarForce</string>
	<key>particleByStrategy</key>
	<string>customMatrixMode</string>
	<key>remainderDuringDecorator</key>
	<string>monsterWithoutAdapter</string>
	<key>scrollableStorageRate</key>
	<string>dropdownbuttonOfKind</string>
	<key>zoneMediatorVisibility</key>
	<string>assetContainStyle</string>
</dict>
</plist>
