<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramFrameworkName</key>
	<string>consultativeDelegateFormat</string>
	<key>inactiveModalOrientation</key>
	<string>otherResponseSpacing</string>
	<key>subsequentConstraintState</key>
	<string>platePrototypeName</string>
	<key>transformerNearProcess</key>
	<string>tickerAlongPattern</string>
</dict>
</plist>
