<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarSystemColor</key>
	<string>loopPerComposite</string>
	<key>axisStructureTop</key>
	<string>imperativeCollectionRight</string>
	<key>customizedNormTag</key>
	<string>columnScopeDirection</string>
	<key>ignoredInjectionDelay</key>
	<string>stackShapeCoord</string>
	<key>seamlessTangentTint</key>
	<string>labelDespiteMethod</string>
	<key>storageAtAdapter</key>
	<string>directStorageSpeed</string>
	<key>sustainableBatchVisible</key>
	<string>behaviorOperationTop</string>
</dict>
</plist>
