<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestStampMode</key>
	<string>graphBufferHue</string>
	<key>pivotalAnimationValidation</key>
	<string>delegateScopeStatus</string>
	<key>streamVarInterval</key>
	<string>timerThroughMethod</string>
	<key>widgetWorkDistance</key>
	<string>layoutFormHue</string>
</dict>
</plist>
