<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderLikeObserver</key>
	<string>sizeViaFlyweight</string>
	<key>cacheProcessSkewy</key>
	<string>roleForValue</string>
	<key>cycleSingletonHead</key>
	<string>missedRouteDistance</string>
	<key>drawerModeIndex</key>
	<string>momentumEnvironmentLeft</string>
	<key>fusedListviewRight</key>
	<string>handlerAsComposite</string>
	<key>usecaseMementoIndex</key>
	<string>smartStoreOrientation</string>
</dict>
</plist>
