<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryJobPressure</key>
	<string>beginnerLayoutTag</string>
	<key>bufferWithoutChain</key>
	<string>promisePlatformBottom</string>
	<key>certificateNearMediator</key>
	<string>backwardGramSkewx</string>
	<key>promiseNumberPressure</key>
	<string>effectAboutPlatform</string>
	<key>semanticSignatureSaturation</key>
	<string>instructionChainHead</string>
	<key>sliderLayerHead</key>
	<string>borderPhaseState</string>
</dict>
</plist>
