<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentEffectIndex</key>
	<string>handlerAdapterContrast</string>
	<key>descriptionVariableAlignment</key>
	<string>advancedCanvasBound</string>
	<key>directlyTransformerBottom</key>
	<string>progressbarVariableDuration</string>
	<key>hashProxyAcceleration</key>
	<string>tickerWorkPadding</string>
	<key>observerStrategySize</key>
	<string>draggableResultSpacing</string>
	<key>observerTypeAppearance</key>
	<string>invisibleModalTheme</string>
	<key>scrollableObserverOrigin</key>
	<string>descriptionShapeBorder</string>
	<key>smallSliderFrequency</key>
	<string>ignoredPainterTransparency</string>
</dict>
</plist>
