<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTierSize</key>
	<string>containerPatternHue</string>
	<key>hashBufferFlags</key>
	<string>difficultCheckboxForce</string>
	<key>keyGramTop</key>
	<string>symmetricBoxshadowFrequency</string>
	<key>managerAndVariable</key>
	<string>inheritedButtonShape</string>
	<key>pinchableParticleTheme</key>
	<string>finalDescriptionKind</string>
	<key>screenProcessRate</key>
	<string>blocStyleDepth</string>
	<key>standaloneAlphaRotation</key>
	<string>progressbarAroundAction</string>
	<key>toolAtMethod</key>
	<string>sliderPlatformDensity</string>
</dict>
</plist>
