<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonLevelBottom</key>
	<string>alignmentVersusMemento</string>
	<key>documentProxyTension</key>
	<string>projectValueHue</string>
	<key>eagerSwitchRight</key>
	<string>asynchronousRoleDirection</string>
	<key>hyperbolicCharacterName</key>
	<string>responsiveDecorationKind</string>
	<key>previewDecoratorFeedback</key>
	<string>labelInsideSystem</string>
</dict>
</plist>
