<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInsideEnvironment</key>
	<string>sliderSinceState</string>
	<key>factoryFormMode</key>
	<string>eventStrategyCenter</string>
	<key>frameThroughCommand</key>
	<string>skinAsTask</string>
	<key>localizationWithTemple</key>
	<string>resultBeyondAdapter</string>
	<key>responsiveRequestCoord</key>
	<string>arithmeticAsBuffer</string>
	<key>semanticStatelessOrientation</key>
	<string>custompaintMementoTheme</string>
	<key>usageNearTemple</key>
	<string>iconOperationLeft</string>
</dict>
</plist>
