<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStageFlags</key>
	<string>subscriptionAroundDecorator</string>
	<key>constraintContainStage</key>
	<string>previewAwayProcess</string>
	<key>effectActionMomentum</key>
	<string>cycleDespiteScope</string>
	<key>expandedOrPattern</key>
	<string>autoQueueLocation</string>
	<key>labelProcessSaturation</key>
	<string>parallelBaseOrigin</string>
	<key>newestNotificationCoord</key>
	<string>normalOffsetShade</string>
	<key>protectedCellDensity</key>
	<string>eventUntilStyle</string>
	<key>rapidSlashFrequency</key>
	<string>roleViaChain</string>
	<key>stateIncludeKind</key>
	<string>uniquePopupScale</string>
	<key>stateMementoAlignment</key>
	<string>giftVarMomentum</string>
</dict>
</plist>
