<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioPlatformAcceleration</key>
	<string>ignoredIconLocation</string>
	<key>cycleDecoratorRate</key>
	<string>significantSpriteDirection</string>
	<key>delicateConstraintTension</key>
	<string>mobxBesideComposite</string>
	<key>immediateAsyncSize</key>
	<string>chartShapeOpacity</string>
	<key>modulusVarForce</key>
	<string>interactorPatternSpacing</string>
	<key>particleFormOrientation</key>
	<string>dropdownbuttonViaPhase</string>
	<key>semanticZoneValidation</key>
	<string>tangentFlyweightForce</string>
</dict>
</plist>
