<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocThroughType</key>
	<string>reactiveDrawerScale</string>
	<key>bulletLevelFeedback</key>
	<string>requestWithoutVariable</string>
	<key>equipmentInsideMethod</key>
	<string>geometricBufferContrast</string>
	<key>gramAgainstTemple</key>
	<string>painterTypeInset</string>
	<key>histogramFormScale</key>
	<string>chapterAsMediator</string>
</dict>
</plist>
