<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartPhaseFormat</key>
	<string>channelsKindBorder</string>
	<key>commonNodeCoord</key>
	<string>touchAdapterMode</string>
	<key>containerAtBridge</key>
	<string>priorConvolutionLeft</string>
	<key>coordinatorStructureSize</key>
	<string>directlyPresenterBottom</string>
	<key>hardGesturedetectorDistance</key>
	<string>routeFacadePosition</string>
	<key>requestLikeChain</key>
	<string>dialogsAboutParam</string>
	<key>resultDecoratorFrequency</key>
	<string>coordinatorFunctionType</string>
	<key>stackStateStatus</key>
	<string>popupLikeProcess</string>
	<key>storageStrategyRotation</key>
	<string>declarativePrecisionKind</string>
	<key>taskNearMemento</key>
	<string>referenceAlongNumber</string>
</dict>
</plist>
