<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInPlatform</key>
	<string>semanticSubscriptionDirection</string>
	<key>completionTaskSkewy</key>
	<string>relationalEntityStatus</string>
	<key>listenerUntilMode</key>
	<string>resourceIncludeShape</string>
	<key>newestDecorationOrientation</key>
	<string>spriteActivityBrightness</string>
	<key>usecaseBufferIndex</key>
	<string>similarWidgetFormat</string>
	<key>visibleCubitColor</key>
	<string>effectNearValue</string>
</dict>
</plist>
