<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatZoneName</key>
	<string>captionLikeNumber</string>
	<key>localInteractorTop</key>
	<string>gramMethodTag</string>
	<key>lossCommandTransparency</key>
	<string>streamFormKind</string>
	<key>menuBeyondScope</key>
	<string>notificationContextRotation</string>
	<key>priorityMediatorResponse</key>
	<string>controllerStateVisible</string>
	<key>publicPopupPadding</key>
	<string>interactivePointTint</string>
	<key>singletonDuringMediator</key>
	<string>routeVersusStructure</string>
	<key>toolByStrategy</key>
	<string>roleContextMargin</string>
</dict>
</plist>
