<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gateSingletonCoord</key>
	<string>gesturedetectorStructureAlignment</string>
	<key>lazyCoordinatorSkewx</key>
	<string>euclideanControllerTheme</string>
	<key>localizationTempleInterval</key>
	<string>animatedcontainerAboutTemple</string>
	<key>modulusAsBridge</key>
	<string>flexibleTaskIndex</string>
	<key>musicOrScope</key>
	<string>factoryBridgeOpacity</string>
	<key>painterTaskDistance</key>
	<string>similarAccessoryCenter</string>
	<key>scaffoldBeyondFlyweight</key>
	<string>storePrototypeStatus</string>
	<key>significantProviderLeft</key>
	<string>intensityKindIndex</string>
	<key>tangentThroughVariable</key>
	<string>uniqueObserverMode</string>
</dict>
</plist>
