<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitOutsidePlatform</key>
	<string>nativeBehaviorStyle</string>
	<key>chapterAlongVisitor</key>
	<string>nodeBeyondObserver</string>
	<key>entityAtState</key>
	<string>signInsideVar</string>
	<key>imperativeBrushMode</key>
	<string>inactiveImageTension</string>
	<key>multiImageBehavior</key>
	<string>localTextDepth</string>
	<key>sceneBridgeDistance</key>
	<string>transitionAgainstPlatform</string>
</dict>
</plist>
