<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numericalHistogramVisible</key>
	<string>lostUsageColor</string>
	<key>petWithoutFunction</key>
	<string>independentRoleHue</string>
	<key>routeSingletonDensity</key>
	<string>offsetJobOrientation</string>
	<key>subtleCheckboxFrequency</key>
	<string>discardedCatalystOrigin</string>
</dict>
</plist>
