<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarOutsideShape</key>
	<string>largeGemSpeed</string>
	<key>discardedGrayscaleSize</key>
	<string>animatedAnchorFeedback</string>
	<key>indicatorUntilCommand</key>
	<string>builderStateIndex</string>
	<key>logVersusAdapter</key>
	<string>elasticMultiplicationSpacing</string>
	<key>previewPerBridge</key>
	<string>factoryActivityDepth</string>
	<key>signShapeResponse</key>
	<string>cosineProxyKind</string>
	<key>sinkOperationDelay</key>
	<string>sizeViaMode</string>
	<key>toolPerSystem</key>
	<string>actionFlyweightVelocity</string>
</dict>
</plist>
