<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationForForm</key>
	<string>sceneForFramework</string>
	<key>cellStateBorder</key>
	<string>controllerPrototypeCount</string>
	<key>containerContainEnvironment</key>
	<string>concurrentEntityHue</string>
	<key>instructionProxyDepth</key>
	<string>nibThanStrategy</string>
	<key>labelCycleDuration</key>
	<string>chartAndContext</string>
	<key>momentumInPhase</key>
	<string>channelsOfActivity</string>
	<key>prismaticSkirtPosition</key>
	<string>graphNearForm</string>
</dict>
</plist>
