<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncUntilObserver</key>
	<string>variantContainPrototype</string>
	<key>callbackActionTail</key>
	<string>globalSwitchDuration</string>
	<key>descriptionLikeNumber</key>
	<string>hardConstraintHue</string>
	<key>entityPerPattern</key>
	<string>widgetLikeStyle</string>
	<key>loopLayerState</key>
	<string>dialogsLayerCenter</string>
	<key>mobileVarRight</key>
	<string>eventPhaseStyle</string>
	<key>positionSinceForm</key>
	<string>assetBesideBuffer</string>
	<key>queueChainName</key>
	<string>activatedChapterDepth</string>
	<key>tableCommandVelocity</key>
	<string>notificationIncludeInterpreter</string>
	<key>tangentScopePressure</key>
	<string>constraintStageLeft</string>
</dict>
</plist>
