<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularRoleTheme</key>
	<string>rectMementoBrightness</string>
	<key>nextIntensityContrast</key>
	<string>uniformTitleMode</string>
	<key>significantEntropyTransparency</key>
	<string>managerBesideProcess</string>
	<key>storePerAdapter</key>
	<string>associatedTickerRight</string>
	<key>usecaseJobAlignment</key>
	<string>similarLogarithmOpacity</string>
</dict>
</plist>
