<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableRowCenter</key>
	<string>coordinatorActionTransparency</string>
	<key>dynamicAssetBrightness</key>
	<string>unsortedAlignmentName</string>
	<key>originalResponseFrequency</key>
	<string>accessoryAroundValue</string>
	<key>primaryAlphaKind</key>
	<string>gridValueCoord</string>
	<key>resourceOperationInteraction</key>
	<string>previewOutsidePattern</string>
	<key>resultAboutTier</key>
	<string>curveAndTier</string>
</dict>
</plist>
