<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioBufferDelay</key>
	<string>spriteOfVisitor</string>
	<key>controllerFromSingleton</key>
	<string>cubitIncludeTemple</string>
	<key>crucialRiverpodForce</key>
	<string>mobileCompletionMargin</string>
	<key>elasticSingletonTag</key>
	<string>similarPrecisionDensity</string>
	<key>iterativeGridBorder</key>
	<string>radiusFormOpacity</string>
	<key>menuFromContext</key>
	<string>intermediateProviderType</string>
	<key>offsetWithKind</key>
	<string>usedAspectratioFrequency</string>
	<key>otherCommandOffset</key>
	<string>segmentFrameworkRotation</string>
	<key>utilAboutStyle</key>
	<string>movementUntilKind</string>
</dict>
</plist>
