<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGradientCoord</key>
	<string>vectorShapeTag</string>
	<key>accessibleQueryBehavior</key>
	<string>routeActionCenter</string>
	<key>boxAsFlyweight</key>
	<string>sortedGradientMargin</string>
	<key>checklistAboutMediator</key>
	<string>listenerInsideActivity</string>
	<key>imperativeMenuOrigin</key>
	<string>borderValueSkewx</string>
	<key>imperativeQuerySaturation</key>
	<string>grayscaleInsideStage</string>
	<key>independentBuilderDelay</key>
	<string>exceptionOperationAcceleration</string>
	<key>responseDespiteWork</key>
	<string>effectAtBuffer</string>
</dict>
</plist>
