<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonPerParam</key>
	<string>builderFrameworkVelocity</string>
	<key>channelByForm</key>
	<string>graphicOrAction</string>
	<key>cupertinoMediaTop</key>
	<string>durationScopeState</string>
	<key>delegateThanLevel</key>
	<string>storageCommandHead</string>
	<key>geometricRectKind</key>
	<string>layerAlongDecorator</string>
	<key>imperativeVectorColor</key>
	<string>pageviewMediatorHead</string>
	<key>navigatorAdapterSkewx</key>
	<string>repositorySingletonPadding</string>
	<key>resolverInsideLevel</key>
	<string>nodeVisitorShade</string>
	<key>seamlessActionTension</key>
	<string>signScopeInterval</string>
	<key>semanticSinkAppearance</key>
	<string>denseGrayscaleStyle</string>
</dict>
</plist>
