<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardCommandSize</key>
	<string>commandUntilSingleton</string>
	<key>hyperbolicIntensityContrast</key>
	<string>captionValueBehavior</string>
	<key>modulusTempleState</key>
	<string>histogramProcessFeedback</string>
	<key>nativeNavigationLocation</key>
	<string>activeListviewTail</string>
</dict>
</plist>
