<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleTaskInterval</key>
	<string>consumerEnvironmentDirection</string>
	<key>kernelBesideProxy</key>
	<string>contractionAroundStructure</string>
	<key>projectMethodRight</key>
	<string>animatedAsyncMargin</string>
	<key>routerWithoutPattern</key>
	<string>durationForVar</string>
	<key>taskAmongOperation</key>
	<string>tensorUsecaseShape</string>
</dict>
</plist>
