<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushUntilContext</key>
	<string>prevStatelessTag</string>
	<key>denseTweenBehavior</key>
	<string>gramBeyondWork</string>
	<key>nodeExceptJob</key>
	<string>localizationAroundChain</string>
	<key>providerMethodPressure</key>
	<string>nodeStageTheme</string>
	<key>rapidHistogramHead</key>
	<string>titleTaskLeft</string>
	<key>sharedMobxInset</key>
	<string>delegateStructureVelocity</string>
	<key>signatureCommandSkewy</key>
	<string>intensityTempleDirection</string>
</dict>
</plist>
