<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredVectorTag</key>
	<string>scaleVarBorder</string>
	<key>dialogsThroughType</key>
	<string>relationalTextureTension</string>
	<key>injectionMethodShade</key>
	<string>rectDuringStructure</string>
	<key>logarithmOutsideBridge</key>
	<string>observerSingletonPosition</string>
	<key>materialUntilPlatform</key>
	<string>entityKindPosition</string>
	<key>overlayByState</key>
	<string>euclideanResourceDensity</string>
	<key>signDuringForm</key>
	<string>repositoryParamType</string>
	<key>significantFlexScale</key>
	<string>constraintSystemLocation</string>
	<key>taskValueStyle</key>
	<string>profileAboutState</string>
	<key>tweenOfPattern</key>
	<string>iterativeControllerVelocity</string>
</dict>
</plist>
