<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystSingletonBorder</key>
	<string>errorWithoutFramework</string>
	<key>dropdownbuttonSinceNumber</key>
	<string>tabviewFrameworkDepth</string>
	<key>exponentStrategyRotation</key>
	<string>binaryCompositePressure</string>
	<key>greatCallbackVisible</key>
	<string>projectionNearAdapter</string>
	<key>hashContainInterpreter</key>
	<string>globalControllerVisibility</string>
	<key>materialInterpolationInterval</key>
	<string>interpolationAsPlatform</string>
	<key>skinVariableLocation</key>
	<string>multiplicationMediatorOrigin</string>
</dict>
</plist>
