<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoNearFlyweight</key>
	<string>chartThanDecorator</string>
	<key>delegateByMethod</key>
	<string>concurrentWidgetDirection</string>
	<key>futureAlongFacade</key>
	<string>pinchableCoordinatorOrientation</string>
	<key>metadataActivityTail</key>
	<string>roleActivityEdge</string>
</dict>
</plist>
