<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnThroughFunction</key>
	<string>radiusFlyweightDuration</string>
	<key>draggableZoneSkewx</key>
	<string>intermediateCatalystPadding</string>
	<key>intuitiveTransitionMode</key>
	<string>buttonFunctionVisible</string>
	<key>lostFactoryPressure</key>
	<string>arithmeticControllerBound</string>
	<key>normModeTheme</key>
	<string>frameTempleDuration</string>
	<key>textfieldChainSpeed</key>
	<string>backwardContractionName</string>
</dict>
</plist>
