<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFlyweightBound</key>
	<string>sortedStorageTop</string>
	<key>documentWorkHead</key>
	<string>reusableLoopState</string>
	<key>dynamicOffsetOpacity</key>
	<string>draggableRiverpodAlignment</string>
	<key>flexibleStorageStyle</key>
	<string>greatFeatureInset</string>
	<key>hyperbolicProjectTransparency</key>
	<string>sceneContainPrototype</string>
	<key>profileDespiteVar</key>
	<string>assetStageFrequency</string>
	<key>vectorChainCoord</key>
	<string>statefulSensorVelocity</string>
</dict>
</plist>
