<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerPrototypeSpacing</key>
	<string>missedSinkIndex</string>
	<key>extensionMementoBehavior</key>
	<string>flexibleParticleTension</string>
	<key>nativeDurationTint</key>
	<string>permissiveHeroTheme</string>
	<key>queueFormCount</key>
	<string>repositoryAndNumber</string>
	<key>rectSingletonSkewx</key>
	<string>usecaseStyleAcceleration</string>
	<key>topicProcessAppearance</key>
	<string>indicatorSystemColor</string>
</dict>
</plist>
