<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureWithoutShape</key>
	<string>protectedCallbackBorder</string>
	<key>interactorWithPhase</key>
	<string>sophisticatedEffectState</string>
	<key>materialCompleterSize</key>
	<string>reductionSinceTask</string>
	<key>newestGestureRotation</key>
	<string>columnActionContrast</string>
	<key>rectForDecorator</key>
	<string>skirtBridgeHue</string>
	<key>retainedAnimationDirection</key>
	<string>mediaqueryStructureDuration</string>
	<key>singletonProxyBrightness</key>
	<string>specifyTaskStyle</string>
</dict>
</plist>
