<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertJobTension</key>
	<string>numericalAssetHead</string>
	<key>appbarAsAdapter</key>
	<string>disparateRouterTint</string>
	<key>disparateContainerForce</key>
	<string>resizableZoneName</string>
	<key>interfaceOrFlyweight</key>
	<string>granularSkirtVelocity</string>
	<key>symmetricFrameBehavior</key>
	<string>custompaintInsideAdapter</string>
</dict>
</plist>
