<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStyleRight</key>
	<string>listviewThroughBuffer</string>
	<key>grainDecoratorRate</key>
	<string>controllerExceptFlyweight</string>
	<key>hierarchicalDurationSkewx</key>
	<string>signatureBeyondType</string>
	<key>radiusSinceProxy</key>
	<string>streamForForm</string>
	<key>reducerWithoutInterpreter</key>
	<string>viewMethodKind</string>
</dict>
</plist>
