<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableContainerScale</key>
	<string>interfaceDecoratorMargin</string>
	<key>nibLikeShape</key>
	<string>presenterModeVisible</string>
	<key>stateStateTransparency</key>
	<string>observerScopeRight</string>
	<key>symbolViaLayer</key>
	<string>diffableMultiplicationState</string>
</dict>
</plist>
