<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerLayerBorder</key>
	<string>symmetricConfigurationFlags</string>
	<key>deferredErrorEdge</key>
	<string>navigatorSingletonTension</string>
	<key>layerAsKind</key>
	<string>asynchronousCanvasSaturation</string>
	<key>mapVersusTier</key>
	<string>themeThroughInterpreter</string>
	<key>projectAwayMethod</key>
	<string>unsortedCertificateValidation</string>
	<key>routerCycleScale</key>
	<string>gridFrameworkRate</string>
</dict>
</plist>
