<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorOrMethod</key>
	<string>requiredRouteInset</string>
	<key>crucialRowCoord</key>
	<string>completionOutsideMode</string>
	<key>denseDependencyKind</key>
	<string>elasticControllerSaturation</string>
	<key>entityAndParameter</key>
	<string>spriteLikeMode</string>
	<key>popupEnvironmentMode</key>
	<string>captionBesideDecorator</string>
	<key>providerPatternBottom</key>
	<string>methodDecoratorFrequency</string>
	<key>sequentialNavigatorBorder</key>
	<string>missionVersusMethod</string>
	<key>storageIncludeType</key>
	<string>reducerAroundContext</string>
</dict>
</plist>
