<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateMethodLeft</key>
	<string>robustTangentTop</string>
	<key>captionAndParam</key>
	<string>seamlessWidgetCount</string>
	<key>requiredSymbolInterval</key>
	<string>progressbarActivityTint</string>
</dict>
</plist>
