<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAccessoryHue</key>
	<string>lostInkwellVisibility</string>
	<key>cupertinoResolverVisible</key>
	<string>threadTierDelay</string>
	<key>eagerListenerBottom</key>
	<string>completionInsidePhase</string>
	<key>normWorkCount</key>
	<string>standaloneParticleDirection</string>
	<key>tweenInterpreterBorder</key>
	<string>callbackEnvironmentFormat</string>
</dict>
</plist>
