<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeNavigationIndex</key>
	<string>prevMomentumDensity</string>
	<key>immutableProfileLocation</key>
	<string>factoryThanEnvironment</string>
	<key>injectionMethodTail</key>
	<string>transitionThroughMediator</string>
	<key>mediumCollectionKind</key>
	<string>clipperCommandVelocity</string>
	<key>offsetStageStyle</key>
	<string>associatedAlignmentDirection</string>
	<key>presenterFacadeLocation</key>
	<string>modelDecoratorPadding</string>
	<key>priorityBesideFramework</key>
	<string>dropdownbuttonWithoutSystem</string>
	<key>rapidPositionContrast</key>
	<string>channelFunctionMode</string>
	<key>segmentAboutInterpreter</key>
	<string>asyncAwaitLocation</string>
	<key>utilAgainstFunction</key>
	<string>listviewModeRate</string>
</dict>
</plist>
