<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainWithKind</key>
	<string>keyStatefulState</string>
	<key>interpolationBridgeCenter</key>
	<string>greatErrorRotation</string>
	<key>overlayAtLevel</key>
	<string>ephemeralCallbackTop</string>
	<key>radioViaAdapter</key>
	<string>semanticHeapBrightness</string>
	<key>requestPlatformFlags</key>
	<string>projectObserverCoord</string>
	<key>significantSpriteStyle</key>
	<string>chartBeyondMode</string>
</dict>
</plist>
