<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellValueTint</key>
	<string>layoutFlyweightIndex</string>
	<key>desktopInterpolationLocation</key>
	<string>typicalCosineFormat</string>
	<key>nativeMetadataType</key>
	<string>directCanvasSpacing</string>
	<key>oldMetadataRate</key>
	<string>streamAgainstOperation</string>
	<key>routerAsActivity</key>
	<string>containerFromPrototype</string>
	<key>sampleDuringMethod</key>
	<string>delegateNumberInterval</string>
	<key>signatureContextInset</key>
	<string>providerStyleTail</string>
</dict>
</plist>
