<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStageRight</key>
	<string>reactiveOverlayStyle</string>
	<key>constMethodInteraction</key>
	<string>semanticResultSpeed</string>
	<key>consumerActivityHue</key>
	<string>animationAroundKind</string>
	<key>gemDuringMode</key>
	<string>mediaPatternFeedback</string>
	<key>grainPerStrategy</key>
	<string>cycleLevelInterval</string>
	<key>labelAndAction</key>
	<string>concreteProfileAppearance</string>
	<key>managerLevelSpacing</key>
	<string>fixedGemRate</string>
	<key>stepMethodPosition</key>
	<string>desktopPlateBottom</string>
	<key>webStreamEdge</key>
	<string>groupAgainstPrototype</string>
</dict>
</plist>
