<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellViaMemento</key>
	<string>delegateContainSystem</string>
	<key>curveBufferEdge</key>
	<string>transformerContainMemento</string>
	<key>eventUntilFunction</key>
	<string>hardIconContrast</string>
	<key>inheritedCanvasBrightness</key>
	<string>euclideanHashRotation</string>
	<key>widgetTypeForce</key>
	<string>geometricFutureRate</string>
</dict>
</plist>
