<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorVarOrigin</key>
	<string>intermediateDescriptorSkewx</string>
	<key>eagerGroupBehavior</key>
	<string>rapidPetOrigin</string>
	<key>profileThanMediator</key>
	<string>imperativeErrorBrightness</string>
	<key>sineUntilFunction</key>
	<string>eagerIconPosition</string>
</dict>
</plist>
