<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleWorkflowRotation</key>
	<string>notifierAroundStyle</string>
	<key>baseNumberMode</key>
	<string>delegateAsNumber</string>
	<key>basicParticleBottom</key>
	<string>activeAllocatorFormat</string>
	<key>disparateCapsuleOpacity</key>
	<string>asyncCommandHead</string>
	<key>dropdownbuttonPhaseTag</key>
	<string>webQueuePosition</string>
	<key>giftProcessTint</key>
	<string>delicateGrainDirection</string>
	<key>globalOffsetState</key>
	<string>reactiveBitrateDepth</string>
	<key>priorGateScale</key>
	<string>protocolOutsideState</string>
	<key>streamVisitorContrast</key>
	<string>mediumModelTension</string>
</dict>
</plist>
