<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackContainJob</key>
	<string>containerAndShape</string>
	<key>challengeFrameworkSpeed</key>
	<string>blocProxyDistance</string>
	<key>clipperAndFunction</key>
	<string>flexibleThemeAppearance</string>
	<key>dimensionBesideTask</key>
	<string>movementLikeKind</string>
	<key>futureOutsideNumber</key>
	<string>interactorStrategyStyle</string>
	<key>masterParamInterval</key>
	<string>usageAlongParam</string>
	<key>requestMediatorInset</key>
	<string>promiseMementoType</string>
</dict>
</plist>
