<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveGraphVisibility</key>
	<string>viewDespiteVisitor</string>
	<key>particleBufferSkewy</key>
	<string>errorFacadeOpacity</string>
	<key>persistentDrawerDuration</key>
	<string>animatedActivityBottom</string>
	<key>queryCommandOffset</key>
	<string>compositionalHeapMargin</string>
	<key>stateAwayChain</key>
	<string>gesturedetectorActivityInterval</string>
</dict>
</plist>
