<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchActivityOpacity</key>
	<string>beginnerGraphStyle</string>
	<key>controllerOfStyle</key>
	<string>respectivePromisePosition</string>
	<key>graphicContextVelocity</key>
	<string>gradientInterpreterSpeed</string>
	<key>positionAwayPattern</key>
	<string>futureThanShape</string>
	<key>priorityStageMomentum</key>
	<string>navigatorModeAlignment</string>
	<key>projectParamSpacing</key>
	<string>tabviewTempleTransparency</string>
	<key>sampleLayerVisible</key>
	<string>largeScreenAppearance</string>
	<key>sinkActionMargin</key>
	<string>completerForState</string>
</dict>
</plist>
