<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAroundStrategy</key>
	<string>inactiveStatefulFrequency</string>
	<key>commonPresenterVisible</key>
	<string>storeWithEnvironment</string>
	<key>projectionByVar</key>
	<string>tangentAtActivity</string>
	<key>sharedBehaviorSkewy</key>
	<string>exceptionChainDepth</string>
</dict>
</plist>
