<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxForLayer</key>
	<string>keyUnaryResponse</string>
	<key>independentMarginKind</key>
	<string>symmetricModelBound</string>
	<key>requestAsCycle</key>
	<string>navigatorVersusAdapter</string>
	<key>subscriptionMediatorLocation</key>
	<string>statefulLayerState</string>
	<key>webTableDepth</key>
	<string>errorValueBottom</string>
</dict>
</plist>
