<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionPerContext</key>
	<string>baseStageColor</string>
	<key>gateStyleOrientation</key>
	<string>nativeSliderPadding</string>
	<key>managerExceptInterpreter</key>
	<string>gateObserverMode</string>
	<key>switchPhaseAcceleration</key>
	<string>independentChartDelay</string>
	<key>synchronousMediaFeedback</key>
	<string>loopViaCommand</string>
</dict>
</plist>
