<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncWithoutLevel</key>
	<string>opaqueViewStatus</string>
	<key>compositionalLayoutHue</key>
	<string>intuitiveLogRate</string>
	<key>musicNearMediator</key>
	<string>workflowTierDirection</string>
	<key>nodeWithFlyweight</key>
	<string>fusedSymbolCenter</string>
	<key>opaqueEqualizationCenter</key>
	<string>reusableLayoutFeedback</string>
	<key>publicRectContrast</key>
	<string>sharedTextureTheme</string>
	<key>tableAsComposite</key>
	<string>basicChallengeSkewx</string>
	<key>themeLikeAction</key>
	<string>responsiveFeatureOrigin</string>
</dict>
</plist>
