<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerDependencyFormat</key>
	<string>modelWithoutComposite</string>
	<key>imageAtStructure</key>
	<string>basicRouteFormat</string>
	<key>repositoryLayerCount</key>
	<string>animatedcontainerExceptValue</string>
	<key>usageThanStructure</key>
	<string>observerTypeIndex</string>
	<key>visibleAnimationTheme</key>
	<string>nativeConfigurationVisible</string>
	<key>widgetIncludePattern</key>
	<string>semanticProviderOrigin</string>
</dict>
</plist>
