<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureDuringDecorator</key>
	<string>logMediatorSpacing</string>
	<key>hashFlyweightTag</key>
	<string>accessoryActivityMomentum</string>
	<key>materialRemainderTension</key>
	<string>notificationAboutChain</string>
	<key>parallelRectTail</key>
	<string>multiGrainStatus</string>
	<key>smallMovementForce</key>
	<string>responseAsKind</string>
	<key>symbolNearWork</key>
	<string>animationActionResponse</string>
	<key>zoneNumberBehavior</key>
	<string>groupTaskRate</string>
</dict>
</plist>
