<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerRouterTag</key>
	<string>borderStateLeft</string>
	<key>customConstraintTop</key>
	<string>subscriptionFunctionName</string>
	<key>groupTypeOpacity</key>
	<string>sinkTypeBound</string>
	<key>originalBlocTag</key>
	<string>visibleThemeSpacing</string>
	<key>permissiveScreenPadding</key>
	<string>unaryThroughMemento</string>
	<key>popupFacadeSkewx</key>
	<string>permanentStackDuration</string>
	<key>resilientGiftEdge</key>
	<string>certificateThanBridge</string>
	<key>sequentialLayoutSaturation</key>
	<string>persistentPopupSize</string>
	<key>timerFlyweightTheme</key>
	<string>sinkAlongVar</string>
</dict>
</plist>
