<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorStrategyBehavior</key>
	<string>fixedRouteSkewy</string>
	<key>coordinatorOfProxy</key>
	<string>mobileOfPrototype</string>
	<key>directlyContainerAppearance</key>
	<string>slashVarEdge</string>
	<key>disparateSizeStyle</key>
	<string>optionAroundPattern</string>
	<key>errorVersusScope</key>
	<string>mediaqueryLevelStyle</string>
	<key>unaryNumberInteraction</key>
	<string>dropdownbuttonLikeSystem</string>
</dict>
</plist>
