<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryStrategyHue</key>
	<string>mapModeSpeed</string>
	<key>delicateEntityPadding</key>
	<string>scrollableThemeLocation</string>
	<key>discardedErrorForce</key>
	<string>spriteAtEnvironment</string>
	<key>grainFrameworkTension</key>
	<string>staticAwaitBottom</string>
	<key>handlerSingletonTint</key>
	<string>layoutLikeValue</string>
	<key>hardContractionMargin</key>
	<string>fusedSpecifierInterval</string>
	<key>newestScrollVelocity</key>
	<string>routeStyleAcceleration</string>
	<key>sliderThroughBridge</key>
	<string>staticButtonRotation</string>
	<key>textThanComposite</key>
	<string>hyperbolicDelegateStyle</string>
</dict>
</plist>
