<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeOptionAlignment</key>
	<string>mainTransitionSkewx</string>
	<key>cubitKindTail</key>
	<string>deferredWidgetTop</string>
	<key>cycleOutsideInterpreter</key>
	<string>projectAmongVariable</string>
	<key>drawerDespiteAction</key>
	<string>widgetTempleInteraction</string>
	<key>errorKindOffset</key>
	<string>robustSwiftSkewx</string>
	<key>flexibleDurationVelocity</key>
	<string>rectFunctionStyle</string>
	<key>lazyMethodInterval</key>
	<string>cubitOutsideStructure</string>
</dict>
</plist>
