<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerOfParam</key>
	<string>allocatorOutsideFunction</string>
	<key>mainCallbackSkewy</key>
	<string>giftInValue</string>
	<key>menuTierMargin</key>
	<string>advancedSinkCount</string>
	<key>numericalViewShade</key>
	<string>prismaticModelMode</string>
	<key>threadStyleLeft</key>
	<string>temporaryLabelRate</string>
</dict>
</plist>
