<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithoutState</key>
	<string>flexibleIntegerMargin</string>
	<key>protectedGiftCenter</key>
	<string>requiredRowVisible</string>
	<key>relationalSizedboxName</key>
	<string>cubitStageState</string>
	<key>respectiveRouterSize</key>
	<string>techniqueActionBorder</string>
	<key>routerProxyAcceleration</key>
	<string>globalTabbarHue</string>
</dict>
</plist>
