<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicModalDistance</key>
	<string>staticGrayscaleStyle</string>
	<key>bulletEnvironmentBorder</key>
	<string>arithmeticActivityHue</string>
	<key>capsuleAboutKind</key>
	<string>customBorderType</string>
	<key>coordinatorVariableInset</key>
	<string>sinkThroughTask</string>
	<key>globalExtensionColor</key>
	<string>interactorInsideChain</string>
	<key>groupAboutFramework</key>
	<string>tabbarContainTask</string>
	<key>modulusProxyFeedback</key>
	<string>sophisticatedSingletonShade</string>
	<key>offsetPrototypeRight</key>
	<string>buttonCommandShape</string>
	<key>resourcePlatformAlignment</key>
	<string>instructionOrSystem</string>
	<key>streamVisitorPressure</key>
	<string>immediateAllocatorVisibility</string>
</dict>
</plist>
