<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerMasterSkewy</key>
	<string>rapidEffectMode</string>
	<key>commonButtonTheme</key>
	<string>certificateStrategyPosition</string>
	<key>expandedFlyweightInset</key>
	<string>catalystForParam</string>
	<key>immediateEntityType</key>
	<string>intuitiveRadioDepth</string>
	<key>momentumTierOffset</key>
	<string>storageAroundParam</string>
	<key>painterLayerDepth</key>
	<string>uniqueTechniqueRotation</string>
	<key>typicalFeatureCenter</key>
	<string>storageAlongTemple</string>
</dict>
</plist>
