<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constLocalizationForce</key>
	<string>agileShaderResponse</string>
	<key>directlySubscriptionScale</key>
	<string>sliderChainStatus</string>
	<key>iterativeNotifierDelay</key>
	<string>euclideanRadioScale</string>
	<key>layerBesideTask</key>
	<string>discardedChannelBorder</string>
	<key>originalAlertCount</key>
	<string>otherQueueRotation</string>
	<key>providerOperationVisibility</key>
	<string>basicChannelScale</string>
	<key>sceneFrameworkLeft</key>
	<string>similarGramStatus</string>
	<key>sinkBeyondLevel</key>
	<string>singleProgressbarSaturation</string>
</dict>
</plist>
