<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionChainAppearance</key>
	<string>effectLikeSingleton</string>
	<key>awaitOfProcess</key>
	<string>spotByState</string>
	<key>cubeOutsideForm</key>
	<string>durationCommandMode</string>
	<key>instructionFormDirection</key>
	<string>mediaquerySinceStrategy</string>
	<key>otherRouteFeedback</key>
	<string>mediocreCosineScale</string>
	<key>taskForJob</key>
	<string>segmentExceptMethod</string>
	<key>tickerDespitePhase</key>
	<string>completerTypePadding</string>
</dict>
</plist>
