<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorIncludeVisitor</key>
	<string>listenerShapeKind</string>
	<key>batchViaFramework</key>
	<string>respectiveCoordinatorOpacity</string>
	<key>beginnerBaselineCoord</key>
	<string>composableControllerState</string>
	<key>blocBufferState</key>
	<string>dynamicSceneMargin</string>
	<key>buttonProcessPressure</key>
	<string>touchDespiteProcess</string>
	<key>reactiveMethodTension</key>
	<string>directDescriptionRate</string>
	<key>richtextWithScope</key>
	<string>threadNumberTop</string>
	<key>sortedListviewType</key>
	<string>intensityAboutParameter</string>
	<key>topicInterpreterTint</key>
	<string>skirtVariableMode</string>
</dict>
</plist>
