<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncEnvironmentAcceleration</key>
	<string>sequentialBoxshadowScale</string>
	<key>dedicatedTweenPressure</key>
	<string>routeOrBridge</string>
	<key>explicitObserverDepth</key>
	<string>histogramSinceStructure</string>
	<key>interactorMementoState</key>
	<string>oldSingletonType</string>
	<key>navigationFromShape</key>
	<string>projectBufferBound</string>
	<key>relationalGrayscaleStatus</key>
	<string>beginnerNotifierInset</string>
	<key>scrollableLayoutHue</key>
	<string>captionNearObserver</string>
	<key>standaloneMonsterForce</key>
	<string>easyUsecaseHead</string>
</dict>
</plist>
