<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFormDepth</key>
	<string>protectedTaskSpacing</string>
	<key>diversifiedBatchVelocity</key>
	<string>bufferForCommand</string>
	<key>geometricVectorShade</key>
	<string>instructionParamValidation</string>
	<key>playbackOfLevel</key>
	<string>menuViaFlyweight</string>
	<key>sliderShapeState</key>
	<string>concurrentSceneType</string>
	<key>stateParameterRate</key>
	<string>cubitSingletonMode</string>
	<key>subscriptionInType</key>
	<string>tangentAmongVar</string>
	<key>transitionWithoutForm</key>
	<string>storeLevelDepth</string>
</dict>
</plist>
