<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mapCommandOrigin</key>
	<string>serviceBeyondMediator</string>
	<key>storageInterpreterType</key>
	<string>particleOfVar</string>
	<key>swiftBesideChain</key>
	<string>notifierTypeInterval</string>
</dict>
</plist>
