<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterSingletonSkewx</key>
	<string>entropyAdapterVisibility</string>
	<key>containerDecoratorSize</key>
	<string>smallAsyncShape</string>
	<key>equalizationShapeInterval</key>
	<string>subpixelBesideContext</string>
	<key>operationSinceDecorator</key>
	<string>layoutInSystem</string>
	<key>resultBufferFormat</key>
	<string>layerWorkSkewy</string>
	<key>sceneVariableContrast</key>
	<string>errorObserverSpacing</string>
	<key>seamlessTaskBrightness</key>
	<string>segmentProcessDirection</string>
	<key>transformerDespiteLayer</key>
	<string>gesturedetectorAdapterAcceleration</string>
</dict>
</plist>
