<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectPerFramework</key>
	<string>methodThanSingleton</string>
	<key>builderFormColor</key>
	<string>euclideanHandlerBrightness</string>
	<key>elasticPriorityTension</key>
	<string>consultativeNavigatorBottom</string>
	<key>inkwellCycleDepth</key>
	<string>compositionalMonsterStatus</string>
	<key>layoutValueFormat</key>
	<string>animationAwayShape</string>
	<key>resourceSingletonDirection</key>
	<string>providerFunctionOpacity</string>
	<key>reusableSliderHue</key>
	<string>utilBesideParam</string>
	<key>typicalOperationHue</key>
	<string>firstReductionColor</string>
</dict>
</plist>
