<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directScrollHead</key>
	<string>missedMethodShape</string>
	<key>liteTextureColor</key>
	<string>materialOrPlatform</string>
	<key>semanticTransitionShade</key>
	<string>globalVariantTransparency</string>
	<key>sessionPerWork</key>
	<string>subsequentObserverBottom</string>
	<key>statefulPreviewBound</key>
	<string>errorViaType</string>
	<key>tickerSincePattern</key>
	<string>geometricSizeSize</string>
</dict>
</plist>
