<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventDuringProxy</key>
	<string>timerBesideStyle</string>
	<key>gridviewAsParameter</key>
	<string>techniqueStageLocation</string>
	<key>lastLabelLocation</key>
	<string>permissiveMomentumOrigin</string>
	<key>mobileInstructionTransparency</key>
	<string>scrollableAspectratioSkewx</string>
	<key>permanentRouteBorder</key>
	<string>popupNearStrategy</string>
	<key>petSingletonContrast</key>
	<string>captionFrameworkSpacing</string>
	<key>precisionWithInterpreter</key>
	<string>precisionDespiteContext</string>
</dict>
</plist>
