<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLevelVelocity</key>
	<string>buttonOrLayer</string>
	<key>errorStageColor</key>
	<string>mobileDelegateBottom</string>
	<key>graphForShape</key>
	<string>interactorKindDepth</string>
	<key>interpolationInsideSystem</key>
	<string>stackFormShape</string>
	<key>previewAgainstBridge</key>
	<string>tabviewKindAcceleration</string>
	<key>radiusParamType</key>
	<string>channelDespiteStage</string>
	<key>responsiveThemeCount</key>
	<string>channelAndPattern</string>
	<key>sinkOperationInset</key>
	<string>hyperbolicQueueSize</string>
</dict>
</plist>
