<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledReductionOrientation</key>
	<string>presenterInsideForm</string>
	<key>granularAlignmentFrequency</key>
	<string>tickerWithoutWork</string>
	<key>memberViaDecorator</key>
	<string>sinkAwayState</string>
	<key>projectionThroughTask</key>
	<string>prioritySingletonDirection</string>
	<key>slashPerTier</key>
	<string>localBoxDelay</string>
	<key>subscriptionTempleHue</key>
	<string>kernelThanAdapter</string>
	<key>techniqueVersusInterpreter</key>
	<string>gemWithObserver</string>
	<key>webCompositionTransparency</key>
	<string>backwardTableAppearance</string>
</dict>
</plist>
