<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioEnvironmentColor</key>
	<string>semanticPaddingShade</string>
	<key>baselineIncludeTemple</key>
	<string>granularRequestScale</string>
	<key>coordinatorAndMemento</key>
	<string>hierarchicalOverlayCenter</string>
	<key>curveBeyondProxy</key>
	<string>symmetricSwiftRotation</string>
	<key>immediateBrushState</key>
	<string>topicDuringDecorator</string>
	<key>indicatorFormAlignment</key>
	<string>subpixelPhaseForce</string>
	<key>keyCurveSkewx</key>
	<string>navigatorBufferInteraction</string>
	<key>nodeAgainstMode</key>
	<string>tappableRouteFrequency</string>
	<key>scaffoldWithoutSystem</key>
	<string>resourcePhaseTop</string>
</dict>
</plist>
