<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticViewLeft</key>
	<string>nodeLayerCoord</string>
	<key>euclideanChapterVelocity</key>
	<string>chartAboutAction</string>
	<key>gestureTypeBehavior</key>
	<string>notifierStructureDuration</string>
	<key>mapAgainstScope</key>
	<string>timerTaskFeedback</string>
	<key>mutableIntegerMargin</key>
	<string>navigatorExceptFlyweight</string>
	<key>resilientPresenterFormat</key>
	<string>multiProjectionStatus</string>
	<key>resilientRemainderDepth</key>
	<string>nibByPrototype</string>
	<key>resourceAboutStage</key>
	<string>dialogsFormBorder</string>
	<key>titleFunctionScale</key>
	<string>precisionVersusFunction</string>
	<key>usedAssetKind</key>
	<string>coordinatorOutsideProxy</string>
</dict>
</plist>
