<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarJobDelay</key>
	<string>requestThroughDecorator</string>
	<key>asyncValueValidation</key>
	<string>enabledSymbolVisibility</string>
	<key>documentVariableDirection</key>
	<string>signatureInsideFramework</string>
	<key>featureEnvironmentStatus</key>
	<string>deferredPreviewFrequency</string>
	<key>gateShapeDistance</key>
	<string>previewPlatformShade</string>
	<key>imageParamCount</key>
	<string>prevTransitionOpacity</string>
	<key>originalMemberFeedback</key>
	<string>storeTierSkewx</string>
	<key>priorIntensityHead</key>
	<string>behaviorVariableCoord</string>
	<key>widgetAroundWork</key>
	<string>curveFormRight</string>
</dict>
</plist>
