<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryThanState</key>
	<string>sliderChainColor</string>
	<key>extensionProxyKind</key>
	<string>layerAwayType</string>
	<key>substantialAllocatorTint</key>
	<string>hyperbolicActionKind</string>
</dict>
</plist>
