<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSkirtMargin</key>
	<string>semanticBlocFrequency</string>
	<key>callbackVisitorTransparency</key>
	<string>layoutFrameworkShape</string>
	<key>dialogsPerContext</key>
	<string>methodOrProcess</string>
	<key>inactiveDimensionLeft</key>
	<string>presenterThanValue</string>
	<key>semanticUnaryMomentum</key>
	<string>intermediateVectorBound</string>
</dict>
</plist>
