<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFutureInterval</key>
	<string>diversifiedPageviewScale</string>
	<key>assetScopeIndex</key>
	<string>popupOfAction</string>
	<key>cartesianAnimationRight</key>
	<string>taskAboutPrototype</string>
	<key>commandByJob</key>
	<string>baselineTempleInterval</string>
	<key>easyAssetVelocity</key>
	<string>functionalBufferTop</string>
	<key>fixedBulletFrequency</key>
	<string>notifierExceptStrategy</string>
	<key>localStepRate</key>
	<string>activityOperationScale</string>
	<key>monsterAwayLayer</key>
	<string>webSizedboxRight</string>
	<key>threadDespiteStyle</key>
	<string>iconVarRight</string>
</dict>
</plist>
