<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureObserverInteraction</key>
	<string>directOptimizerVisible</string>
	<key>configurationStateMargin</key>
	<string>hardAxisFrequency</string>
	<key>directCapsuleCount</key>
	<string>callbackVisitorTheme</string>
	<key>layoutFromValue</key>
	<string>managerBufferDensity</string>
	<key>liteNormOpacity</key>
	<string>curveAdapterRotation</string>
	<key>logarithmLikePlatform</key>
	<string>modelFunctionType</string>
	<key>normalCertificateMode</key>
	<string>techniqueExceptAction</string>
	<key>priorityOrNumber</key>
	<string>viewInTemple</string>
	<key>sophisticatedPlatePressure</key>
	<string>protocolSingletonRight</string>
</dict>
</plist>
