<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyAgainstMode</key>
	<string>requestEnvironmentAcceleration</string>
	<key>inheritedMaterialState</key>
	<string>cyclePhaseRate</string>
	<key>oldVectorTag</key>
	<string>curveDespiteStyle</string>
	<key>previewContainCommand</key>
	<string>custompaintInFlyweight</string>
	<key>sineVersusVariable</key>
	<string>loopProxyBrightness</string>
	<key>statelessMediatorScale</key>
	<string>inkwellVersusPhase</string>
</dict>
</plist>
