<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPlatformResponse</key>
	<string>responsiveTopicSize</string>
	<key>channelCyclePressure</key>
	<string>delicateVectorRotation</string>
	<key>controllerAboutState</key>
	<string>prismaticOptionSaturation</string>
	<key>exceptionTypeBorder</key>
	<string>secondMenuBorder</string>
	<key>firstProgressbarSpacing</key>
	<string>canvasPerVariable</string>
	<key>globalMusicBottom</key>
	<string>sustainableEffectVelocity</string>
	<key>largeConfigurationDirection</key>
	<string>dialogsValueScale</string>
	<key>segmentCycleStatus</key>
	<string>singletonLevelKind</string>
	<key>significantGradientTop</key>
	<string>cartesianServiceLocation</string>
</dict>
</plist>
