<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterOutsidePhase</key>
	<string>injectionAwayTask</string>
	<key>constraintThroughStage</key>
	<string>variantSincePhase</string>
	<key>coordinatorContextPadding</key>
	<string>chapterActivitySaturation</string>
	<key>extensionOfSystem</key>
	<string>staticTabbarScale</string>
	<key>memberUntilScope</key>
	<string>pageviewNumberTail</string>
	<key>opaqueUsecaseTheme</key>
	<string>mutableCharacterHue</string>
	<key>substantialTextIndex</key>
	<string>equalizationPerPhase</string>
	<key>tweenByInterpreter</key>
	<string>uniqueResourceLocation</string>
</dict>
</plist>
