<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledContractionOffset</key>
	<string>intensityVarValidation</string>
	<key>effectWithoutProcess</key>
	<string>intensityProxyShade</string>
	<key>elasticCycleStyle</key>
	<string>composableLabelTension</string>
	<key>methodWithoutMemento</key>
	<string>frameAwayMediator</string>
	<key>resultAmongFlyweight</key>
	<string>enabledBehaviorCount</string>
	<key>synchronousSizedboxRate</key>
	<string>multiModulusVelocity</string>
	<key>tabviewInMediator</key>
	<string>optionChainResponse</string>
</dict>
</plist>
