<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitThroughPrototype</key>
	<string>subsequentStateIndex</string>
	<key>discardedSinkCount</key>
	<string>crudePainterRotation</string>
	<key>expandedUntilPrototype</key>
	<string>errorLikeJob</string>
	<key>lazyAwaitFormat</key>
	<string>reducerContainScope</string>
	<key>materialAboutValue</key>
	<string>featureFormFlags</string>
	<key>reactiveQueueVisible</key>
	<string>mediaqueryEnvironmentTop</string>
	<key>richtextInterpreterHue</key>
	<string>imperativeAssetBorder</string>
	<key>slashExceptType</key>
	<string>stackModeContrast</string>
	<key>zoneContainTier</key>
	<string>providerLayerLocation</string>
</dict>
</plist>
