<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFrameworkShape</key>
	<string>asyncVersusEnvironment</string>
	<key>bulletAroundComposite</key>
	<string>normalNavigatorTheme</string>
	<key>completerOutsideFramework</key>
	<string>iconAgainstInterpreter</string>
	<key>desktopAllocatorBorder</key>
	<string>columnOperationResponse</string>
	<key>oldAnimationSpacing</key>
	<string>timerLikeMethod</string>
	<key>resolverCompositeSkewy</key>
	<string>logarithmDespiteJob</string>
	<key>semanticsSingletonBehavior</key>
	<string>projectionDespiteBuffer</string>
</dict>
</plist>
