<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectUntilOperation</key>
	<string>isolateInterpreterVelocity</string>
	<key>giftFlyweightBrightness</key>
	<string>precisionOrMethod</string>
	<key>grainAboutValue</key>
	<string>handlerLayerMode</string>
	<key>materialOrFacade</key>
	<string>buttonBesideInterpreter</string>
	<key>nextAlphaForce</key>
	<string>resourceParameterBottom</string>
	<key>previewBeyondVar</key>
	<string>sinkIncludeParam</string>
	<key>queueAdapterCoord</key>
	<string>semanticTextFeedback</string>
</dict>
</plist>
