<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTierContrast</key>
	<string>usecaseSystemTheme</string>
	<key>criticalRectSpeed</key>
	<string>secondBinaryFrequency</string>
	<key>diffableMovementTint</key>
	<string>largeContainerPosition</string>
	<key>lazyTransitionDuration</key>
	<string>sharedSizedboxFormat</string>
	<key>loopAwayFlyweight</key>
	<string>statefulChainShade</string>
	<key>materialViewContrast</key>
	<string>resultInScope</string>
	<key>nodeExceptActivity</key>
	<string>iconAndPhase</string>
	<key>scrollableObserverTension</key>
	<string>oldCompositionResponse</string>
	<key>scrollablePromiseSize</key>
	<string>featureUntilScope</string>
	<key>transitionSingletonScale</key>
	<string>semanticRequestStatus</string>
</dict>
</plist>
