<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalSpriteMomentum</key>
	<string>dedicatedSignatureOrientation</string>
	<key>gestureThanActivity</key>
	<string>factoryShapeBound</string>
	<key>resizableUtilTop</key>
	<string>capsuleContainPhase</string>
	<key>tickerCommandMode</key>
	<string>composableLogarithmShape</string>
	<key>usedSizeSaturation</key>
	<string>disabledBoxshadowName</string>
</dict>
</plist>
