<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeOfTemple</key>
	<string>cartesianChartSkewx</string>
	<key>currentErrorDuration</key>
	<string>decorationOfPrototype</string>
	<key>lossProcessBrightness</key>
	<string>cacheByStyle</string>
	<key>rowDespiteMode</key>
	<string>keyReducerPressure</string>
	<key>sensorDuringStyle</key>
	<string>allocatorProxyInterval</string>
	<key>singlePetKind</key>
	<string>boxshadowExceptFunction</string>
	<key>subscriptionModeVisible</key>
	<string>loopPatternTheme</string>
</dict>
</plist>
