<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoContainerTint</key>
	<string>menuPrototypeInset</string>
	<key>commonLogarithmColor</key>
	<string>histogramContextDepth</string>
	<key>desktopPopupTail</key>
	<string>blocAndParam</string>
	<key>observerInterpreterMomentum</key>
	<string>sharedTimerSpacing</string>
	<key>optionCompositeOpacity</key>
	<string>tableViaTemple</string>
	<key>presenterLikeKind</key>
	<string>singletonUntilForm</string>
	<key>protectedTernaryMargin</key>
	<string>matrixContextSkewy</string>
	<key>subscriptionTempleResponse</key>
	<string>compositionalPageviewTop</string>
	<key>widgetAwayFacade</key>
	<string>stampFlyweightTheme</string>
</dict>
</plist>
