<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialAnchorIndex</key>
	<string>delicateButtonShade</string>
	<key>groupOrKind</key>
	<string>boxMediatorHue</string>
	<key>logVarSkewx</key>
	<string>hardResolverPadding</string>
	<key>modulusOrFlyweight</key>
	<string>normalRouterFlags</string>
	<key>pivotalSemanticsStatus</key>
	<string>profileCompositeStyle</string>
	<key>routerMediatorMode</key>
	<string>resourceTypeVisible</string>
	<key>rowLikePattern</key>
	<string>hashBesideTemple</string>
</dict>
</plist>
