<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteTopicSkewy</key>
	<string>certificateNumberPosition</string>
	<key>coordinatorStrategyAlignment</key>
	<string>characterCommandBehavior</string>
	<key>handlerIncludeLevel</key>
	<string>prismaticReductionInterval</string>
	<key>histogramSingletonSkewx</key>
	<string>fusedMarginBrightness</string>
	<key>interactiveSinkTag</key>
	<string>layerContainForm</string>
	<key>paddingEnvironmentTag</key>
	<string>interactorVarFlags</string>
	<key>pivotalSceneForce</key>
	<string>textureActionSpacing</string>
	<key>streamInBridge</key>
	<string>arithmeticButtonBound</string>
	<key>tensorStreamDistance</key>
	<string>sliderBesideFacade</string>
	<key>viewBridgePressure</key>
	<string>appbarUntilVariable</string>
</dict>
</plist>
