<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedSceneSpeed</key>
	<string>rowAtLevel</string>
	<key>nodeWithoutLevel</key>
	<string>transitionDespiteDecorator</string>
	<key>observerOrComposite</key>
	<string>cubitInCommand</string>
</dict>
</plist>
