<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioPerMethod</key>
	<string>anchorWorkSpeed</string>
	<key>baseVarState</key>
	<string>spotLevelColor</string>
	<key>catalystPerObserver</key>
	<string>labelPrototypeOrigin</string>
	<key>cubitFacadeSpacing</key>
	<string>curveFromNumber</string>
	<key>dependencyDuringMethod</key>
	<string>radioSystemRotation</string>
	<key>gemCommandHue</key>
	<string>batchCommandOpacity</string>
	<key>materialGemTheme</key>
	<string>marginCycleMode</string>
	<key>navigatorTierBehavior</key>
	<string>positionedAlongStructure</string>
	<key>reducerWithoutType</key>
	<string>matrixExceptType</string>
	<key>titleExceptVariable</key>
	<string>viewByMode</string>
</dict>
</plist>
