<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationBufferPosition</key>
	<string>buttonAwayPattern</string>
	<key>desktopCubitShape</key>
	<string>synchronousObserverFormat</string>
	<key>disabledGridColor</key>
	<string>currentManagerLocation</string>
	<key>factoryParameterBound</key>
	<string>buttonCycleColor</string>
	<key>finalStoreSaturation</key>
	<string>fragmentExceptValue</string>
	<key>globalAspectratioInteraction</key>
	<string>transitionValueState</string>
	<key>independentGateType</key>
	<string>labelAboutWork</string>
	<key>lossScopeScale</key>
	<string>interactorStrategyEdge</string>
	<key>masterUntilPrototype</key>
	<string>geometricTextForce</string>
	<key>resultStyleLocation</key>
	<string>capacitiesThroughProxy</string>
</dict>
</plist>
