<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoWidgetSkewy</key>
	<string>switchSingletonTag</string>
	<key>drawerThroughDecorator</key>
	<string>webDrawerMomentum</string>
	<key>effectAgainstScope</key>
	<string>progressbarStateStyle</string>
	<key>histogramBeyondProcess</key>
	<string>riverpodAsJob</string>
	<key>integerShapeMode</key>
	<string>similarLocalizationOffset</string>
	<key>presenterOfMethod</key>
	<string>constraintVersusFramework</string>
	<key>primaryListenerBehavior</key>
	<string>effectForTask</string>
	<key>robustScrollStatus</key>
	<string>layoutContainContext</string>
	<key>semanticLayoutTheme</key>
	<string>greatProviderSpacing</string>
	<key>sizeJobBottom</key>
	<string>contractionProcessDuration</string>
</dict>
</plist>
