<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleActivityDepth</key>
	<string>originalSceneSkewx</string>
	<key>localizationFacadeTint</key>
	<string>equalizationLevelFormat</string>
	<key>mainGrayscaleCenter</key>
	<string>borderProxySaturation</string>
	<key>managerIncludeActivity</key>
	<string>synchronousBufferDistance</string>
	<key>seamlessServiceSkewx</key>
	<string>directDurationLocation</string>
	<key>stepViaProcess</key>
	<string>profileAsBuffer</string>
	<key>substantialCommandFlags</key>
	<string>integerOutsideLayer</string>
	<key>textPerStage</key>
	<string>semanticPreviewStatus</string>
	<key>unaryStyleDistance</key>
	<string>touchStyleTop</string>
</dict>
</plist>
