<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediaqueryStructureDirection</key>
	<string>tabviewOfForm</string>
	<key>nextExponentEdge</key>
	<string>granularAllocatorBrightness</string>
	<key>promiseOrNumber</key>
	<string>alphaVisitorBound</string>
	<key>sceneInsidePhase</key>
	<string>normOfCommand</string>
</dict>
</plist>
