<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentObserverCenter</key>
	<string>asyncBridgeTag</string>
	<key>borderThanValue</key>
	<string>missedRouterMomentum</string>
	<key>currentBitrateBound</key>
	<string>widgetBridgeMode</string>
	<key>injectionViaStructure</key>
	<string>permanentCommandTop</string>
	<key>inkwellSingletonBehavior</key>
	<string>robustEqualizationMode</string>
	<key>permissiveManagerVisible</key>
	<string>completerFromFramework</string>
	<key>presenterProxyAppearance</key>
	<string>graphTempleTransparency</string>
	<key>toolDuringKind</key>
	<string>heroLevelTail</string>
	<key>zoneProcessBehavior</key>
	<string>subpixelPerLayer</string>
</dict>
</plist>
