<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedBoxshadowValidation</key>
	<string>blocAwayInterpreter</string>
	<key>inheritedViewInset</key>
	<string>priorityTaskName</string>
	<key>rapidReducerDepth</key>
	<string>accessoryNumberTransparency</string>
	<key>sharedTextfieldAppearance</key>
	<string>isolateMementoRight</string>
</dict>
</plist>
