<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseViaJob</key>
	<string>secondScreenInset</string>
	<key>crudeUsageInset</key>
	<string>pageviewTypeBehavior</string>
	<key>directProtocolDelay</key>
	<string>entropyCommandForce</string>
	<key>heapAndMemento</key>
	<string>dropdownbuttonWorkBrightness</string>
	<key>painterOrStage</key>
	<string>significantTimerCenter</string>
	<key>requestWithoutTask</key>
	<string>widgetLevelTension</string>
	<key>sustainableBatchAlignment</key>
	<string>skinAwayStrategy</string>
</dict>
</plist>
