<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationEnvironmentPressure</key>
	<string>loopInsideNumber</string>
	<key>animationOperationSpeed</key>
	<string>comprehensiveInjectionOffset</string>
	<key>fragmentOrLayer</key>
	<string>protectedContractionDepth</string>
	<key>navigatorEnvironmentFlags</key>
	<string>timerCycleVelocity</string>
	<key>notifierAlongBridge</key>
	<string>completionPrototypeType</string>
	<key>storyboardEnvironmentIndex</key>
	<string>accordionCacheAcceleration</string>
</dict>
</plist>
