<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferSystemDelay</key>
	<string>synchronousManagerStyle</string>
	<key>containerAwaySystem</key>
	<string>logExceptStrategy</string>
	<key>cursorOfComposite</key>
	<string>topicOutsideCommand</string>
	<key>managerAlongShape</key>
	<string>giftForStructure</string>
	<key>offsetNearParam</key>
	<string>stateAmongForm</string>
	<key>permissiveChannelsLocation</key>
	<string>resizableCubeInteraction</string>
	<key>protectedCubeStyle</key>
	<string>hierarchicalNotifierPosition</string>
	<key>semanticUnaryDistance</key>
	<string>prismaticAlignmentSaturation</string>
	<key>usecaseAmongStrategy</key>
	<string>visibleAlignmentColor</string>
</dict>
</plist>
