<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStyleTop</key>
	<string>rapidTimerMargin</string>
	<key>commonAnimatedcontainerDuration</key>
	<string>resultStageColor</string>
	<key>dependencyAndMemento</key>
	<string>singletonAgainstSystem</string>
	<key>fusedCanvasDepth</key>
	<string>notifierOperationEdge</string>
	<key>graphForSystem</key>
	<string>baselinePerLevel</string>
	<key>resourceMethodDirection</key>
	<string>appbarCompositeShade</string>
	<key>specifierPerStage</key>
	<string>previewFromMethod</string>
</dict>
</plist>
