<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFromJob</key>
	<string>reactiveAlphaColor</string>
	<key>effectInsideLevel</key>
	<string>baseAroundShape</string>
	<key>invisibleLabelInterval</key>
	<string>functionalGraphicState</string>
	<key>mediumSizedboxTail</key>
	<string>visibleGiftShade</string>
	<key>responsiveDurationVelocity</key>
	<string>geometricQueryFormat</string>
	<key>streamAmongWork</key>
	<string>accessoryCompositeLocation</string>
	<key>tabbarAdapterStyle</key>
	<string>lazyVectorStyle</string>
	<key>tabviewFacadeCount</key>
	<string>multiPageviewOffset</string>
	<key>tensorFrameBrightness</key>
	<string>primaryThemeShape</string>
	<key>typicalBulletDistance</key>
	<string>liteResultDepth</string>
</dict>
</plist>
