<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseChainForce</key>
	<string>iconFlyweightSize</string>
	<key>compositionAdapterBrightness</key>
	<string>grainStageSize</string>
	<key>curvePhaseVisible</key>
	<string>mainTimerTop</string>
	<key>featureAlongPhase</key>
	<string>widgetTypeDensity</string>
	<key>gemAboutLayer</key>
	<string>interactiveTextureSaturation</string>
	<key>opaqueTabbarBorder</key>
	<string>pivotalBufferColor</string>
	<key>popupBeyondInterpreter</key>
	<string>temporaryProviderTop</string>
	<key>publicBatchDelay</key>
	<string>granularEntitySpeed</string>
	<key>specifyPositionOrigin</key>
	<string>labelTaskBorder</string>
	<key>symmetricUsecaseAcceleration</key>
	<string>cursorFlyweightLocation</string>
</dict>
</plist>
