<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerOutsideObserver</key>
	<string>temporaryModelMode</string>
	<key>dropdownbuttonValueMomentum</key>
	<string>normalAllocatorPadding</string>
	<key>featureAtCycle</key>
	<string>animatedcontainerAmongAction</string>
	<key>immutableIsolateFlags</key>
	<string>animatedChapterSpacing</string>
	<key>musicIncludeOperation</key>
	<string>invisibleBlocHead</string>
	<key>semanticBuilderCoord</key>
	<string>effectActionCenter</string>
	<key>titleStyleColor</key>
	<string>rowAgainstWork</string>
	<key>transitionMediatorHead</key>
	<string>substantialButtonEdge</string>
	<key>vectorInTier</key>
	<string>checklistFacadeStyle</string>
</dict>
</plist>
