<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorPerAction</key>
	<string>fixedInjectionTop</string>
	<key>giftAsValue</key>
	<string>exponentLevelTransparency</string>
	<key>mobileCommandDirection</key>
	<string>webHeroSpeed</string>
	<key>reactiveMapStyle</key>
	<string>gridActionShape</string>
	<key>sceneLikeEnvironment</key>
	<string>completerBesideEnvironment</string>
	<key>shaderPerState</key>
	<string>sliderWithFacade</string>
	<key>tickerStructureMomentum</key>
	<string>asyncProfileBrightness</string>
</dict>
</plist>
