<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTransformerRotation</key>
	<string>storeStructureResponse</string>
	<key>compositionThroughCommand</key>
	<string>lossAwayMemento</string>
	<key>disparateGradientBorder</key>
	<string>chapterVersusLayer</string>
	<key>factoryBufferMode</key>
	<string>backwardSignPosition</string>
	<key>iconForDecorator</key>
	<string>permanentPlateValidation</string>
	<key>sceneEnvironmentLeft</key>
	<string>semanticResourceStatus</string>
	<key>skinLevelKind</key>
	<string>batchStructureResponse</string>
	<key>unactivatedModelIndex</key>
	<string>timerAtDecorator</string>
	<key>viewStructureOffset</key>
	<string>effectLayerTag</string>
</dict>
</plist>
