<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoConstraintDistance</key>
	<string>uniqueTernaryTop</string>
	<key>declarativeDecorationRight</key>
	<string>animatedcontainerSystemDepth</string>
	<key>mobilePatternVisible</key>
	<string>sceneAsDecorator</string>
	<key>painterJobOpacity</key>
	<string>allocatorStructureStatus</string>
	<key>queryAboutParameter</key>
	<string>resolverWorkShade</string>
	<key>sliderInsideMethod</key>
	<string>resultThanContext</string>
	<key>tickerBesideFacade</key>
	<string>axisParamTint</string>
</dict>
</plist>
