<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterThroughPhase</key>
	<string>requestShapeColor</string>
	<key>constraintAwayChain</key>
	<string>binaryModeVisible</string>
	<key>mainCellShade</key>
	<string>globalGroupTension</string>
	<key>optionParameterKind</key>
	<string>independentDurationDirection</string>
	<key>stampShapeInset</key>
	<string>indicatorOrOperation</string>
	<key>techniqueCompositeEdge</key>
	<string>aspectratioInterpreterSize</string>
</dict>
</plist>
