<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAboutAction</key>
	<string>layerDespiteValue</string>
	<key>chapterIncludeSingleton</key>
	<string>diffableDurationMargin</string>
	<key>keyApertureRate</key>
	<string>sortedQueueTension</string>
	<key>modelAroundComposite</key>
	<string>tensorChannelsDelay</string>
	<key>positionedForSingleton</key>
	<string>priorPriorityLocation</string>
	<key>sineBesideForm</key>
	<string>positionStrategyScale</string>
	<key>sinkModeDepth</key>
	<string>bufferKindSpacing</string>
	<key>taskViaTier</key>
	<string>borderSincePrototype</string>
</dict>
</plist>
