<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAgainstTemple</key>
	<string>resilientRichtextAcceleration</string>
	<key>checkboxContainInterpreter</key>
	<string>relationalWorkflowBottom</string>
	<key>crucialThreadMargin</key>
	<string>statelessTickerLeft</string>
	<key>eagerDecorationLocation</key>
	<string>mediaAwayShape</string>
	<key>transformerLikeMode</key>
	<string>respectiveCompositionCenter</string>
	<key>utilThanCommand</key>
	<string>featureObserverAcceleration</string>
</dict>
</plist>
