<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFunctionInterval</key>
	<string>offsetLayerAcceleration</string>
	<key>expandedViaPattern</key>
	<string>criticalListviewInset</string>
	<key>grayscaleContainInterpreter</key>
	<string>significantLayoutForce</string>
	<key>greatLabelInset</key>
	<string>containerShapeDirection</string>
	<key>parallelResolverDistance</key>
	<string>matrixSystemSkewy</string>
	<key>rapidBufferBorder</key>
	<string>pinchableProviderDepth</string>
	<key>scaffoldBeyondFlyweight</key>
	<string>remainderBesideVar</string>
	<key>usecaseFacadeRotation</key>
	<string>equipmentAroundComposite</string>
	<key>vectorAroundProxy</key>
	<string>batchInsideCommand</string>
</dict>
</plist>
