<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTypeOrientation</key>
	<string>smartStateSpeed</string>
	<key>backwardLabelStatus</key>
	<string>unactivatedHistogramMargin</string>
	<key>buttonPlatformInterval</key>
	<string>frameDespiteLevel</string>
	<key>chapterLevelSkewy</key>
	<string>autoTaskAcceleration</string>
	<key>curveStateLeft</key>
	<string>asyncLikeOperation</string>
	<key>dedicatedAssetStyle</key>
	<string>checkboxSystemVisibility</string>
	<key>euclideanPopupKind</key>
	<string>rowAroundProxy</string>
	<key>handlerDecoratorColor</key>
	<string>completionAwayActivity</string>
	<key>providerBridgeShade</key>
	<string>tabviewAsSingleton</string>
	<key>spriteFlyweightMode</key>
	<string>directToolBehavior</string>
</dict>
</plist>
