<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackContainFramework</key>
	<string>configurationEnvironmentOpacity</string>
	<key>certificateBesideCommand</key>
	<string>declarativeAspectratioShade</string>
	<key>eagerProjectionFormat</key>
	<string>cosineProcessValidation</string>
	<key>hashCompositeDelay</key>
	<string>eventContextDepth</string>
	<key>instructionStructureCenter</key>
	<string>localCompletionMargin</string>
	<key>listviewFrameworkPosition</key>
	<string>cubitContextShape</string>
	<key>operationStateSpacing</key>
	<string>listenerAtTask</string>
	<key>segmentPerActivity</key>
	<string>mobileExponentCoord</string>
	<key>subsequentQueueRotation</key>
	<string>modelSinceState</string>
</dict>
</plist>
