<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncScopeInterval</key>
	<string>chartObserverName</string>
	<key>managerChainRate</key>
	<string>sharedPlaybackForce</string>
	<key>statefulContainerMomentum</key>
	<string>smartBaselineMode</string>
	<key>timerCompositeFlags</key>
	<string>invisibleProjectionMode</string>
</dict>
</plist>
