<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstStrategy</key>
	<string>retainedSymbolFormat</string>
	<key>constraintContextDelay</key>
	<string>plateContextAlignment</string>
	<key>constraintDecoratorInset</key>
	<string>significantLayoutInset</string>
	<key>flexibleCheckboxValidation</key>
	<string>equalizationPrototypeRate</string>
	<key>gemThanSingleton</key>
	<string>displayableMonsterName</string>
	<key>normInsideKind</key>
	<string>bufferThanAction</string>
	<key>requiredGramRate</key>
	<string>serviceNumberName</string>
	<key>subtleGramDepth</key>
	<string>cubeNearStrategy</string>
	<key>touchContainForm</key>
	<string>anchorLayerAcceleration</string>
	<key>transformerViaNumber</key>
	<string>respectiveTangentBrightness</string>
</dict>
</plist>
