<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFlyweightRight</key>
	<string>containerOfShape</string>
	<key>managerTaskContrast</key>
	<string>statelessPatternBottom</string>
	<key>publicEventDelay</key>
	<string>operationVisitorOffset</string>
	<key>switchCompositeShape</key>
	<string>tappableButtonDensity</string>
	<key>symbolBeyondVar</key>
	<string>movementAlongAdapter</string>
</dict>
</plist>
