<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisPlatformFormat</key>
	<string>reusableVariantMargin</string>
	<key>bulletPerDecorator</key>
	<string>delegateCompositeFrequency</string>
	<key>columnOfObserver</key>
	<string>integerIncludeStyle</string>
	<key>delegateVersusTier</key>
	<string>observerParameterFlags</string>
	<key>equalizationParamColor</key>
	<string>denseMapBehavior</string>
	<key>grainBridgeRotation</key>
	<string>tickerPhaseIndex</string>
	<key>modelCompositeColor</key>
	<string>seamlessControllerPressure</string>
	<key>playbackStateCenter</key>
	<string>techniqueStateFlags</string>
	<key>rowBridgePosition</key>
	<string>interfaceUntilDecorator</string>
</dict>
</plist>
