<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOfChain</key>
	<string>cupertinoLevelHue</string>
	<key>canvasContextKind</key>
	<string>materialGesturedetectorOpacity</string>
	<key>compositionalSubpixelPressure</key>
	<string>channelDespiteStrategy</string>
	<key>storageMementoCount</key>
	<string>profileForStyle</string>
	<key>storyboardStrategyPadding</key>
	<string>invisibleLabelAppearance</string>
</dict>
</plist>
