<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterModeTail</key>
	<string>frameProcessInset</string>
	<key>integerActionFlags</key>
	<string>asyncStyleDelay</string>
	<key>intermediateResultCoord</key>
	<string>webBaseBottom</string>
	<key>painterDuringAdapter</key>
	<string>capacitiesForOperation</string>
	<key>queueSingletonBehavior</key>
	<string>documentAmongKind</string>
	<key>segmentFromPrototype</key>
	<string>activatedAspectVisibility</string>
	<key>taskOperationMargin</key>
	<string>petActionMomentum</string>
	<key>touchOfLayer</key>
	<string>spineLevelBottom</string>
	<key>tweenTempleLocation</key>
	<string>chapterStateValidation</string>
</dict>
</plist>
