<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderChainForce</key>
	<string>hyperbolicMarginBound</string>
	<key>cursorInsideCommand</key>
	<string>grayscaleFunctionValidation</string>
	<key>integerSystemLocation</key>
	<string>interpolationOfWork</string>
	<key>persistentRouteColor</key>
	<string>topicWorkColor</string>
	<key>playbackAroundScope</key>
	<string>stackWithTier</string>
	<key>profileTemplePosition</key>
	<string>denseCupertinoRotation</string>
	<key>protectedPresenterOffset</key>
	<string>hierarchicalTimerDepth</string>
	<key>serviceOperationBehavior</key>
	<string>sequentialPreviewMode</string>
	<key>smartChannelBorder</key>
	<string>textAroundPrototype</string>
</dict>
</plist>
