<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeObserverSpeed</key>
	<string>standaloneAspectratioScale</string>
	<key>cubitContextTail</key>
	<string>equalizationParamSaturation</string>
	<key>dependencyScopeValidation</key>
	<string>cartesianEquipmentResponse</string>
	<key>exponentNearCommand</key>
	<string>robustRepositoryMomentum</string>
	<key>geometricGridviewVisible</key>
	<string>viewSystemType</string>
	<key>inactiveNibDelay</key>
	<string>oldMusicOrigin</string>
	<key>indicatorIncludeShape</key>
	<string>relationalAsyncMargin</string>
	<key>notificationMediatorShade</key>
	<string>variantJobType</string>
	<key>oldLoopInterval</key>
	<string>localizationVersusScope</string>
	<key>taskWithoutMemento</key>
	<string>durationOutsideParameter</string>
</dict>
</plist>
