<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureParameterSpacing</key>
	<string>observerParamBehavior</string>
	<key>batchThanBuffer</key>
	<string>coordinatorProxyLocation</string>
	<key>customCurveFormat</key>
	<string>buttonContextPadding</string>
	<key>descriptorVersusVisitor</key>
	<string>popupDecoratorFeedback</string>
	<key>intermediateApertureRate</key>
	<string>swiftStyleCoord</string>
	<key>lastLogDirection</key>
	<string>dropdownbuttonLayerInset</string>
	<key>pivotalMaterialOpacity</key>
	<string>viewViaVisitor</string>
	<key>resourceStyleVisible</key>
	<string>musicAwaySingleton</string>
	<key>resultMethodPosition</key>
	<string>accessibleHeapFormat</string>
	<key>roleInterpreterVelocity</key>
	<string>channelAmongState</string>
</dict>
</plist>
