<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOrValue</key>
	<string>backwardResolverTail</string>
	<key>currentGrayscaleSaturation</key>
	<string>eventAwayState</string>
	<key>fragmentDespiteStructure</key>
	<string>protectedCubeMomentum</string>
	<key>nativeSubscriptionShade</key>
	<string>spriteValueShade</string>
	<key>nodeAndKind</key>
	<string>desktopCoordinatorValidation</string>
	<key>positionWorkVisibility</key>
	<string>graphChainTheme</string>
	<key>progressbarShapeLeft</key>
	<string>navigatorAdapterDepth</string>
	<key>streamWorkDistance</key>
	<string>hashAdapterOffset</string>
</dict>
</plist>
