<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVersusScope</key>
	<string>dependencyStateHue</string>
	<key>denseAnimationValidation</key>
	<string>giftVersusBuffer</string>
	<key>loopStructureSpacing</key>
	<string>commandMediatorTint</string>
	<key>progressbarStyleVisibility</key>
	<string>denseBuilderVelocity</string>
	<key>serviceBesideScope</key>
	<string>persistentTextTop</string>
	<key>serviceUntilProcess</key>
	<string>constraintAgainstJob</string>
	<key>sinkObserverDensity</key>
	<string>associatedBlocDuration</string>
</dict>
</plist>
