<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticResourcePadding</key>
	<string>unaryAgainstMemento</string>
	<key>difficultPaddingFlags</key>
	<string>basicStoryboardPadding</string>
	<key>inactiveContainerTension</key>
	<string>flexibleMediaqueryRate</string>
	<key>metadataTempleOrigin</key>
	<string>asyncAsyncTail</string>
	<key>progressbarSystemSkewx</key>
	<string>persistentDropdownbuttonMargin</string>
	<key>sequentialTitleTint</key>
	<string>kernelThroughParam</string>
	<key>stateParamDelay</key>
	<string>ephemeralHashInset</string>
	<key>visibleAnimationAppearance</key>
	<string>otherNotifierLocation</string>
</dict>
</plist>
