<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellByProxy</key>
	<string>resultTypeDistance</string>
	<key>checkboxBeyondScope</key>
	<string>providerModeMargin</string>
	<key>delegatePerPattern</key>
	<string>zoneLikeEnvironment</string>
	<key>giftCycleFeedback</key>
	<string>concurrentCharacterTop</string>
	<key>promiseOrCommand</key>
	<string>durationVersusInterpreter</string>
	<key>queryInsideStrategy</key>
	<string>indicatorFromActivity</string>
	<key>sizedboxContainShape</key>
	<string>particleActivityDepth</string>
	<key>spriteAlongTier</key>
	<string>operationNumberAppearance</string>
	<key>substantialButtonVelocity</key>
	<string>hyperbolicContainerVisibility</string>
	<key>unactivatedAwaitResponse</key>
	<string>decorationForSystem</string>
</dict>
</plist>
