<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>singleEqualizationTransparency</key>
	<string>coordinatorDespitePrototype</string>
	<key>singletonAsEnvironment</key>
	<string>compositionalModelPadding</string>
	<key>viewAsProcess</key>
	<string>positionedWithoutLevel</string>
</dict>
</plist>
