<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionStructureDirection</key>
	<string>gramNearTemple</string>
	<key>constTitleFrequency</key>
	<string>injectionAwayWork</string>
	<key>coordinatorInState</key>
	<string>completerStyleOrigin</string>
	<key>durationInterpreterRotation</key>
	<string>inheritedWidgetIndex</string>
	<key>repositoryStructureCount</key>
	<string>fusedMarginStatus</string>
	<key>textfieldNearFramework</key>
	<string>statefulButtonCount</string>
</dict>
</plist>
