<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGradientHead</key>
	<string>modulusTypeFeedback</string>
	<key>featureInterpreterShape</key>
	<string>numericalTaskVisible</string>
	<key>memberWithoutFunction</key>
	<string>desktopCollectionOrientation</string>
	<key>sizeAmongShape</key>
	<string>featurePatternCoord</string>
</dict>
</plist>
