<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistActionAppearance</key>
	<string>hierarchicalRadioCenter</string>
	<key>commandIncludeMode</key>
	<string>sinkFunctionFeedback</string>
	<key>delicateErrorPadding</key>
	<string>resolverPerDecorator</string>
	<key>effectFromInterpreter</key>
	<string>binaryWithoutParameter</string>
	<key>gradientOfType</key>
	<string>coordinatorModeEdge</string>
	<key>popupOperationVisible</key>
	<string>activatedAppbarDepth</string>
	<key>providerEnvironmentShape</key>
	<string>visibleEntitySpeed</string>
	<key>shaderMethodKind</key>
	<string>dedicatedManagerShade</string>
	<key>textDuringBridge</key>
	<string>visibleMapSkewy</string>
</dict>
</plist>
