<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionFormPosition</key>
	<string>stateOutsideJob</string>
	<key>factoryAdapterHead</key>
	<string>plateAboutParameter</string>
	<key>notifierThroughStructure</key>
	<string>delegateOrCycle</string>
	<key>oldGrainStatus</key>
	<string>staticResolverCoord</string>
	<key>providerOutsideParameter</key>
	<string>autoBlocLocation</string>
	<key>routeAmongValue</key>
	<string>textContextDuration</string>
</dict>
</plist>
