<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushVarVisible</key>
	<string>navigatorStrategyDensity</string>
	<key>finalThemeTint</key>
	<string>sortedZoneScale</string>
	<key>otherBuilderSkewx</key>
	<string>channelVersusParam</string>
	<key>positionPhaseHue</key>
	<string>zoneAwayAction</string>
	<key>primaryContainerRate</key>
	<string>arithmeticPerParam</string>
	<key>prismaticEventContrast</key>
	<string>responseLevelMargin</string>
	<key>rapidStackContrast</key>
	<string>ephemeralSizeAcceleration</string>
	<key>unactivatedFeatureSpacing</key>
	<string>tabbarLayerInset</string>
</dict>
</plist>
