<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithoutAction</key>
	<string>constCallbackFrequency</string>
	<key>blocAtStructure</key>
	<string>challengeBridgeMomentum</string>
	<key>giftIncludeVariable</key>
	<string>touchShapeBrightness</string>
	<key>prevTextureMomentum</key>
	<string>overlayAwayLevel</string>
	<key>semanticImageAlignment</key>
	<string>logarithmOrNumber</string>
</dict>
</plist>
