<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticFacadeAlignment</key>
	<string>decorationParamInset</string>
	<key>delegateFunctionFeedback</key>
	<string>cosineCycleMode</string>
	<key>pinchableDurationFeedback</key>
	<string>musicWithoutLevel</string>
	<key>transformerStrategyShade</key>
	<string>techniqueByBridge</string>
</dict>
</plist>
