<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionMediatorDistance</key>
	<string>accessoryOfType</string>
	<key>factoryFacadeTint</key>
	<string>aspectratioBesideOperation</string>
	<key>lazyTimerCenter</key>
	<string>alignmentScopeStyle</string>
	<key>protectedDescriptionTension</key>
	<string>textureAgainstObserver</string>
	<key>smallScaleBrightness</key>
	<string>progressbarIncludeValue</string>
	<key>viewKindShape</key>
	<string>skirtFrameworkShape</string>
</dict>
</plist>
