<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonModeTop</key>
	<string>interactorFromParam</string>
	<key>flexibleCompleterKind</key>
	<string>cupertinoSignatureMomentum</string>
	<key>interfaceMethodPadding</key>
	<string>fusedEquipmentBorder</string>
	<key>topicEnvironmentBorder</key>
	<string>coordinatorOfLevel</string>
</dict>
</plist>
