<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInsideFacade</key>
	<string>captionParamSpacing</string>
	<key>nextGridTransparency</key>
	<string>localizationFunctionAcceleration</string>
	<key>particleFacadeStyle</key>
	<string>positionedAndOperation</string>
</dict>
</plist>
