<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterLikeTemple</key>
	<string>tweenInterpreterShape</string>
	<key>descriptorKindCoord</key>
	<string>errorDecoratorSpeed</string>
	<key>indicatorSingletonCount</key>
	<string>convolutionInterpreterCenter</string>
	<key>mainDurationTint</key>
	<string>accessibleGetxDirection</string>
	<key>prismaticProgressbarTail</key>
	<string>asyncThroughDecorator</string>
	<key>remainderSingletonRight</key>
	<string>respectivePainterCoord</string>
	<key>sinkTaskDensity</key>
	<string>sampleKindSpeed</string>
	<key>sortedRectScale</key>
	<string>aspectratioVariableMargin</string>
	<key>tabviewMethodDuration</key>
	<string>taskBeyondType</string>
</dict>
</plist>
