<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableModelValidation</key>
	<string>aspectAboutBuffer</string>
	<key>equalizationSystemColor</key>
	<string>queryVersusBridge</string>
	<key>flexibleMenuFeedback</key>
	<string>boxshadowCompositeBound</string>
	<key>gridviewKindColor</key>
	<string>drawerForStage</string>
	<key>layoutContainShape</key>
	<string>inactiveStorageInteraction</string>
	<key>protectedPlaybackDirection</key>
	<string>resultScopeColor</string>
	<key>sharedErrorKind</key>
	<string>metadataPatternKind</string>
	<key>unactivatedPlaybackContrast</key>
	<string>parallelConfigurationMargin</string>
</dict>
</plist>
