<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPageviewColor</key>
	<string>stepDuringParameter</string>
	<key>cartesianGroupBrightness</key>
	<string>dropdownbuttonShapeHue</string>
	<key>checklistStyleName</key>
	<string>gestureFromShape</string>
	<key>layoutBridgePosition</key>
	<string>ephemeralRepositoryFlags</string>
	<key>listviewForActivity</key>
	<string>storeAwayPhase</string>
	<key>listviewVariableVisibility</key>
	<string>symbolSingletonFormat</string>
	<key>reactiveConfigurationShape</key>
	<string>errorPlatformTheme</string>
	<key>rectUntilProxy</key>
	<string>scaffoldThroughInterpreter</string>
</dict>
</plist>
