<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionWithSystem</key>
	<string>gridShapeHue</string>
	<key>constraintTierStyle</key>
	<string>gestureAwayBuffer</string>
	<key>dependencyFunctionShape</key>
	<string>routerViaPhase</string>
	<key>euclideanTweenVelocity</key>
	<string>missedEventAcceleration</string>
	<key>listenerAndForm</key>
	<string>semanticBlocBrightness</string>
	<key>logarithmBesideLayer</key>
	<string>smallImageMargin</string>
	<key>metadataByContext</key>
	<string>stackStructureFormat</string>
	<key>rowContextCoord</key>
	<string>curveFormFlags</string>
</dict>
</plist>
