<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyInterfaceMargin</key>
	<string>pageviewExceptVariable</string>
	<key>particleChainResponse</key>
	<string>methodTypeTransparency</string>
	<key>statelessAtNumber</key>
	<string>awaitThanState</string>
</dict>
</plist>
