<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentFunctionCount</key>
	<string>constraintNumberAcceleration</string>
	<key>errorUntilPlatform</key>
	<string>handlerVersusStrategy</string>
	<key>marginOfPrototype</key>
	<string>normalCurveSkewx</string>
	<key>mobxAroundFramework</key>
	<string>typicalAccessoryFrequency</string>
	<key>tickerProxyTransparency</key>
	<string>graphPatternVelocity</string>
</dict>
</plist>
