<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerLayerName</key>
	<string>resilientTextureStyle</string>
	<key>matrixUntilPlatform</key>
	<string>arithmeticGroupMargin</string>
	<key>parallelMasterVisible</key>
	<string>masterVersusBuffer</string>
	<key>positionAsLayer</key>
	<string>optionAroundTemple</string>
</dict>
</plist>
