<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseFunctionSpeed</key>
	<string>sophisticatedAlignmentBorder</string>
	<key>dialogsTaskValidation</key>
	<string>permanentGiftDepth</string>
	<key>layoutPerTask</key>
	<string>themeSinceType</string>
	<key>nodeContextTension</key>
	<string>switchAroundNumber</string>
	<key>rectLikeTemple</key>
	<string>composableDelegateSpeed</string>
	<key>topicThroughPrototype</key>
	<string>navigationAroundParam</string>
</dict>
</plist>
