<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstTaskRight</key>
	<string>completionTaskAcceleration</string>
	<key>globalGateMode</key>
	<string>webObserverColor</string>
	<key>routerPlatformDensity</key>
	<string>providerInsideLayer</string>
	<key>widgetAtFunction</key>
	<string>matrixTierSize</string>
</dict>
</plist>
