<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableDrawerResponse</key>
	<string>currentTransformerOrigin</string>
	<key>drawerUntilVar</key>
	<string>textfieldNearVar</string>
	<key>hyperbolicFrameOrientation</key>
	<string>mediaqueryLikeMethod</string>
	<key>imperativeDimensionFlags</key>
	<string>exceptionForAdapter</string>
	<key>originalButtonLocation</key>
	<string>grayscaleCommandInteraction</string>
	<key>prevRowEdge</key>
	<string>binaryStrategyAcceleration</string>
</dict>
</plist>
