<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteSingletonSkewx</key>
	<string>constViewInteraction</string>
	<key>factorySinceCycle</key>
	<string>imageDespiteChain</string>
	<key>factoryStructureCenter</key>
	<string>tappableQueueAcceleration</string>
	<key>sliderNumberOffset</key>
	<string>menuByStyle</string>
	<key>tensorSampleOrigin</key>
	<string>frameFormDepth</string>
	<key>utilValueSpacing</key>
	<string>consumerWithPattern</string>
	<key>zoneLikeStyle</key>
	<string>touchFromFacade</string>
</dict>
</plist>
