<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsTempleOpacity</key>
	<string>sineVersusPhase</string>
	<key>errorValueAlignment</key>
	<string>interfaceUntilCycle</string>
	<key>geometricOptimizerRight</key>
	<string>nextCompleterAppearance</string>
	<key>keyCubitShade</key>
	<string>asyncSingletonCoord</string>
	<key>layerOperationTransparency</key>
	<string>localizationDecoratorSpeed</string>
	<key>pageviewAroundVariable</key>
	<string>unarySingletonCenter</string>
</dict>
</plist>
