<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedDespiteFramework</key>
	<string>accordionNotificationFeedback</string>
	<key>otherAppbarOpacity</key>
	<string>consumerStructureBottom</string>
	<key>priorityDuringState</key>
	<string>radioJobValidation</string>
	<key>reactiveStorageSkewy</key>
	<string>extensionCycleStyle</string>
	<key>scaleParameterStatus</key>
	<string>blocAboutFramework</string>
	<key>unactivatedBlocLocation</key>
	<string>reactiveLogarithmContrast</string>
</dict>
</plist>
