<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableOptimizerFeedback</key>
	<string>vectorNearOperation</string>
	<key>disparateLayerName</key>
	<string>matrixInterpreterSaturation</string>
	<key>logarithmMediatorSkewy</key>
	<string>sineByMode</string>
	<key>singletonJobFormat</key>
	<string>titleExceptValue</string>
</dict>
</plist>
