<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerTierCenter</key>
	<string>pageviewOfProxy</string>
	<key>effectKindSaturation</key>
	<string>lazyFactoryColor</string>
	<key>isolateIncludeVar</key>
	<string>buttonMediatorState</string>
	<key>notifierSinceLevel</key>
	<string>zoneBesideStage</string>
	<key>queryContainActivity</key>
	<string>gestureAsFunction</string>
</dict>
</plist>
