<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryParamPadding</key>
	<string>plateUntilMode</string>
	<key>contractionAwayScope</key>
	<string>backwardBatchResponse</string>
	<key>dependencyLevelSpacing</key>
	<string>entropyLayerIndex</string>
	<key>displayableZoneAcceleration</key>
	<string>stampOutsideMemento</string>
	<key>missedCapacitiesLeft</key>
	<string>synchronousViewBottom</string>
	<key>remainderLayerForce</key>
	<string>arithmeticDependencyRate</string>
	<key>stateLikePhase</key>
	<string>intuitiveTimerVelocity</string>
	<key>tweenInChain</key>
	<string>unaryActionLocation</string>
</dict>
</plist>
