<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushWithoutMethod</key>
	<string>queryPerValue</string>
	<key>containerFrameworkTint</key>
	<string>nextListviewDensity</string>
	<key>cupertinoTweenDuration</key>
	<string>directlyAspectratioRotation</string>
	<key>lossWithInterpreter</key>
	<string>staticCompleterTag</string>
	<key>modelCommandSpeed</key>
	<string>elasticHeroCoord</string>
	<key>pointSingletonPressure</key>
	<string>globalButtonFlags</string>
</dict>
</plist>
