<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inkwellValuePadding</key>
	<string>scrollAdapterSize</string>
	<key>isolateDecoratorShape</key>
	<string>materialEnvironmentDistance</string>
	<key>resilientPreviewAppearance</key>
	<string>monsterAdapterState</string>
</dict>
</plist>
