<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAlongPrototype</key>
	<string>prismaticEntropyIndex</string>
	<key>brushUntilTask</key>
	<string>temporaryLayerCount</string>
	<key>coordinatorPrototypePressure</key>
	<string>durationAroundPhase</string>
	<key>criticalResponseBottom</key>
	<string>borderAndActivity</string>
	<key>currentProgressbarSkewx</key>
	<string>dedicatedServiceForce</string>
	<key>dedicatedParticleMode</key>
	<string>layerBufferInteraction</string>
	<key>providerViaVisitor</key>
	<string>pinchableStatefulLocation</string>
</dict>
</plist>
