<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFrameworkMode</key>
	<string>invisibleStreamContrast</string>
	<key>assetFunctionSpeed</key>
	<string>symbolAgainstForm</string>
	<key>deferredManagerPadding</key>
	<string>kernelIncludeChain</string>
	<key>listenerWithoutAdapter</key>
	<string>missedDurationSpacing</string>
	<key>loopPerMediator</key>
	<string>previewBesideBuffer</string>
	<key>mediaqueryObserverMomentum</key>
	<string>oldFutureShape</string>
	<key>opaqueCycleBehavior</key>
	<string>scaleOutsideProxy</string>
	<key>resourceBeyondTask</key>
	<string>tableUntilMode</string>
	<key>seamlessStateDepth</key>
	<string>axisProxyBound</string>
</dict>
</plist>
