<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticByMode</key>
	<string>oldPreviewCount</string>
	<key>handlerBeyondFunction</key>
	<string>transformerOfSingleton</string>
	<key>richtextFacadeTop</key>
	<string>indicatorPatternStatus</string>
	<key>stampBridgeTheme</key>
	<string>repositoryForMode</string>
</dict>
</plist>
