<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertIncludeType</key>
	<string>denseGroupTail</string>
	<key>canvasThroughVisitor</key>
	<string>isolateCompositeTag</string>
	<key>dedicatedBulletBehavior</key>
	<string>secondSwitchContrast</string>
	<key>dropdownbuttonDespiteContext</key>
	<string>intensityContainEnvironment</string>
	<key>offsetThanSingleton</key>
	<string>stepMediatorTail</string>
	<key>sinkBufferOrientation</key>
	<string>sophisticatedSpriteTail</string>
</dict>
</plist>
