<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionGraphDelay</key>
	<string>eagerSampleTension</string>
	<key>cubitParameterDistance</key>
	<string>boxNumberMode</string>
	<key>immutableStampBorder</key>
	<string>roleInterpreterType</string>
	<key>inactiveRectVisible</key>
	<string>displayableContainerForce</string>
	<key>observerStrategySaturation</key>
	<string>exceptionCompositeTransparency</string>
	<key>promisePhaseType</key>
	<string>globalBaselineHead</string>
	<key>rectAtNumber</key>
	<string>elasticSingletonOffset</string>
	<key>rowMementoRotation</key>
	<string>scrollableWidgetSpacing</string>
	<key>statefulAgainstState</key>
	<string>publicProjectionSkewx</string>
	<key>temporaryPetFlags</key>
	<string>bitrateFunctionRight</string>
</dict>
</plist>
