<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleButtonOffset</key>
	<string>sophisticatedHandlerDensity</string>
	<key>activityLevelTension</key>
	<string>playbackAboutStructure</string>
	<key>chartViaFlyweight</key>
	<string>loopLikeLayer</string>
	<key>dynamicButtonTint</key>
	<string>projectionExceptProxy</string>
	<key>handlerAlongOperation</key>
	<string>lastExponentInteraction</string>
	<key>layoutAmongFunction</key>
	<string>cosineForSystem</string>
	<key>managerLayerMode</key>
	<string>reusableWidgetIndex</string>
	<key>oldBoxshadowFormat</key>
	<string>routerTypePressure</string>
	<key>rectActionAlignment</key>
	<string>transitionContainValue</string>
	<key>robustActionColor</key>
	<string>customizedNormSpeed</string>
</dict>
</plist>
