<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvePhaseAcceleration</key>
	<string>resolverSystemPadding</string>
	<key>gestureChainVelocity</key>
	<string>playbackDespiteBuffer</string>
	<key>matrixAboutScope</key>
	<string>largeRequestSpeed</string>
	<key>sliderAndState</key>
	<string>criticalTickerDirection</string>
	<key>utilAmongValue</key>
	<string>animatedLayoutColor</string>
</dict>
</plist>
