<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonWithoutFunction</key>
	<string>greatFactoryResponse</string>
	<key>crucialAnimatedcontainerMode</key>
	<string>seamlessEventOrigin</string>
	<key>cupertinoCellKind</key>
	<string>handlerStageTail</string>
	<key>granularBufferState</key>
	<string>radiusOutsideProcess</string>
	<key>originalAlertFormat</key>
	<string>mainInjectionSkewx</string>
	<key>transformerDuringPhase</key>
	<string>intuitiveStoryboardMode</string>
	<key>unsortedSegueBottom</key>
	<string>containerFlyweightFrequency</string>
</dict>
</plist>
