<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxForStyle</key>
	<string>subscriptionAgainstVisitor</string>
	<key>channelActionDuration</key>
	<string>boxshadowOrMode</string>
	<key>injectionAdapterTint</key>
	<string>layoutParamIndex</string>
	<key>numericalBatchCount</key>
	<string>hyperbolicNodeShape</string>
	<key>pointSinceNumber</key>
	<string>gridPlatformHead</string>
	<key>radioJobDirection</key>
	<string>streamInsideSystem</string>
</dict>
</plist>
