<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modulusKindStatus</key>
	<string>gridAroundState</string>
	<key>multiCompositionStyle</key>
	<string>builderCompositeStatus</string>
	<key>spineAtCommand</key>
	<string>isolateStageFormat</string>
	<key>usedAlignmentFormat</key>
	<string>kernelParamOpacity</string>
</dict>
</plist>
