<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveEffectName</key>
	<string>routeModeIndex</string>
	<key>exceptionTempleInset</key>
	<string>functionalPresenterSpacing</string>
	<key>granularMatrixTransparency</key>
	<string>axisByType</string>
	<key>layoutOfCommand</key>
	<string>unaryVersusTask</string>
	<key>localCompositionIndex</key>
	<string>parallelAwaitInterval</string>
	<key>loopByLayer</key>
	<string>pivotalHistogramDelay</string>
	<key>nodeAtComposite</key>
	<string>curveExceptShape</string>
	<key>nodeNumberTail</key>
	<string>rowAwaySingleton</string>
	<key>queryAwayProxy</key>
	<string>easySizedboxContrast</string>
	<key>responsiveEntityFeedback</key>
	<string>transformerTypeCount</string>
</dict>
</plist>
