<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyProfileAlignment</key>
	<string>musicStageDelay</string>
	<key>navigationProxyValidation</key>
	<string>awaitScopeTop</string>
	<key>scrollableMatrixResponse</key>
	<string>stateStyleTag</string>
</dict>
</plist>
