<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectContainParameter</key>
	<string>providerSincePhase</string>
	<key>assetAndState</key>
	<string>scrollNearJob</string>
	<key>delicateDrawerFeedback</key>
	<string>beginnerMissionDensity</string>
	<key>directTitleLocation</key>
	<string>movementOrState</string>
	<key>ephemeralDurationCoord</key>
	<string>requiredProgressbarBorder</string>
	<key>granularChapterShade</key>
	<string>nodeCommandSpacing</string>
	<key>iconLayerIndex</key>
	<string>cubitForValue</string>
	<key>smartQueueStyle</key>
	<string>workflowStyleFrequency</string>
	<key>tabbarInWork</key>
	<string>layoutVisitorAppearance</string>
	<key>uniformStoreName</key>
	<string>cupertinoActivityFrequency</string>
</dict>
</plist>
