<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationBridgeVelocity</key>
	<string>exponentDecoratorContrast</string>
	<key>basePhaseStyle</key>
	<string>remainderSinceNumber</string>
	<key>bufferParamDirection</key>
	<string>activeNavigatorRate</string>
	<key>collectionAndForm</key>
	<string>axisThanValue</string>
	<key>contractionModeFlags</key>
	<string>resolverCycleLeft</string>
	<key>cubitEnvironmentAppearance</key>
	<string>logOrStrategy</string>
	<key>flexPhaseTheme</key>
	<string>channelInEnvironment</string>
	<key>protocolMethodIndex</key>
	<string>subscriptionPatternOffset</string>
	<key>scaleAtCommand</key>
	<string>completerInTask</string>
	<key>themeModeOrientation</key>
	<string>stateAgainstAdapter</string>
</dict>
</plist>
