<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackBeyondMediator</key>
	<string>vectorThanPrototype</string>
	<key>delegateExceptOperation</key>
	<string>lastExtensionColor</string>
	<key>effectBridgeIndex</key>
	<string>newestBorderCoord</string>
	<key>largeVariantRotation</key>
	<string>sizedboxParameterRotation</string>
	<key>petOperationTint</key>
	<string>serviceDespitePlatform</string>
	<key>respectiveServicePressure</key>
	<string>elasticExceptionVisible</string>
	<key>routerMementoInset</key>
	<string>persistentQueryDistance</string>
	<key>tensorSizeDepth</key>
	<string>captionExceptVisitor</string>
</dict>
</plist>
