<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCompleterDistance</key>
	<string>screenJobStatus</string>
	<key>captionPrototypeVisible</key>
	<string>tabviewExceptInterpreter</string>
	<key>effectStageHead</key>
	<string>animatedInjectionCenter</string>
	<key>newestListenerTop</key>
	<string>compositionalErrorName</string>
	<key>particleChainForce</key>
	<string>flexForEnvironment</string>
	<key>serviceFlyweightLocation</key>
	<string>standaloneAssetSkewx</string>
	<key>singleAsyncCenter</key>
	<string>routerIncludeVar</string>
	<key>statelessDurationFrequency</key>
	<string>rowAroundMethod</string>
	<key>unaryMethodPosition</key>
	<string>difficultIconTheme</string>
</dict>
</plist>
