<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterAdapterFlags</key>
	<string>compositionalScrollLeft</string>
	<key>completerAlongActivity</key>
	<string>originalNodeState</string>
	<key>cubitWorkScale</key>
	<string>gramAtEnvironment</string>
	<key>mainSizeVisibility</key>
	<string>managerIncludePattern</string>
	<key>observerDespiteCycle</key>
	<string>functionalStorageTail</string>
	<key>reducerNearForm</key>
	<string>sinkAmongTier</string>
</dict>
</plist>
