<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionOptionAlignment</key>
	<string>temporaryLogShape</string>
	<key>borderSystemContrast</key>
	<string>checkboxFacadeHead</string>
	<key>commandTaskSize</key>
	<string>mediocreNavigatorOrientation</string>
	<key>iconVariableVelocity</key>
	<string>crudeLayerTransparency</string>
	<key>managerScopeOrigin</key>
	<string>builderAwayJob</string>
	<key>rapidPageviewName</key>
	<string>granularBrushDistance</string>
</dict>
</plist>
