<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVarValidation</key>
	<string>assetSystemVelocity</string>
	<key>dependencyAtObserver</key>
	<string>completerPatternKind</string>
	<key>stampSingletonSkewy</key>
	<string>similarAlphaHead</string>
	<key>textUntilComposite</key>
	<string>baselineAlongAction</string>
	<key>zoneContextDistance</key>
	<string>layoutInsideChain</string>
</dict>
</plist>
