<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintInsideFramework</key>
	<string>exponentContainProxy</string>
	<key>persistentDependencyCount</key>
	<string>eventContainEnvironment</string>
	<key>promiseViaStage</key>
	<string>remainderCompositeTension</string>
	<key>responseParamDepth</key>
	<string>chartStrategyTop</string>
	<key>riverpodIncludeChain</key>
	<string>lostSlashStyle</string>
	<key>transitionWithoutFacade</key>
	<string>commonUsageTheme</string>
</dict>
</plist>
