<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardAsyncStyle</key>
	<string>constraintTypeTransparency</string>
	<key>compositionBeyondAdapter</key>
	<string>riverpodIncludePlatform</string>
	<key>consultativeResolverInteraction</key>
	<string>menuAroundType</string>
	<key>cycleDuringTask</key>
	<string>notifierFormOffset</string>
	<key>materialViaType</key>
	<string>animatedFactoryHead</string>
	<key>matrixTypeTop</key>
	<string>statefulFromBuffer</string>
	<key>responsiveConvolutionDepth</key>
	<string>cubitPrototypeForce</string>
	<key>subpixelCompositeBehavior</key>
	<string>isolateFrameworkDuration</string>
	<key>tickerTypeDelay</key>
	<string>sliderDecoratorResponse</string>
</dict>
</plist>
