<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentContractionPosition</key>
	<string>capacitiesKindAcceleration</string>
	<key>smallRouteBrightness</key>
	<string>unaryJobRate</string>
	<key>specifyLabelDistance</key>
	<string>interactorExceptPrototype</string>
	<key>tweenPatternSpacing</key>
	<string>containerDuringEnvironment</string>
</dict>
</plist>
