<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSwitchDelay</key>
	<string>similarDecorationName</string>
	<key>priorityActionOrientation</key>
	<string>adaptiveRectPressure</string>
	<key>requiredStoryboardResponse</key>
	<string>decorationTempleFlags</string>
	<key>visibleChecklistState</key>
	<string>dedicatedOptimizerTop</string>
</dict>
</plist>
