<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleChainColor</key>
	<string>beginnerCurveCenter</string>
	<key>interfaceStateFeedback</key>
	<string>progressbarCommandValidation</string>
	<key>iterativeFactoryTension</key>
	<string>opaqueFeatureCenter</string>
	<key>loopEnvironmentTail</key>
	<string>errorOfAction</string>
	<key>navigationIncludeContext</key>
	<string>inheritedEffectMode</string>
	<key>smartOperationMode</key>
	<string>cardFlyweightHead</string>
	<key>subsequentTechniqueSpacing</key>
	<string>rowThroughStyle</string>
</dict>
</plist>
