<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInLayer</key>
	<string>invisibleDecorationLeft</string>
	<key>directlyTouchPosition</key>
	<string>commonRowDistance</string>
	<key>kernelSingletonLocation</key>
	<string>mapAdapterRate</string>
	<key>marginSinceBridge</key>
	<string>catalystViaBuffer</string>
	<key>profileAdapterIndex</key>
	<string>inactiveReductionTop</string>
	<key>resourceDuringVar</key>
	<string>drawerFunctionFeedback</string>
	<key>sizedboxTempleOrigin</key>
	<string>backwardChallengeVisible</string>
	<key>sophisticatedRectFrequency</key>
	<string>lastExceptionPressure</string>
	<key>spotDuringStyle</key>
	<string>prismaticAlignmentTheme</string>
	<key>tensorNavigatorDistance</key>
	<string>marginMementoStatus</string>
</dict>
</plist>
