<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchStyleStatus</key>
	<string>canvasTempleDepth</string>
	<key>controllerStructureTransparency</key>
	<string>textAmongNumber</string>
	<key>equalizationBufferMode</key>
	<string>gridviewDespiteSystem</string>
	<key>eventAwayParam</key>
	<string>crucialConsumerMode</string>
	<key>ignoredInterfaceColor</key>
	<string>cubitAgainstJob</string>
	<key>inactiveAlignmentBehavior</key>
	<string>futureValueTransparency</string>
	<key>observerParameterStyle</key>
	<string>alignmentOutsideBridge</string>
	<key>sharedViewCenter</key>
	<string>layoutContainTask</string>
</dict>
</plist>
