<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationViaParameter</key>
	<string>futureViaParameter</string>
	<key>displayableExponentOffset</key>
	<string>characterScopeAppearance</string>
	<key>offsetAndWork</key>
	<string>buttonLayerSize</string>
	<key>sharedBatchSaturation</key>
	<string>imageEnvironmentState</string>
	<key>similarSkirtScale</key>
	<string>asynchronousMetadataFrequency</string>
</dict>
</plist>
