<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCommandBorder</key>
	<string>presenterVersusContext</string>
	<key>drawerShapeAcceleration</key>
	<string>tabviewNumberDelay</string>
	<key>futureShapeForce</key>
	<string>ephemeralLayoutShape</string>
	<key>repositoryLikeFacade</key>
	<string>rectLevelRight</string>
	<key>similarRequestPosition</key>
	<string>robustBitrateShape</string>
	<key>sortedMobxOpacity</key>
	<string>ignoredApertureOrientation</string>
	<key>statefulStyleTag</key>
	<string>effectCycleSpeed</string>
	<key>tableDecoratorBottom</key>
	<string>techniquePatternSkewx</string>
	<key>usecaseUntilVar</key>
	<string>graphicBridgeEdge</string>
</dict>
</plist>
