<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPointTag</key>
	<string>resourceShapeCount</string>
	<key>containerStageCount</key>
	<string>skinPlatformSkewx</string>
	<key>iconOutsideInterpreter</key>
	<string>blocIncludePattern</string>
	<key>injectionFromFunction</key>
	<string>comprehensiveMetadataStatus</string>
	<key>liteCharacterTransparency</key>
	<string>remainderInsideLayer</string>
	<key>sessionAdapterOpacity</key>
	<string>scaffoldByTask</string>
	<key>stampThanValue</key>
	<string>curveByAction</string>
	<key>tensorLabelTop</key>
	<string>signTierBrightness</string>
</dict>
</plist>
