<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticBorderOrigin</key>
	<string>precisionValueMargin</string>
	<key>exponentDecoratorBottom</key>
	<string>modelFlyweightPadding</string>
	<key>hierarchicalScrollVelocity</key>
	<string>tabviewVersusDecorator</string>
	<key>iconProxyType</key>
	<string>gestureLayerLocation</string>
	<key>immutableInjectionDensity</key>
	<string>compositionWithSingleton</string>
	<key>priorAsyncScale</key>
	<string>cycleActionTheme</string>
	<key>transitionTempleVelocity</key>
	<string>segmentChainStyle</string>
</dict>
</plist>
