<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchSinceContext</key>
	<string>newestUsageMargin</string>
	<key>parallelNavigatorTint</key>
	<string>grainKindCount</string>
	<key>positionFunctionIndex</key>
	<string>gridviewNearBuffer</string>
	<key>prismaticLayoutTag</key>
	<string>mobileIncludeStage</string>
	<key>resilientTransitionVisibility</key>
	<string>spriteStructureName</string>
	<key>rowAroundAction</key>
	<string>graphSinceProcess</string>
	<key>sceneIncludeStyle</key>
	<string>semanticsMethodCount</string>
</dict>
</plist>
