<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticBinaryBehavior</key>
	<string>curveWorkTension</string>
	<key>assetFormStyle</key>
	<string>semanticsPerMethod</string>
	<key>durationActionMargin</key>
	<string>customDurationVisibility</string>
	<key>nodeDuringLayer</key>
	<string>axisIncludeParam</string>
	<key>semanticTaskSpeed</key>
	<string>textureInsideMediator</string>
	<key>sessionAdapterTag</key>
	<string>scrollBeyondActivity</string>
</dict>
</plist>
