<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaBridgeDepth</key>
	<string>baseAwayStyle</string>
	<key>animatedAsyncTension</key>
	<string>awaitInsideMediator</string>
	<key>convolutionFormPosition</key>
	<string>explicitEventRotation</string>
	<key>numericalQueryDuration</key>
	<string>cupertinoVersusKind</string>
	<key>offsetUntilType</key>
	<string>capacitiesContainSingleton</string>
	<key>priorityVersusPlatform</key>
	<string>configurationParameterContrast</string>
	<key>resizableToolInteraction</key>
	<string>otherProjectSkewy</string>
	<key>sinkOutsideKind</key>
	<string>oldPositionBottom</string>
	<key>stepBufferVelocity</key>
	<string>brushAroundTier</string>
</dict>
</plist>
