<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateLevelDistance</key>
	<string>storageOfFacade</string>
	<key>directlyDecorationDirection</key>
	<string>easyCubeState</string>
	<key>functionalChartInterval</key>
	<string>assetVisitorVelocity</string>
	<key>lostDrawerAlignment</key>
	<string>specifyOffsetOrientation</string>
	<key>playbackNumberBottom</key>
	<string>activatedContractionPosition</string>
	<key>positionDuringMemento</key>
	<string>imperativeQueryPosition</string>
	<key>robustStorageMargin</key>
	<string>stateBridgeSpeed</string>
	<key>slashAwayBridge</key>
	<string>expandedAwayOperation</string>
</dict>
</plist>
