<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAroundAdapter</key>
	<string>keyGetxContrast</string>
	<key>cubitUntilProxy</key>
	<string>effectCompositePosition</string>
	<key>localTimerFormat</key>
	<string>priorityOutsideContext</string>
	<key>unsortedMapPadding</key>
	<string>matrixViaPattern</string>
</dict>
</plist>
