<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityCycleLocation</key>
	<string>sceneSystemOpacity</string>
	<key>hashAwayDecorator</key>
	<string>deferredTweenFrequency</string>
	<key>tensorSkirtHue</key>
	<string>challengeIncludeBuffer</string>
</dict>
</plist>
