<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedOverlaySpacing</key>
	<string>baseSinceTier</string>
	<key>concurrentTabbarHue</key>
	<string>capacitiesLevelCount</string>
	<key>frameWithoutProcess</key>
	<string>modulusAsPrototype</string>
	<key>layoutParamEdge</key>
	<string>radioBridgeBorder</string>
	<key>vectorAwayVisitor</key>
	<string>responsiveTickerInteraction</string>
</dict>
</plist>
