<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedUnaryVelocity</key>
	<string>resourceTempleEdge</string>
	<key>descriptionVersusPlatform</key>
	<string>decorationMethodHue</string>
	<key>intermediateOptionTint</key>
	<string>robustTouchAlignment</string>
	<key>multiListenerEdge</key>
	<string>customFeatureStyle</string>
	<key>nextTweenScale</key>
	<string>unaryVisitorBorder</string>
	<key>previewAwayJob</key>
	<string>sizeChainBound</string>
	<key>semanticDelegateState</key>
	<string>boxshadowBeyondBridge</string>
	<key>tangentBufferValidation</key>
	<string>cartesianGroupColor</string>
</dict>
</plist>
