<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintViaBridge</key>
	<string>semanticScalePosition</string>
	<key>discardedNavigationForce</key>
	<string>sharedProgressbarDuration</string>
	<key>interpolationUntilChain</key>
	<string>providerBeyondValue</string>
	<key>lossDespiteFramework</key>
	<string>persistentFactoryIndex</string>
	<key>segueIncludeMediator</key>
	<string>permissiveGestureKind</string>
</dict>
</plist>
