<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderFormType</key>
	<string>advancedPainterFeedback</string>
	<key>captionAndValue</key>
	<string>vectorProcessDirection</string>
	<key>dimensionLikeAction</key>
	<string>capsuleAroundOperation</string>
	<key>durationMediatorAcceleration</key>
	<string>batchAboutWork</string>
	<key>permanentRectShape</key>
	<string>cubitChainVisibility</string>
	<key>publicCoordinatorSpacing</key>
	<string>immediateContainerBorder</string>
	<key>reducerAwaySingleton</key>
	<string>configurationInterpreterTail</string>
	<key>staticPositionShade</key>
	<string>graphicCompositeHue</string>
</dict>
</plist>
