<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDuringActivity</key>
	<string>symmetricRowSkewx</string>
	<key>capacitiesOfJob</key>
	<string>parallelVectorBehavior</string>
	<key>gesturedetectorThanVisitor</key>
	<string>previewOperationDirection</string>
	<key>ignoredDependencyBottom</key>
	<string>tensorFrameDuration</string>
	<key>mobxOutsideSystem</key>
	<string>explicitBulletRotation</string>
	<key>switchDecoratorDuration</key>
	<string>mobilePreviewPressure</string>
</dict>
</plist>
