<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticShaderFeedback</key>
	<string>rowLevelSkewx</string>
	<key>boxshadowUntilJob</key>
	<string>tweenPrototypeCenter</string>
	<key>cellMethodScale</key>
	<string>asynchronousLayerInteraction</string>
	<key>cubitExceptFacade</key>
	<string>invisibleReducerTransparency</string>
	<key>indicatorObserverOffset</key>
	<string>channelAndKind</string>
	<key>injectionAlongBuffer</key>
	<string>statefulSinkOpacity</string>
	<key>observerForTask</key>
	<string>grayscaleTaskColor</string>
	<key>zoneAsNumber</key>
	<string>histogramFacadeSkewy</string>
</dict>
</plist>
