<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAndChain</key>
	<string>localizationThanParam</string>
	<key>awaitTierName</key>
	<string>signatureProxyIndex</string>
	<key>backwardTimerVisibility</key>
	<string>remainderDespiteBridge</string>
	<key>fixedChartPosition</key>
	<string>tweenThanMethod</string>
	<key>persistentHeroOpacity</key>
	<string>callbackBridgeOrientation</string>
</dict>
</plist>
