<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBesideForm</key>
	<string>compositionalUsecaseFrequency</string>
	<key>dialogsShapeShape</key>
	<string>multiConstraintSpacing</string>
	<key>globalServiceVisible</key>
	<string>dedicatedActionCount</string>
	<key>managerViaLevel</key>
	<string>gridProxyMode</string>
	<key>masterAboutOperation</key>
	<string>storageMethodScale</string>
	<key>sensorAsComposite</key>
	<string>reusableNodeAppearance</string>
	<key>singletonTierDistance</key>
	<string>layoutInsideFramework</string>
	<key>subpixelActionForce</key>
	<string>associatedCoordinatorTheme</string>
	<key>symbolNearParam</key>
	<string>localLabelSaturation</string>
</dict>
</plist>
