<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardGridShape</key>
	<string>difficultCharacterFormat</string>
	<key>mediumBorderTension</key>
	<string>modelWithoutPrototype</string>
	<key>progressbarThanTemple</key>
	<string>sinkActionOpacity</string>
	<key>radiusFormLeft</key>
	<string>specifierWorkFlags</string>
	<key>routerExceptComposite</key>
	<string>compositionInterpreterAlignment</string>
	<key>stateAboutParameter</key>
	<string>completionFrameworkDelay</string>
</dict>
</plist>
