<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAroundState</key>
	<string>hyperbolicCoordinatorRotation</string>
	<key>columnVariableRight</key>
	<string>resolverParamInteraction</string>
	<key>managerChainInset</key>
	<string>pivotalLogDirection</string>
	<key>serviceFacadeDepth</key>
	<string>tweenPhaseMargin</string>
	<key>streamOperationAcceleration</key>
	<string>skirtBridgeTheme</string>
	<key>textDuringParameter</key>
	<string>spriteInMediator</string>
	<key>tweenThanValue</key>
	<string>relationalNodeSpacing</string>
	<key>uniformLocalizationSpeed</key>
	<string>crudeMenuBorder</string>
</dict>
</plist>
