<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperLevelState</key>
	<string>symbolBufferMode</string>
	<key>dimensionAdapterKind</key>
	<string>synchronousCommandColor</string>
	<key>nibLevelFormat</key>
	<string>delegateActionDepth</string>
	<key>observerInsideTemple</key>
	<string>listenerLikeProcess</string>
	<key>publicViewResponse</key>
	<string>vectorLayerDistance</string>
	<key>serviceValueAppearance</key>
	<string>hyperbolicThreadSkewx</string>
	<key>sessionThroughProcess</key>
	<string>otherSpotAppearance</string>
	<key>sineIncludeCommand</key>
	<string>spotBufferValidation</string>
	<key>utilKindAlignment</key>
	<string>oldProfileSize</string>
</dict>
</plist>
