<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintValueContrast</key>
	<string>playbackShapeResponse</string>
	<key>controllerContainJob</key>
	<string>easyTabbarDirection</string>
	<key>dedicatedIndicatorTheme</key>
	<string>transitionStyleRight</string>
	<key>iconInsideVar</key>
	<string>hierarchicalExponentInterval</string>
	<key>intensityWithCommand</key>
	<string>usedZonePressure</string>
	<key>localizationFromMediator</key>
	<string>cupertinoMissionTransparency</string>
	<key>mediocreSubpixelBorder</key>
	<string>tabbarAboutEnvironment</string>
	<key>prismaticParticleRate</key>
	<string>gestureOutsideBridge</string>
</dict>
</plist>
