<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constExponentSkewx</key>
	<string>entropyJobInset</string>
	<key>durationOrMode</key>
	<string>constraintStateMomentum</string>
	<key>giftTaskForce</key>
	<string>constraintPatternTop</string>
	<key>hashMementoShade</key>
	<string>basicTransitionDelay</string>
	<key>localSegueVisible</key>
	<string>presenterValueIndex</string>
	<key>positionOrInterpreter</key>
	<string>smartObserverOrientation</string>
	<key>statelessPointDistance</key>
	<string>completionFromParam</string>
	<key>streamOutsideNumber</key>
	<string>loopFromNumber</string>
	<key>topicAwayEnvironment</key>
	<string>storageVisitorMargin</string>
</dict>
</plist>
