<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureDuringAdapter</key>
	<string>mobxBufferTransparency</string>
	<key>interactorAwayJob</key>
	<string>substantialQueueDelay</string>
	<key>scaffoldInterpreterFlags</key>
	<string>methodForInterpreter</string>
	<key>scrollThanFlyweight</key>
	<string>lastAnimationDirection</string>
	<key>skirtTaskStyle</key>
	<string>notificationExceptProxy</string>
	<key>smallSwitchOffset</key>
	<string>channelBridgeCenter</string>
	<key>storageInCycle</key>
	<string>checklistWorkForce</string>
	<key>tappableParticleSkewx</key>
	<string>visibleMatrixOrientation</string>
</dict>
</plist>
