<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOrFunction</key>
	<string>routerProcessRate</string>
	<key>easyCommandTop</key>
	<string>concreteChallengeVisible</string>
	<key>memberVersusObserver</key>
	<string>customModelCenter</string>
	<key>oldConfigurationFrequency</key>
	<string>pointBufferVelocity</string>
	<key>oldRadiusEdge</key>
	<string>groupMediatorCenter</string>
	<key>subsequentAppbarForce</key>
	<string>threadDuringContext</string>
	<key>symmetricReducerSize</key>
	<string>displayableIndicatorIndex</string>
</dict>
</plist>
