<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticThanVisitor</key>
	<string>kernelCompositeColor</string>
	<key>convolutionNearJob</key>
	<string>assetCommandMargin</string>
	<key>entropyVisitorDepth</key>
	<string>firstPlaybackDistance</string>
	<key>equipmentDecoratorPadding</key>
	<string>protocolFlyweightTop</string>
	<key>ignoredObserverCenter</key>
	<string>diversifiedDurationTension</string>
	<key>logIncludeStage</key>
	<string>optimizerFormAcceleration</string>
	<key>projectionTempleLocation</key>
	<string>lossAroundInterpreter</string>
	<key>promiseFacadeSkewx</key>
	<string>criticalHandlerDensity</string>
	<key>rowWithAdapter</key>
	<string>resilientMenuHue</string>
	<key>semanticRouterSize</key>
	<string>nativeSizedboxBrightness</string>
</dict>
</plist>
