<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAmongActivity</key>
	<string>popupBufferDistance</string>
	<key>equalizationFromType</key>
	<string>aspectratioAlongNumber</string>
	<key>equipmentDuringActivity</key>
	<string>containerBesideMethod</string>
	<key>listenerAroundStage</key>
	<string>difficultResponseOffset</string>
	<key>particlePrototypeHead</key>
	<string>chapterWithoutComposite</string>
	<key>permissiveLabelInteraction</key>
	<string>draggableDescriptionStatus</string>
	<key>rectInMethod</key>
	<string>oldNormRate</string>
	<key>threadProcessOffset</key>
	<string>resolverScopeDepth</string>
</dict>
</plist>
