<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFlyweightInterval</key>
	<string>kernelPrototypeColor</string>
	<key>aspectContextRate</key>
	<string>newestSegueFeedback</string>
	<key>autoGiftVisible</key>
	<string>grainExceptShape</string>
	<key>crudeRepositoryTail</key>
	<string>lazyVectorStatus</string>
	<key>loopBridgeDistance</key>
	<string>storageTempleColor</string>
	<key>stackEnvironmentContrast</key>
	<string>paddingByObserver</string>
	<key>stepAmongFramework</key>
	<string>constraintStructureDistance</string>
	<key>tangentCycleDensity</key>
	<string>visibleCardTransparency</string>
</dict>
</plist>
