<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAdapterAlignment</key>
	<string>precisionDespiteValue</string>
	<key>buttonAndParameter</key>
	<string>scrollableSizedboxFormat</string>
	<key>giftProcessVelocity</key>
	<string>compositionalCaptionAlignment</string>
	<key>notificationParamDistance</key>
	<string>uniformRequestSaturation</string>
	<key>reactiveZoneBorder</key>
	<string>currentRemainderCoord</string>
	<key>responseIncludeBridge</key>
	<string>providerStructureEdge</string>
	<key>screenInterpreterIndex</key>
	<string>menuBeyondTask</string>
	<key>tangentThroughInterpreter</key>
	<string>baseParamPressure</string>
</dict>
</plist>
