<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTickerDuration</key>
	<string>pageviewAlongChain</string>
	<key>cacheVersusFramework</key>
	<string>capacitiesTypeHead</string>
	<key>composableMenuInset</key>
	<string>sizeWithoutOperation</string>
	<key>cubitUntilChain</key>
	<string>sliderAsAdapter</string>
	<key>hyperbolicStateLocation</key>
	<string>globalDescriptionStyle</string>
	<key>playbackAsVariable</key>
	<string>injectionThroughFlyweight</string>
	<key>reactiveAspectratioTransparency</key>
	<string>threadLayerEdge</string>
	<key>sceneIncludeCommand</key>
	<string>futureStyleFormat</string>
</dict>
</plist>
