<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAroundStage</key>
	<string>flexibleOffsetTop</string>
	<key>baselineOperationCoord</key>
	<string>cubeBeyondForm</string>
	<key>customizedPrecisionSize</key>
	<string>enabledPromiseTag</string>
	<key>documentAlongOperation</key>
	<string>intensityPhaseCoord</string>
	<key>mediaExceptVariable</key>
	<string>logCommandSkewx</string>
	<key>observerAwayMemento</key>
	<string>drawerChainTop</string>
	<key>publicPainterShape</key>
	<string>accordionShaderDirection</string>
</dict>
</plist>
