<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertModeKind</key>
	<string>independentDocumentOrientation</string>
	<key>capacitiesInsideContext</key>
	<string>controllerInsidePhase</string>
	<key>giftVariableLeft</key>
	<string>priorRouteTension</string>
	<key>heroNearProcess</key>
	<string>axisScopeRight</string>
	<key>layoutAdapterAlignment</key>
	<string>aspectNearShape</string>
	<key>logarithmPrototypeOffset</key>
	<string>standaloneActionResponse</string>
	<key>offsetContextAlignment</key>
	<string>flexibleMethodType</string>
	<key>pivotalTransitionRate</key>
	<string>hardAsyncRate</string>
	<key>slashVariableHue</key>
	<string>optionTypeMode</string>
</dict>
</plist>
