<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryIncludeMode</key>
	<string>labelSystemStyle</string>
	<key>checklistMementoPressure</key>
	<string>menuFromKind</string>
	<key>fragmentLikeCycle</key>
	<string>actionWithJob</string>
	<key>localAwaitFeedback</key>
	<string>characterValueAlignment</string>
	<key>opaqueStepFeedback</key>
	<string>playbackContainFlyweight</string>
	<key>singleGesturedetectorAlignment</key>
	<string>checkboxAmongAction</string>
	<key>storageValueTag</key>
	<string>matrixExceptShape</string>
</dict>
</plist>
