<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBridgeInset</key>
	<string>specifierWithoutShape</string>
	<key>chartAsComposite</key>
	<string>basicInjectionShade</string>
	<key>crudeSwitchKind</key>
	<string>consumerStyleEdge</string>
	<key>deferredDescriptorFormat</key>
	<string>aspectMediatorTheme</string>
	<key>denseContainerDistance</key>
	<string>staticSymbolSpacing</string>
	<key>diffableHeapSpacing</key>
	<string>stateFromFramework</string>
	<key>directMetadataBound</key>
	<string>overlayTierMode</string>
	<key>lossByFacade</key>
	<string>grainFromTask</string>
	<key>navigatorThroughParameter</key>
	<string>mobileDependencyDepth</string>
	<key>normScopeDensity</key>
	<string>concurrentDecorationIndex</string>
</dict>
</plist>
