<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultBlocFlags</key>
	<string>primaryTextureVelocity</string>
	<key>gridStructureKind</key>
	<string>titleScopeCoord</string>
	<key>multiRowLocation</key>
	<string>cubeFacadeName</string>
	<key>sliderStructureBound</key>
	<string>graphBesideInterpreter</string>
	<key>tangentSystemOffset</key>
	<string>eagerStepDirection</string>
</dict>
</plist>
