<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicModulusVelocity</key>
	<string>iconNearActivity</string>
	<key>containerSystemBottom</key>
	<string>vectorCompositeShape</string>
	<key>featureContainVariable</key>
	<string>sizedboxOfBuffer</string>
	<key>viewShapeDirection</key>
	<string>customizedResultShape</string>
</dict>
</plist>
