<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAndObserver</key>
	<string>chapterStageOrientation</string>
	<key>constraintAlongKind</key>
	<string>intermediateBitrateFlags</string>
	<key>explicitTaskDistance</key>
	<string>disabledMapHead</string>
	<key>materialBeyondLayer</key>
	<string>featureStrategyStyle</string>
	<key>rowActionInset</key>
	<string>logBesideTier</string>
	<key>scrollableIndicatorTop</key>
	<string>spotLevelDepth</string>
	<key>semanticDropdownbuttonVelocity</key>
	<string>checkboxBufferStyle</string>
	<key>vectorVersusLayer</key>
	<string>temporaryCapsulePressure</string>
</dict>
</plist>
