<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalScrollDelay</key>
	<string>exceptionLevelDistance</string>
	<key>cubitEnvironmentHue</key>
	<string>subscriptionCompositeStyle</string>
	<key>labelWithoutPrototype</key>
	<string>intensityPhaseTint</string>
	<key>materialBinaryDepth</key>
	<string>delicateBlocFlags</string>
	<key>modulusStageTag</key>
	<string>curveAroundActivity</string>
	<key>previewAsStyle</key>
	<string>delegateSinceCycle</string>
	<key>progressbarSinceVariable</key>
	<string>sliderCompositeInterval</string>
	<key>resourceInterpreterHue</key>
	<string>responseForDecorator</string>
	<key>singletonThroughVisitor</key>
	<string>materialInterpreterInterval</string>
	<key>statelessBesideBuffer</key>
	<string>heapPrototypeBorder</string>
</dict>
</plist>
