<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDespiteCycle</key>
	<string>layoutAgainstProxy</string>
	<key>channelBridgeBorder</key>
	<string>touchNearBuffer</string>
	<key>interpolationBeyondStage</key>
	<string>cosineWithContext</string>
	<key>opaqueBuilderTag</key>
	<string>adaptiveRadiusSaturation</string>
	<key>sampleDecoratorDelay</key>
	<string>popupOfWork</string>
</dict>
</plist>
