<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxNearVariable</key>
	<string>subpixelProcessFrequency</string>
	<key>immutableNodeTheme</key>
	<string>indicatorLayerTail</string>
	<key>rapidFutureStatus</key>
	<string>rowMethodValidation</string>
	<key>seamlessSizeDensity</key>
	<string>animationThroughKind</string>
</dict>
</plist>
