<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGramType</key>
	<string>promiseOutsideFramework</string>
	<key>flexibleSinkRate</key>
	<string>singleRouterVisible</string>
	<key>histogramDuringChain</key>
	<string>sensorTaskSpacing</string>
	<key>interfaceBesideJob</key>
	<string>appbarTypeSpacing</string>
	<key>optimizerAboutComposite</key>
	<string>normalClipperRate</string>
	<key>projectionOperationPressure</key>
	<string>intensityVariableFormat</string>
	<key>protectedTabviewOpacity</key>
	<string>custompaintScopeSize</string>
	<key>reductionOutsideSystem</key>
	<string>listenerInsideTask</string>
	<key>segueIncludeTier</key>
	<string>webExtensionDirection</string>
	<key>transitionJobTransparency</key>
	<string>mutableAccessorySpacing</string>
</dict>
</plist>
