<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxCommandSkewy</key>
	<string>scaffoldContainShape</string>
	<key>easyTimerDuration</key>
	<string>techniquePhaseCenter</string>
	<key>entityOrStructure</key>
	<string>decorationAsSingleton</string>
	<key>mobilePopupRotation</key>
	<string>blocForProxy</string>
	<key>optionOrActivity</key>
	<string>subsequentRouterValidation</string>
	<key>positionChainKind</key>
	<string>repositoryInterpreterFeedback</string>
	<key>resultThanNumber</key>
	<string>animatedRouteInset</string>
	<key>textfieldVarShade</key>
	<string>retainedMovementBorder</string>
	<key>themeDecoratorDirection</key>
	<string>semanticExceptionDistance</string>
	<key>variantOfVisitor</key>
	<string>labelIncludePrototype</string>
</dict>
</plist>
