<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBufferPressure</key>
	<string>durationEnvironmentSize</string>
	<key>delegatePerActivity</key>
	<string>textProxyResponse</string>
	<key>diffableRouterTension</key>
	<string>extensionOrFlyweight</string>
	<key>prevRouteBrightness</key>
	<string>effectForPrototype</string>
	<key>primaryResourceEdge</key>
	<string>awaitAtPhase</string>
	<key>reducerAwayTask</key>
	<string>criticalSignatureOpacity</string>
	<key>semanticSpineIndex</key>
	<string>relationalGestureRate</string>
	<key>staticInjectionSize</key>
	<string>hierarchicalIsolateTension</string>
</dict>
</plist>
