<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoRectState</key>
	<string>sustainableChannelAlignment</string>
	<key>menuInsideParameter</key>
	<string>durationNearScope</string>
	<key>resourceProcessValidation</key>
	<string>mapThanType</string>
	<key>smallLayoutInset</key>
	<string>variantLikeProcess</string>
	<key>stateByValue</key>
	<string>missionPerSystem</string>
</dict>
</plist>
