<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideParam</key>
	<string>layerPlatformBottom</string>
	<key>batchBesideMode</key>
	<string>localizationNearMediator</string>
	<key>blocChainFeedback</key>
	<string>effectAtForm</string>
	<key>cacheAwayBuffer</key>
	<string>giftMethodLocation</string>
	<key>channelFrameworkShade</key>
	<string>visibleManagerTension</string>
	<key>integerFunctionValidation</key>
	<string>textAwayType</string>
	<key>interactorNearProxy</key>
	<string>collectionStyleBottom</string>
	<key>responsiveConstraintPosition</key>
	<string>labelOfForm</string>
	<key>viewAlongPrototype</key>
	<string>basicGrayscaleHue</string>
</dict>
</plist>
