<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoInjectionType</key>
	<string>gateStageTag</string>
	<key>exceptionShapeAppearance</key>
	<string>compositionalTangentHue</string>
	<key>fixedListenerContrast</key>
	<string>interfaceBufferOrientation</string>
	<key>granularObserverCount</key>
	<string>granularPaddingHue</string>
	<key>layerMethodAlignment</key>
	<string>draggablePositionedKind</string>
	<key>tweenMethodResponse</key>
	<string>standaloneStreamStyle</string>
</dict>
</plist>
