<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackJobPressure</key>
	<string>smartServiceOffset</string>
	<key>commonStateDirection</key>
	<string>greatAnimatedcontainerCount</string>
	<key>comprehensiveGroupAcceleration</key>
	<string>protocolCommandVisible</string>
	<key>framePhaseTop</key>
	<string>unaryContainChain</string>
	<key>memberFunctionDelay</key>
	<string>seamlessGraphFeedback</string>
</dict>
</plist>
