<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarLikeAdapter</key>
	<string>animatedActivityDuration</string>
	<key>criticalDocumentMomentum</key>
	<string>providerActivityName</string>
	<key>discardedZoneBottom</key>
	<string>modelAndCommand</string>
	<key>getxThroughTask</key>
	<string>boxshadowFlyweightAppearance</string>
	<key>loopSystemInteraction</key>
	<string>autoArithmeticFormat</string>
	<key>popupInsideDecorator</key>
	<string>sinkFunctionTheme</string>
	<key>previewWithChain</key>
	<string>actionIncludeStyle</string>
	<key>scaffoldParamCoord</key>
	<string>hyperbolicControllerFeedback</string>
	<key>tableAroundProcess</key>
	<string>tickerVarAlignment</string>
</dict>
</plist>
