<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityContainMode</key>
	<string>normalManagerValidation</string>
	<key>aspectratioSingletonMode</key>
	<string>alphaOutsideChain</string>
	<key>customizedActionOrigin</key>
	<string>crudeQueueColor</string>
	<key>hashDuringTask</key>
	<string>basicUsageSpacing</string>
	<key>momentumAndFlyweight</key>
	<string>petExceptStructure</string>
	<key>navigatorLevelRate</key>
	<string>durationWithoutPattern</string>
	<key>plateDespiteProxy</key>
	<string>modelDecoratorVisibility</string>
	<key>profileDespiteMediator</key>
	<string>semanticSliderName</string>
	<key>standaloneRowShade</key>
	<string>priorityAroundLevel</string>
</dict>
</plist>
