<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeCheckboxDistance</key>
	<string>contractionLikeVariable</string>
	<key>interactiveImageFrequency</key>
	<string>chartFromInterpreter</string>
	<key>layoutStyleFormat</key>
	<string>usageByScope</string>
	<key>managerFacadeSize</key>
	<string>bitrateContextFlags</string>
	<key>menuCommandOffset</key>
	<string>semanticButtonAcceleration</string>
	<key>sophisticatedCheckboxScale</key>
	<string>enabledMultiplicationOpacity</string>
</dict>
</plist>
