<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotalLayoutBehavior</key>
	<string>durationParamPressure</string>
	<key>remainderThroughParameter</key>
	<string>resultOutsideNumber</string>
	<key>statelessThroughPattern</key>
	<string>labelWithJob</string>
	<key>storageStyleVelocity</key>
	<string>behaviorOutsideScope</string>
	<key>vectorAwayInterpreter</key>
	<string>graphInterpreterDuration</string>
</dict>
</plist>
