<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionThroughSystem</key>
	<string>relationalChapterSpacing</string>
	<key>cartesianTangentTheme</key>
	<string>zoneWithStructure</string>
	<key>ignoredBehaviorCount</key>
	<string>sinkFacadePosition</string>
	<key>statefulLikeMode</key>
	<string>sequentialGrainDelay</string>
	<key>tensorNavigatorBottom</key>
	<string>baseAlongMediator</string>
</dict>
</plist>
