<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchLevelSkewx</key>
	<string>euclideanIsolateHue</string>
	<key>catalystUntilChain</key>
	<string>typicalHistogramTransparency</string>
	<key>missedModulusSpeed</key>
	<string>agileGroupEdge</string>
	<key>newestExceptionShape</key>
	<string>directlyParticleMargin</string>
	<key>priorScrollTail</key>
	<string>granularStackHue</string>
	<key>prismaticIntegerDensity</key>
	<string>bulletDecoratorEdge</string>
	<key>sequentialSpriteDelay</key>
	<string>timerOperationAcceleration</string>
	<key>serviceThanMemento</key>
	<string>crudeBoxDuration</string>
	<key>sharedInjectionTag</key>
	<string>queueUntilFlyweight</string>
	<key>toolPrototypeBehavior</key>
	<string>spriteOutsideStyle</string>
</dict>
</plist>
