<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalRemainderResponse</key>
	<string>observerCommandTop</string>
	<key>currentProgressbarScale</key>
	<string>displayableHistogramHead</string>
	<key>elasticCallbackPadding</key>
	<string>playbackForTemple</string>
	<key>greatRouteTint</key>
	<string>durationVersusLevel</string>
	<key>modalNearLayer</key>
	<string>listviewProxyColor</string>
	<key>opaqueRouterHead</key>
	<string>boxAtJob</string>
	<key>segmentActivityOrientation</key>
	<string>commonOperationDepth</string>
	<key>sizeBufferFrequency</key>
	<string>resizableBlocVisibility</string>
	<key>streamByMethod</key>
	<string>retainedSizeCoord</string>
	<key>variantAlongProcess</key>
	<string>normalPopupBehavior</string>
</dict>
</plist>
