<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAndStructure</key>
	<string>featureChainShape</string>
	<key>concreteExponentBrightness</key>
	<string>subtleInjectionOrientation</string>
	<key>concurrentThemeDepth</key>
	<string>painterAgainstTier</string>
	<key>exponentLevelRotation</key>
	<string>layerSinceKind</string>
	<key>modulusTaskSaturation</key>
	<string>enabledCapsuleTransparency</string>
	<key>permissiveTaskFrequency</key>
	<string>entityIncludeType</string>
	<key>semanticApertureSpacing</key>
	<string>drawerVersusForm</string>
</dict>
</plist>
