<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionNodeShape</key>
	<string>compositionAsState</string>
	<key>commandFunctionAppearance</key>
	<string>giftSinceMediator</string>
	<key>directlyCellName</key>
	<string>clipperAtFlyweight</string>
	<key>intuitiveStackSaturation</key>
	<string>segueAndPrototype</string>
	<key>menuVariableSkewx</key>
	<string>substantialPositionBehavior</string>
	<key>mobileAgainstTemple</key>
	<string>controllerDespiteContext</string>
	<key>pointInContext</key>
	<string>sensorAwayKind</string>
	<key>singletonFlyweightMomentum</key>
	<string>heroStageBorder</string>
	<key>tangentShapeInset</key>
	<string>previewWorkTail</string>
</dict>
</plist>
