<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedInkwellDirection</key>
	<string>movementScopeDensity</string>
	<key>featureValueDistance</key>
	<string>channelInWork</string>
	<key>nativeTabbarDistance</key>
	<string>buttonAroundFlyweight</string>
	<key>originalResourceTag</key>
	<string>materialStoreBehavior</string>
</dict>
</plist>
