<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonCommandPosition</key>
	<string>respectiveSegueOpacity</string>
	<key>finalGroupTag</key>
	<string>grainBridgeOpacity</string>
	<key>groupMediatorMargin</key>
	<string>heapAgainstOperation</string>
	<key>specifierAmongDecorator</key>
	<string>sizeWithoutLayer</string>
</dict>
</plist>
