<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitOutsidePrototype</key>
	<string>transformerStateBound</string>
	<key>cubitActionKind</key>
	<string>scrollableColumnValidation</string>
	<key>displayableIntegerMargin</key>
	<string>dependencyForShape</string>
	<key>granularIsolateCenter</key>
	<string>buttonFormColor</string>
	<key>interpolationForFacade</key>
	<string>queueTierContrast</string>
	<key>localCollectionRight</key>
	<string>geometricCardOffset</string>
	<key>sequentialStoreDepth</key>
	<string>materialDespiteDecorator</string>
</dict>
</plist>
