<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTextfieldTint</key>
	<string>chartVariableLeft</string>
	<key>chartPerKind</key>
	<string>dedicatedSubscriptionSkewy</string>
	<key>containerAgainstScope</key>
	<string>dimensionBesideAdapter</string>
	<key>cycleAndType</key>
	<string>sinkBesideScope</string>
	<key>largeCallbackPadding</key>
	<string>metadataStateAcceleration</string>
	<key>modelExceptInterpreter</key>
	<string>captionMethodType</string>
	<key>offsetVariableBorder</key>
	<string>specifyCertificateDistance</string>
	<key>presenterOrCommand</key>
	<string>particleVersusPattern</string>
	<key>storeByCycle</key>
	<string>titleParamMargin</string>
	<key>uniformTechniqueTension</key>
	<string>routerKindFormat</string>
</dict>
</plist>
