<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistPatternVisibility</key>
	<string>rowForPrototype</string>
	<key>composableConfigurationLocation</key>
	<string>radioNearObserver</string>
	<key>decorationStyleStyle</key>
	<string>originalGrayscaleSpeed</string>
	<key>eagerFlexDirection</key>
	<string>constraintWithoutLevel</string>
	<key>pointAboutOperation</key>
	<string>sinkAtComposite</string>
	<key>remainderCommandInteraction</key>
	<string>directBinaryTail</string>
	<key>rowCycleFormat</key>
	<string>iterativeAccessoryResponse</string>
</dict>
</plist>
