<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeValueInteraction</key>
	<string>threadDuringValue</string>
	<key>customTextfieldEdge</key>
	<string>gemAgainstMethod</string>
	<key>metadataNearPrototype</key>
	<string>sizedboxPerSingleton</string>
	<key>mutableScreenIndex</key>
	<string>transitionBridgeDensity</string>
</dict>
</plist>
