<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLikeTemple</key>
	<string>baseOutsideWork</string>
	<key>beginnerTweenBound</key>
	<string>asynchronousProfileState</string>
	<key>denseSegmentResponse</key>
	<string>vectorAlongTier</string>
	<key>optimizerTierRotation</key>
	<string>criticalEventInset</string>
	<key>positionedInsideWork</key>
	<string>layerParameterOrientation</string>
</dict>
</plist>
