<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentChainHead</key>
	<string>graphicSinceMediator</string>
	<key>constExtensionDirection</key>
	<string>layoutPlatformName</string>
	<key>elasticCupertinoTheme</key>
	<string>decorationAmongVar</string>
	<key>popupSinceForm</key>
	<string>iterativeZoneAlignment</string>
	<key>serviceDespiteLevel</key>
	<string>progressbarBesidePrototype</string>
</dict>
</plist>
