<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchFlyweightDirection</key>
	<string>themeParameterTension</string>
	<key>cardStyleTop</key>
	<string>viewAgainstFramework</string>
	<key>configurationMethodMomentum</key>
	<string>viewIncludeMediator</string>
	<key>coordinatorExceptPhase</key>
	<string>constraintAsVisitor</string>
	<key>hierarchicalChannelIndex</key>
	<string>protocolThanMethod</string>
	<key>mobileApertureDepth</key>
	<string>singletonStateFlags</string>
	<key>newestCubitTension</key>
	<string>popupTypeInterval</string>
	<key>pointInsideStyle</key>
	<string>gramAwaySystem</string>
	<key>scrollThanStyle</key>
	<string>easyGridFlags</string>
</dict>
</plist>
