<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderVarBound</key>
	<string>radiusStageEdge</string>
	<key>collectionProxyTop</key>
	<string>memberBesidePrototype</string>
	<key>crudeSceneOpacity</key>
	<string>methodShapeRight</string>
	<key>cupertinoCupertinoName</key>
	<string>borderEnvironmentSkewy</string>
	<key>decorationAtActivity</key>
	<string>binaryParameterAlignment</string>
	<key>grayscaleFunctionShape</key>
	<string>fixedUsageBrightness</string>
	<key>pageviewPlatformDirection</key>
	<string>chartThroughParam</string>
	<key>priorIntensityOrientation</key>
	<string>completerAsActivity</string>
	<key>routerParamTransparency</key>
	<string>mediumVariantTension</string>
</dict>
</plist>
