<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedScrollRight</key>
	<string>arithmeticTaskSkewx</string>
	<key>containerFunctionTheme</key>
	<string>inactiveHandlerIndex</string>
	<key>interactorOrParam</key>
	<string>instructionWithStructure</string>
	<key>menuSingletonBrightness</key>
	<string>allocatorDecoratorDirection</string>
	<key>metadataAgainstLevel</key>
	<string>tweenInVisitor</string>
	<key>optimizerSinceCommand</key>
	<string>alertEnvironmentVisible</string>
	<key>particleValueInteraction</key>
	<string>arithmeticInjectionEdge</string>
	<key>stepViaLayer</key>
	<string>controllerAboutState</string>
	<key>streamActivityLocation</key>
	<string>multiSkinBrightness</string>
</dict>
</plist>
