<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAlongOperation</key>
	<string>canvasStrategyInteraction</string>
	<key>hashInJob</key>
	<string>stateBridgeTransparency</string>
	<key>resourceValueTop</key>
	<string>responseAmongType</string>
	<key>screenAtDecorator</key>
	<string>layerThanScope</string>
	<key>viewThroughAdapter</key>
	<string>expandedAsPrototype</string>
</dict>
</plist>
