<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitLevelMode</key>
	<string>diversifiedMobxDuration</string>
	<key>buttonCompositeTint</key>
	<string>reducerInterpreterTop</string>
	<key>containerFrameworkType</key>
	<string>subscriptionOrWork</string>
	<key>cursorObserverAcceleration</key>
	<string>standaloneAspectratioBrightness</string>
	<key>factoryInsideMemento</key>
	<string>futureAmongBridge</string>
	<key>frameFacadeKind</key>
	<string>buttonInsideAdapter</string>
	<key>intermediateRowTag</key>
	<string>transformerCompositeEdge</string>
	<key>sineFromFunction</key>
	<string>primaryRectRight</string>
	<key>smallRoleFormat</key>
	<string>lastBatchScale</string>
	<key>substantialContainerEdge</key>
	<string>stepAwayShape</string>
</dict>
</plist>
