<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedManagerDensity</key>
	<string>handlerOrTask</string>
	<key>managerNearMemento</key>
	<string>lazyUtilTint</string>
	<key>statefulProxyCount</key>
	<string>previewVarDepth</string>
</dict>
</plist>
