<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousStreamTail</key>
	<string>eventParameterMargin</string>
	<key>awaitExceptFlyweight</key>
	<string>particleVariableOrientation</string>
	<key>extensionDecoratorFeedback</key>
	<string>profileIncludeVisitor</string>
	<key>hyperbolicDecorationLeft</key>
	<string>cacheFrameworkOffset</string>
	<key>interfaceSingletonName</key>
	<string>methodLayerMode</string>
	<key>sizeParameterHue</key>
	<string>prismaticCapacitiesDuration</string>
	<key>statelessHistogramOpacity</key>
	<string>semanticsExceptStructure</string>
	<key>tabbarCompositeAcceleration</key>
	<string>grayscaleTierKind</string>
</dict>
</plist>
