<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableParticleTail</key>
	<string>persistentStampHead</string>
	<key>enabledClipperState</key>
	<string>asyncFunctionBorder</string>
	<key>eventBridgeTension</key>
	<string>mobileByLayer</string>
	<key>flexibleControllerContrast</key>
	<string>segueVarAppearance</string>
	<key>independentIndicatorMode</key>
	<string>responsiveOptimizerType</string>
	<key>rowFromMethod</key>
	<string>modalMethodBrightness</string>
	<key>utilContextColor</key>
	<string>subtleGatePosition</string>
</dict>
</plist>
