<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAroundMode</key>
	<string>asyncForParameter</string>
	<key>controllerWithoutAdapter</key>
	<string>constAwaitColor</string>
	<key>interpolationAboutVisitor</key>
	<string>graphBesideType</string>
	<key>relationalUsecaseCoord</key>
	<string>borderContextMode</string>
	<key>resourceForOperation</key>
	<string>exponentLevelDepth</string>
</dict>
</plist>
