<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialSpecifierDuration</key>
	<string>tableVariableCount</string>
	<key>musicSinceDecorator</key>
	<string>reactiveProtocolMomentum</string>
	<key>otherGatePressure</key>
	<string>transitionPerComposite</string>
	<key>sequentialRectSize</key>
	<string>resolverInStyle</string>
</dict>
</plist>
