<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterViaObserver</key>
	<string>smallNotifierTail</string>
	<key>eventChainInset</key>
	<string>canvasWithoutMemento</string>
	<key>groupAmongWork</key>
	<string>custompaintMethodLeft</string>
	<key>lastDescriptionOffset</key>
	<string>repositoryInType</string>
	<key>temporarySubpixelAlignment</key>
	<string>symmetricConstraintBound</string>
	<key>tickerInterpreterMomentum</key>
	<string>optionWithoutObserver</string>
</dict>
</plist>
