<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineBesideLayer</key>
	<string>scaleFacadeCount</string>
	<key>builderParamOrigin</key>
	<string>spriteNearOperation</string>
	<key>channelsLikeEnvironment</key>
	<string>curveAndScope</string>
	<key>convolutionBufferSkewx</key>
	<string>checklistFrameworkEdge</string>
	<key>deferredManagerFormat</key>
	<string>completerFlyweightOffset</string>
	<key>immediateAwaitBottom</key>
	<string>topicSingletonSaturation</string>
	<key>playbackProxyScale</key>
	<string>hashMementoKind</string>
	<key>queueWorkForce</key>
	<string>equipmentUntilLayer</string>
	<key>routeAroundInterpreter</key>
	<string>mediumSpriteDensity</string>
	<key>topicTempleSpeed</key>
	<string>resultTaskName</string>
</dict>
</plist>
