<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeModelInteraction</key>
	<string>groupOrLayer</string>
	<key>decorationVarVisible</key>
	<string>assetModeKind</string>
	<key>decorationVariableIndex</key>
	<string>gramAroundSingleton</string>
	<key>layerDecoratorSkewx</key>
	<string>autoTickerOffset</string>
	<key>methodMementoSpacing</key>
	<string>eventMediatorInterval</string>
	<key>movementBeyondStage</key>
	<string>cubitSingletonAcceleration</string>
	<key>newestCubitOrigin</key>
	<string>sortedViewLocation</string>
	<key>positionedWithVar</key>
	<string>lastExponentName</string>
	<key>sustainableMusicStatus</key>
	<string>chartTaskAcceleration</string>
</dict>
</plist>
