<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCompositionFeedback</key>
	<string>custompaintAroundVariable</string>
	<key>asynchronousRouteRate</key>
	<string>sceneVarHue</string>
	<key>binaryDuringVariable</key>
	<string>cursorTaskInset</string>
	<key>interactiveIndicatorBorder</key>
	<string>responseNearMediator</string>
	<key>listenerDespiteType</key>
	<string>spotAtLayer</string>
	<key>mediumTransformerTension</key>
	<string>greatControllerName</string>
	<key>opaqueStoryboardForce</key>
	<string>tweenEnvironmentSkewx</string>
	<key>profileExceptParam</key>
	<string>curveOrActivity</string>
</dict>
</plist>
