<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetNumberTheme</key>
	<string>animatedcontainerPerFramework</string>
	<key>catalystMediatorType</key>
	<string>collectionParamTop</string>
	<key>deferredFactoryInset</key>
	<string>largeInterfaceDepth</string>
	<key>localizationScopeOpacity</key>
	<string>segmentActivitySpacing</string>
	<key>queueLevelLocation</key>
	<string>reducerPerLayer</string>
	<key>responsiveUtilHue</key>
	<string>getxContextTension</string>
</dict>
</plist>
