<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCubitLeft</key>
	<string>unsortedGridviewSaturation</string>
	<key>delegateKindBehavior</key>
	<string>memberForForm</string>
	<key>exceptionAboutScope</key>
	<string>managerNumberShade</string>
	<key>normalAspectratioInset</key>
	<string>priorityShapeSpacing</string>
	<key>numericalChecklistAcceleration</key>
	<string>subscriptionAtFacade</string>
	<key>pinchableDropdownbuttonRate</key>
	<string>tappableLayerDirection</string>
	<key>sliderNearMode</key>
	<string>keyTweenOrigin</string>
	<key>streamFromFlyweight</key>
	<string>missionAwayShape</string>
	<key>textFunctionFlags</key>
	<string>delegateAmongWork</string>
</dict>
</plist>
