<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStageOffset</key>
	<string>reactiveHashAlignment</string>
	<key>crucialTransformerSize</key>
	<string>stateMementoPadding</string>
	<key>logOperationForce</key>
	<string>unsortedSizeFormat</string>
	<key>navigationExceptVar</key>
	<string>tickerPerJob</string>
	<key>uniformAlphaBottom</key>
	<string>delegateStateRate</string>
	<key>vectorSingletonHue</key>
	<string>coordinatorDuringFramework</string>
</dict>
</plist>
