<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicStorageRate</key>
	<string>buttonBesideVar</string>
	<key>concurrentRowAcceleration</key>
	<string>comprehensiveMemberDensity</string>
	<key>consultativeViewLeft</key>
	<string>immutableButtonResponse</string>
	<key>featureFormDistance</key>
	<string>spotAwayMethod</string>
	<key>featureVisitorScale</key>
	<string>routerAlongStyle</string>
	<key>popupFlyweightIndex</key>
	<string>getxWithoutTemple</string>
	<key>primaryResultEdge</key>
	<string>positionedForFacade</string>
	<key>queryLayerState</key>
	<string>catalystBufferVisible</string>
	<key>rectByMediator</key>
	<string>gramDecoratorTheme</string>
	<key>tabbarStrategyDuration</key>
	<string>subpixelTaskDepth</string>
</dict>
</plist>
