<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAsyncShade</key>
	<string>mobxAwayMemento</string>
	<key>fixedCosineOrigin</key>
	<string>smartTextBottom</string>
	<key>layoutJobBottom</key>
	<string>spriteKindSpacing</string>
	<key>logarithmLayerSkewx</key>
	<string>dropdownbuttonBridgeBrightness</string>
	<key>resourceStrategyBehavior</key>
	<string>overlayAmongOperation</string>
</dict>
</plist>
