<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorObserverBehavior</key>
	<string>localizationShapeStyle</string>
	<key>hashChainTop</key>
	<string>exponentAsTier</string>
	<key>imageAwayContext</key>
	<string>memberOrCommand</string>
	<key>inkwellWithPrototype</key>
	<string>mutableAlphaHead</string>
	<key>smallModalShape</key>
	<string>relationalBehaviorSkewx</string>
	<key>textfieldWorkEdge</key>
	<string>fragmentTaskInterval</string>
</dict>
</plist>
