<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeOffsetOffset</key>
	<string>animatedcontainerThroughTier</string>
	<key>easyCharacterAppearance</key>
	<string>methodPatternMargin</string>
	<key>elasticResponseIndex</key>
	<string>synchronousMethodFlags</string>
	<key>frameSinceDecorator</key>
	<string>smartBoxColor</string>
	<key>intensityOutsideStrategy</key>
	<string>labelAsMediator</string>
	<key>labelMethodOrigin</key>
	<string>sliderWithoutJob</string>
	<key>localizationAndLayer</key>
	<string>isolateThanVariable</string>
	<key>mobilePainterForce</key>
	<string>draggableCubeHead</string>
	<key>notificationBufferStyle</key>
	<string>entityAboutMediator</string>
	<key>similarSubscriptionLeft</key>
	<string>mobxInsideMode</string>
</dict>
</plist>
