<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFromStyle</key>
	<string>positionBufferIndex</string>
	<key>easyNavigatorVisible</key>
	<string>compositionWithoutForm</string>
	<key>lazyInstructionIndex</key>
	<string>progressbarStrategyBorder</string>
	<key>sequentialWidgetFeedback</key>
	<string>bufferBesideCommand</string>
	<key>substantialDurationTransparency</key>
	<string>isolateActionColor</string>
	<key>usageUntilFlyweight</key>
	<string>usecaseInterpreterSkewx</string>
</dict>
</plist>
