<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeCoordinatorTransparency</key>
	<string>resizableObserverStyle</string>
	<key>displayableViewMomentum</key>
	<string>animatedBinaryLocation</string>
	<key>liteSlashDuration</key>
	<string>sizeActivityState</string>
	<key>menuLayerSkewx</key>
	<string>robustTextIndex</string>
	<key>momentumProcessInterval</key>
	<string>workflowForMediator</string>
</dict>
</plist>
