<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletPatternRotation</key>
	<string>aspectratioPerSystem</string>
	<key>catalystShapeVelocity</key>
	<string>storeActionVisibility</string>
	<key>concurrentStreamSkewx</key>
	<string>mediumAnimationResponse</string>
	<key>protectedMobxSkewy</key>
	<string>resolverSystemColor</string>
	<key>statelessConfigurationDirection</key>
	<string>materialBeyondPrototype</string>
	<key>storageUntilTier</key>
	<string>modelBeyondLevel</string>
	<key>tickerSystemSpeed</key>
	<string>graphicVersusBridge</string>
	<key>widgetActionBrightness</key>
	<string>storeBufferType</string>
</dict>
</plist>
