<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostCurveCount</key>
	<string>imageThanOperation</string>
	<key>paddingScopeLocation</key>
	<string>giftFrameworkValidation</string>
	<key>roleDecoratorLeft</key>
	<string>desktopMonsterSkewx</string>
	<key>serviceDuringChain</key>
	<string>assetForShape</string>
	<key>threadFromKind</key>
	<string>diversifiedDescriptionTransparency</string>
</dict>
</plist>
