<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDescriptionCoord</key>
	<string>gridviewMethodColor</string>
	<key>comprehensiveCanvasBound</key>
	<string>projectionFormLeft</string>
	<key>concreteColumnLocation</key>
	<string>routeBufferShade</string>
	<key>displayableChartFeedback</key>
	<string>momentumExceptStyle</string>
	<key>flexDuringBridge</key>
	<string>semanticPainterSaturation</string>
	<key>mainRectBound</key>
	<string>statelessDecorationEdge</string>
	<key>otherIntegerShape</key>
	<string>smartRouteStyle</string>
	<key>resolverInterpreterLocation</key>
	<string>activityAwayContext</string>
	<key>routerOrMode</key>
	<string>cardAroundKind</string>
</dict>
</plist>
