<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxyName</key>
	<string>sinkActionIndex</string>
	<key>channelByScope</key>
	<string>grayscaleOrVisitor</string>
	<key>easyLayoutTransparency</key>
	<string>statelessChartValidation</string>
	<key>hierarchicalChapterVisible</key>
	<string>statelessAnimationSkewy</string>
	<key>optionAwayFacade</key>
	<string>layoutSystemKind</string>
	<key>reusableAlignmentTag</key>
	<string>criticalSliderVelocity</string>
</dict>
</plist>
