<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertLikeLevel</key>
	<string>richtextObserverTag</string>
	<key>commandAwayTier</key>
	<string>fusedPresenterOpacity</string>
	<key>hardAssetRate</key>
	<string>textureExceptComposite</string>
	<key>imperativeNodeFeedback</key>
	<string>grainLikeObserver</string>
	<key>musicOrPattern</key>
	<string>channelForAction</string>
	<key>respectiveCompletionVisible</key>
	<string>loopIncludeSystem</string>
	<key>scrollableBinaryAppearance</key>
	<string>storageStateType</string>
	<key>sharedRouterName</key>
	<string>pivotalGridFormat</string>
	<key>tableAlongSystem</key>
	<string>pinchableViewStyle</string>
</dict>
</plist>
