<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentObserverStyle</key>
	<string>storeSinceStyle</string>
	<key>cursorInsideNumber</key>
	<string>previewContextState</string>
	<key>errorActivityShape</key>
	<string>scrollableMapBehavior</string>
	<key>permanentGraphLocation</key>
	<string>transitionAtType</string>
	<key>reusableViewHead</key>
	<string>subpixelAsParameter</string>
	<key>sharedGrayscaleBrightness</key>
	<string>collectionBesideActivity</string>
</dict>
</plist>
