<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedInterfaceBound</key>
	<string>parallelCommandDelay</string>
	<key>dedicatedResourceAcceleration</key>
	<string>dropdownbuttonNearInterpreter</string>
	<key>hashPhaseContrast</key>
	<string>overlayProcessPadding</string>
	<key>progressbarPhaseInteraction</key>
	<string>topicByPrototype</string>
	<key>singlePositionShade</key>
	<string>stampForMemento</string>
	<key>sizeAmongScope</key>
	<string>fusedLoopInterval</string>
	<key>widgetThroughMode</key>
	<string>otherCompleterMargin</string>
</dict>
</plist>
