<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAgainstPattern</key>
	<string>threadAsStrategy</string>
	<key>beginnerInteractorType</key>
	<string>lazyNotifierCoord</string>
	<key>cartesianOverlayShade</key>
	<string>resilientSpineColor</string>
	<key>clipperLayerBrightness</key>
	<string>descriptionCommandStatus</string>
	<key>delegateProcessEdge</key>
	<string>groupFrameworkCount</string>
	<key>denseSegueDensity</key>
	<string>resourceProcessResponse</string>
	<key>groupViaProxy</key>
	<string>sliderPhaseState</string>
	<key>listenerForBridge</key>
	<string>interactorVarInset</string>
	<key>particleAboutFunction</key>
	<string>buttonByTier</string>
	<key>storyboardAmongChain</key>
	<string>sinkScopeAlignment</string>
</dict>
</plist>
