<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasPrototypeFrequency</key>
	<string>nativeLossFormat</string>
	<key>descriptionAmongPhase</key>
	<string>tableEnvironmentColor</string>
	<key>flexibleButtonOrigin</key>
	<string>layoutStageVisible</string>
	<key>gradientAroundTier</key>
	<string>resizableContainerShade</string>
	<key>normOperationBound</key>
	<string>painterParamTop</string>
	<key>opaqueMetadataBorder</key>
	<string>euclideanInteractorTransparency</string>
	<key>shaderStateDistance</key>
	<string>storyboardParamSkewy</string>
	<key>smallAnimatedcontainerForce</key>
	<string>backwardCompletionSize</string>
	<key>transitionStructureAlignment</key>
	<string>asyncArithmeticPosition</string>
	<key>visibleMatrixEdge</key>
	<string>ignoredDimensionType</string>
</dict>
</plist>
