<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridOfTemple</key>
	<string>mediocreRouteCount</string>
	<key>nibPlatformRotation</key>
	<string>reducerActivityInteraction</string>
	<key>slashAtStrategy</key>
	<string>sineOfFramework</string>
	<key>staticModelOffset</key>
	<string>customizedShaderTransparency</string>
	<key>stepAtStrategy</key>
	<string>bufferAsTask</string>
</dict>
</plist>
