<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureParamHead</key>
	<string>roleBufferName</string>
	<key>boxshadowAtEnvironment</key>
	<string>timerPrototypeResponse</string>
	<key>constraintContextCoord</key>
	<string>monsterObserverCenter</string>
	<key>errorExceptEnvironment</key>
	<string>directErrorTint</string>
	<key>factoryViaPlatform</key>
	<string>blocAmongTier</string>
	<key>featureForMode</key>
	<string>intensityDecoratorBottom</string>
	<key>listenerJobLocation</key>
	<string>momentumSystemTint</string>
	<key>reactiveInteractorCenter</key>
	<string>gateShapeOrientation</string>
	<key>similarGraphShape</key>
	<string>vectorOperationLeft</string>
	<key>specifyTabbarAcceleration</key>
	<string>certificateEnvironmentRight</string>
</dict>
</plist>
