<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderUntilPhase</key>
	<string>pageviewThanDecorator</string>
	<key>curveVisitorInteraction</key>
	<string>coordinatorSinceParam</string>
	<key>diversifiedOperationMode</key>
	<string>appbarSystemBehavior</string>
	<key>permissiveAlphaScale</key>
	<string>constZoneVelocity</string>
	<key>smallTextfieldAlignment</key>
	<string>intermediateReducerTransparency</string>
</dict>
</plist>
