<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGraphTheme</key>
	<string>asyncPhaseOffset</string>
	<key>asynchronousTickerTint</key>
	<string>activatedMediaqueryOrigin</string>
	<key>clipperParamTension</key>
	<string>uniformColumnCenter</string>
	<key>desktopPositionShade</key>
	<string>concreteSceneLeft</string>
	<key>diversifiedConvolutionPressure</key>
	<string>requestDespiteScope</string>
	<key>elasticChannelsFlags</key>
	<string>resourceCompositeContrast</string>
	<key>interpolationProxyVelocity</key>
	<string>blocDuringFunction</string>
	<key>localAnimatedcontainerOffset</key>
	<string>tweenFunctionInteraction</string>
	<key>originalEqualizationLocation</key>
	<string>publicTransformerCount</string>
	<key>titleAsPrototype</key>
	<string>invisibleRowSize</string>
</dict>
</plist>
