<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionContainStrategy</key>
	<string>loopFrameworkFrequency</string>
	<key>declarativeDurationShade</key>
	<string>vectorAboutAction</string>
	<key>gridTypeMode</key>
	<string>drawerForStructure</string>
	<key>histogramExceptChain</key>
	<string>heapCompositeForce</string>
	<key>isolateStylePosition</key>
	<string>storeMethodStyle</string>
	<key>radioKindBrightness</key>
	<string>gridviewFromStage</string>
</dict>
</plist>
