<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEntityInteraction</key>
	<string>agileGroupOffset</string>
	<key>anchorThroughStrategy</key>
	<string>apertureCompositeShade</string>
	<key>concreteHashMargin</key>
	<string>cupertinoIncludeInterpreter</string>
	<key>layoutDuringValue</key>
	<string>precisionDespiteCommand</string>
	<key>pinchableContractionStyle</key>
	<string>interfaceInFacade</string>
	<key>sustainableAsyncCenter</key>
	<string>resourceOfDecorator</string>
</dict>
</plist>
