<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureEnvironmentDirection</key>
	<string>pinchableBoxLocation</string>
	<key>getxOfBuffer</key>
	<string>prismaticBlocOffset</string>
	<key>toolAgainstForm</key>
	<string>viewFromStrategy</string>
	<key>vectorForTemple</key>
	<string>subscriptionAndBridge</string>
</dict>
</plist>
